# Imports, Functions & Testing

In [1]:
import pandas as pd
import numpy as np
import requests
import re
import pickle
import reload
from bs4 import BeautifulSoup

In [2]:
def wiki_senate_scraper():
    import pandas as pd
    import numpy as np
    import requests
    from bs4 import BeautifulSoup
    
    ## Starting page + Q.C. of response
    start_url = 'https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections'
    start_resp = requests.get(start_url)
    print(f'Starting Response: {start_resp}')
    
    ## Creating soup + pulling all links for senate elections after 17th amendment
    start_soup = BeautifulSoup(start_resp.text, 'html.parser')
    start_links = start_soup.findAll('a')
    start_sen_links = start_links[78:134] ## Previously located
    
    ## Base of url for all senate election pages
    base_url = 'https://en.wikipedia.org'
    
    ## Loop same process for all links + storage
    yr_dfs = {}
    yr_tocs = {}
    count = 0
    for link in start_sen_links:

        ## Q.C during execute
        count += 1
        if count in [25, 50]:
            print('Checkpoint! (25 loops)')
        
        ## Collecting strings for use
        end_url = link.get('href')
        year = link.get_text()
        full_url = base_url + end_url
        
        ## Making soup + collecting all tables
        link_resp = requests.get(full_url)
        link_soup = BeautifulSoup(link_resp.text, 'html.parser')
        link_tables = link_soup.findAll('table', attrs={'class': ['wikitable', 'infobox vevent', 'infobox']})
        
        ## Collecting list of states with elections in each year
        link_toc = link_soup.find('div', attrs={'id':'toc'})
        link_toc = link_toc.findAll('a', href=is_state)
        toc_list = [tag.get('href').replace('#', '') for tag in link_toc]
        
        ## Converting to dataframe + storage
        elect_df = pd.read_html(str(link_tables))
        yr_dfs[year] = elect_df
        yr_tocs[year] = toc_list
    
    print(f'Total pages scraped: {count}')
    return yr_dfs, yr_tocs

## https://www.crummy.com/software/BeautifulSoup/bs4/doc/#kinds-of-filters

In [3]:
def is_state(href):
    states_list = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 
                   'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
                   'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
                   'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                   'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                   'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New_Hampshire',
                   'New_Jersey', 'New_Mexico', 'New_York', 'North_Carolina',
                   'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
                   'Rhode_Island', 'South_Carolina', 'South_Dakota',
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
                   'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming']
    for state in states_list:
        if state in href:
            return href

In [4]:
def election_collector(dict_tables, dict_lists, yr_end='2020'):
    
    ## Requirement of proper dictionaries
    if dict_tables.keys() != dict_lists.keys():
        print('**WARNING**')
        print('Keys do not match in dictionaries passed. Adjust and try again.')
        return '***'*10
    
    ## Containers for results
    coll_elects = {}
    
    ## List creation for looping through dicts
    yr_list = list(dict_lists.keys())
    
    ## Looping + storage
    for year in yr_list:
        if year == yr_end:
            break
        print('***'*10)
        print(f"Collecting {year}'s elections...")
        yr_tables = dict_tables[year]
        yr_toc = dict_lists[year]
        
        ## Creating containers to further separate data
        yr_sum_ldrs = yr_tables[2]
        most_tables = yr_tables[3:]
        yr_summary = []
        yr_states = []
        count = 0
        
        for i, df in enumerate(most_tables):
            if count < 1:
                if year == '2018':
                    count += 1
                    yr_summary.append(yr_tables[10])
                    yr_summary.append(yr_tables[11])
                    continue
                elif df.shape[1] is 6 and most_tables[i+1].shape[1] is 6:
                    count += 1
                    yr_summary.append(most_tables[i])
                    yr_summary.append(most_tables[i+1])
                    continue
                elif df.shape[1] is 6:
                    count += 1
                    yr_summary.append(most_tables[i])
            
            if df.shape[1] in [4,5,6] and df.shape[0] <= 15:
                yr_states.append(most_tables[i])
        
        coll_elects[year] = [yr_sum_ldrs, yr_summary, yr_states]
        
    print('\n')
    print('---'*20)
    disp_yrs = list(coll_elects.keys())
    print(f'Collection Complete: Data is for {disp_yrs[0]} - {disp_yrs[-1]}')
    print('---'*20)
    return coll_elects

In [5]:
def yr_summary_collector(election_collection):
    
    ## Container for results
    yr_summaries = {}
    
    ## Extraction as a list for iteration
    for year in election_collection:
        elect_list = [election_collection[year]]
        
        ## Looping through year's collection
        for coll in elect_list:
            ## Container for mid-results
            holder = []
            ## Looping through each table in 'year summary' group
            for table in coll[1]:
                ## Variable to filter unwanted tables out
                has_elected = False
                ## Looping through each row in 'results' column (idx 4)
                for u in table.iloc[:,4]:
                ## Checking for str to 'flag' table as collectable
                    if isinstance(u, str) and 'elected' in u:
                        has_elected = True
                if has_elected == True:
                    holder.append(table)
            ## Check if multiple tables in 'year summary' group
            if len(holder) > 1:
                is_match = holder[0].iloc[1,:] == holder[1].iloc[1,:]
                ## Check if tables have matching headers for special 
                ## election years + storage
                if is_match.sum() in [2,3]:
                    fin_tab = holder[1].append(holder[0], ignore_index=True)
                    yr_summaries[year] = fin_tab
            ## Storage of non-special election years
            else:
                try:
                    yr_summaries[year] = holder.pop()
                except:
                    continue
        
    return yr_summaries

In [6]:
def ref_tabler(summary_df, mod_df=True):
    ## Containers for mid-results
    st_list = []
    sntr_list = []
    
    ## Looping through states' names
    for state in summary_df['State']:
        ## Check/replace spaces with '_' + storage
        if ' ' in state:
            fmt_state = state.replace(' ', '_')
            st_list.append(fmt_state)
        else:
            st_list.append(state)
    ## Looping + storing senator names
    for name in summary_df['Senator']:
        sntr_list.append(name)

    ## Dataframe with Sentors as index + states as values
    state_ref_df = pd.DataFrame({'State_id':st_list, 'Incumbent':sntr_list})
    #state_ref_df.columns = ['State_id']
    
    ## Modifying list of states to that of the ref table OR not + return
    if mod_df:
        summary_df['State'] = st_list
        return summary_df, state_ref_df
    else:
        return state_ref_df

In [7]:
def master_tabler(yr_summary_dict):

    holder = []

    for year in yr_summary_dict:
        holder.append(yr_summary_dict[year][1])

    name_lookup_df = pd.concat(holder, ignore_index=True)
    
    return name_lookup_df

In [8]:
def yr_sum_formatter(yr_sum_dict, ref_table=True):
    ## Container for results + column helper
    res_dict = {}
    df_cols = ['State', 'Senator', 'Party', 'Electoral_History', 'Results', 'Candidates']
    
    ## Looping to each year's summary table
    for year in yr_sum_dict:
        ## Setting copy to modify + setting columns + rows to remove
        summary_df = yr_sum_dict[year].copy()
        summary_df.columns = df_cols
        drop_1 = summary_df.iloc[0]
        drop_2 = summary_df.iloc[1]
        
        ## Removing rows that match 'drop_' rows (former column info)
        for idx, row in summary_df.iterrows():
            if drop_1.equals(row):
                summary_df.drop(idx, inplace=True)
            elif drop_2.equals(row):
                summary_df.drop(idx, inplace=True)
        
        ## Resetting index to rangeIndex
        summary_df.reset_index(drop=True, inplace=True)
        
        ## Storing State-Senator lookup dataframe OR not
        if ref_table:
            summary_df, state_ref_df = ref_tabler(summary_df)
            state_ref_df['Year'] = year
            res_dict[year] = [summary_df, state_ref_df]    
        else:
            res_dict[year] = summary_df
        
    ## Return results
    return res_dict

In [9]:
def st_election_cleaner(dict_of_lists, exclude=[]):
    st_gens_cln = {}

    for year in dict_of_lists:
        if year in exclude:
            continue
        coll = dict_of_lists[year]
        holder = []
        
        for table in coll:
            if table.shape[1] in [5,6]:
                try:
                    table_cln = st_election_formatter(table)
                    holder.append(table_cln)
                except KeyError as e:
                    print(f'Error!! {e}')
                    print(f'Year affected: {year}')
                    display(table)
        
        st_gens_cln[year] = holder
        
    return st_gens_cln

In [10]:
def st_election_collector(election_collection):
    
    ## Container for results
    st_elects = {}
    
    ## Extraction of each year's state elections
    for year in election_collection:
        elect_list = election_collection[year]
        st_elects[year] = elect_list[2]
        
    return st_elects

In [11]:
def st_election_formatter(df):
    df_cln = df.copy()
    
    cols = ['Drop']
    cols.extend(df_cln.iloc[0,:-1])
    df_cln.columns = cols
    df_cln.drop(0, inplace=True)
    
    for i, v, na in zip(df_cln.index, df_cln['Drop'], df_cln['Drop'].isna()):
        if not na:
            df_cln[v] = df_cln['Party'][i]
            
    df_cln.drop(columns='Drop', inplace=True)
    
    for col in df_cln:
        df_cln_height = df_cln.shape[0]
        df_cln_nNA = df_cln[col].isna().sum()
        
        if df_cln_nNA == df_cln_height:
            df_cln.drop(columns=col, inplace=True)
            
        elif df_cln_height == 2 and df_cln_nNA > 0:
            df_cln.dropna(axis=0, inplace=True)
            
        elif df_cln_nNA == (df_cln_height-1) and df_cln_nNA > 0:
            df_cln.drop(columns=col, inplace=True)
            
        elif df_cln_nNA > 0:
            for i, v, na in zip(df_cln.index, df_cln[col], df_cln[col].isna()):
                if na:
                    df_cln.drop(i, inplace=True)
    
    return df_cln

In [12]:
def table_checker(list_=None, dict_=None):
    if not list_ and not dict_:
        print('---'*20)
        print('Error! Must enter either List or Dictionary.')
        print('---'*20)
        
    if list_ and not dict_:
        slice_ = input('Index(ices) to slice:')
        try:
            res = list_[slice_]
            return res
        except:
            print(f'Error! List slice {slice_}.')
            
    if dict_ and not list_:
        key_ = input('Key to pull:')
        try:
            res = dict_[key_]
            return res
        except:
            print(f'Error! Dictionary key {key_}')

# Initial Data

> [Link to Dataset](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/PEJ5QU)

In [ ]:
df = pd.read_csv('dataverse_files/1976-2018-senate.csv', encoding='latin-1')
df.head()

In [ ]:
df.info()

In [ ]:
df[(df['state_po'] == 'AZ') & (df['year'] == 1976)]

In [ ]:
# len(df[df['candidate'].isna()])

# df['writein'].value_counts()

# for col in df:
#     display(df[col].value_counts())

# pd.Series.value_counts()

# Additional Data

Current set of features includes:
* Year of election
* State (encoded)
*

> [Link to Brookings](https://www.brookings.edu/multi-chapter-report/vital-statistics-on-congress/)

> [Link to BallotPedia](https://ballotpedia.org/Legislative_Branch)

> [Link to WikiPedia](https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections)

> [Link to Wiki-Category (U.S. Senator)](https://commons.wikimedia.org/wiki/Category:Senators_of_the_United_States)

## Testing tables 'infobox vevent'

In [ ]:
# url3 = 'https://en.wikipedia.org/wiki/1978_United_States_Senate_elections'
# response3 = requests.get(url3)
# print(response3)

# soup3 = BeautifulSoup(response3.text, 'html.parser')
# wiki_tables3 = soup3.findAll('table', attrs={'class': ['wikitable', 'infobox vevent']})

# print(type(wiki_tables3))

# test_df3 = pd.read_html(str(wiki_tables3))

# tester = test_df3[0]

In [ ]:
# https://stackoverflow.com/questions/27156278/index-pandas-dataframe-by-column-numbers-when-column-names-are-integers
# tester.columns = ['a', 'b', 'c']
# display(tester.iloc[6:18,0:3])

# display(test_df3[2])

In [ ]:
# url = 'https://en.wikipedia.org/wiki/1976_United_States_Senate_elections'
# response = requests.get(url)
# print(response)

# soup = BeautifulSoup(response.text, 'html.parser')
# wiki_tables = soup.findAll('table', attrs={'class': 'wikitable'})

# type(wiki_tables)

In [ ]:
# test_df = pd.read_html(str(wiki_tables))
# display(test_df[0])

# len(test_df)

## Pulling state election tables

In [ ]:
# ## Pulling Arizona gen election results
# tester = test_df[5].copy()
# print('O.G. Copy:')
# print('---'*20)
# display(tester)

# ## Setting columns manually + Q.C.
# tester.columns = ['Null', 'Party', 'Candidate', 'Votes', '%of_Vote']
# print('\nNew Column Headers:')
# print('---'*20)
# display(tester)

# ## Dropping irrelevant information + Q.C.
# tester.drop(index=[0, 6, 8], inplace=True)
# print('\nDropping Rows:')
# print('---'*20)
# display(tester)

# ## Flip and place Turnout as its own feature + Q.C.
# for idx, v, k in zip(tester.index, tester.Null, tester.Null.isna()):
#     if not k:
#         #print(idx, v)
#         tester[v] = tester.Party[idx]

# ## Removing the row with turnout info/column with nulls + Q.C.
# try:
#     tester.drop(columns='Null', index=7, inplace=True)
#     print('\nFinal Version:')
#     print('---'*20)
#     display(tester)
# except:
#     print('Something went wrong!')

In [ ]:
# type(tester['Votes'][5]) # str

In [ ]:
# tester2 = gen_election_cleaner(test_df[6], verbose=2)

In [ ]:
# test_df[-1]

In [ ]:
# url2 = 'https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections'
# response2 = requests.get(url2)
# print(response2)

In [ ]:
# url2 = 'https://en.wikipedia.org/wiki/2018_United_States_Senate_elections'
# response2 = requests.get(url2)
# print(response2)

In [ ]:
# soup2 = BeautifulSoup(response2.text, 'html.parser')
# wiki_toc = soup2.find('div', attrs={'id':'toc'})
# wiki_toc = wiki_toc.findAll('a', href=is_state)
# display(wiki_toc[0:5])
# jiji = wiki_toc[0:5]

# jiji = [tag.get('href').replace('#', '') for tag in jiji]
# jiji = jiji
# jiji

## Working

In [ ]:
# test = wiki_links[78:134]
# beeb = test[0].get_text()
# geeb = 'https://en.wikipedia.org'
# geeb + beeb

In [ ]:
# display(elect_yr_dfs.keys())
# display(elect_yr_tocs.keys())
# display(len(elect_yr_dfs) == len(elect_yr_tocs))
# elect_yr_dfs.keys() != elect_yr_tocs.keys()
# list(elect_yr_dfs.keys())

In [ ]:
# elect_yr_dfs['1918']

In [ ]:
# elect_yr_tocs['1918']

In [ ]:
# year = '1924'

# for i, df in enumerate(elect_yr_dfs[year]):
#     print(i, df.shape)

# display(elect_yr_dfs[year][10])
# elect_yr_dfs[year][10].shape[1] is 6

In [ ]:
# koko = {v:elect_yr_dfs[v] for v in ['1918', '1924', '1976', '2016', '2018']}
# lplp = {v:elect_yr_tocs[v] for v in ['1918', '1924', '1976', '2016', '2018']}

In [ ]:
# year = '2016'

# for v in ftft[year]:
#     print(len(v))
    
# ftft[year][1]

In [ ]:
# yuyu = test_res[-1].append(test_res[-2], ignore_index=True)
# yuyu

In [ ]:
# yuyu = test_res[-1].iloc[1,:] == test_res[-2].iloc[1,:]
# yuyu.sum()

In [ ]:
# len(test_res)

## Getting it together

* In 2016, year summary is index 10 no shape conflict
* In 2018, year summary tables are index 10, 11
* In 2020, year summary tables are index 10, 11 but no shape conflict
* In 2022, year summary **is not worth it**

In [ ]:
# for i, table in enumerate(elect_yr_tables['2018']):
#     print(f'Table {i}:')
#     display(table)
#     if i == 15:
#         break

In [ ]:
# for u in election_collection_raw[year][1][0].iloc[:,4]:
#     if isinstance(u, str) and 'elected' in u:
#         print('faslidfjasedfhaedfng')
        
# for u in election_collection_raw[year][1][1].iloc[:,4]:
#     if isinstance(u, str) and 'elected' in u:
#         print('faslidfjasedfhaedfng')

In [ ]:
# print(election_collection_raw[year][1][0].shape)
# print(election_collection_raw[year][1][1].shape)

In [ ]:
# test_list = [election_collection_raw[year][2][8], election_collection_raw[year][2][3]]
# for u in test_list:
    
#     display(u.iloc[:,2])

In [ ]:
# elect_yr_tables, elect_yr_tocs = wiki_senate_scraper()

# election_collection_raw = election_collector(elect_yr_tables, elect_yr_tocs)

In [ ]:
# election_collection_raw[year][1][1]
# for i, df in enumerate(election_collection_raw[year][2]):
#     display(df)
# elect_yr_tables['2006'][3:]

## Loading `Election_Collection`

In [ ]:
# with open('election_collection_raw.pickle', 'wb') as f:
#     pickle.dump(election_collection_raw, f)
#     f.close()

with open('election_collection_raw.pickle', 'rb') as f:
    election_collection_raw = pickle.load(f)
    f.close()

## Must do this befor running code for state elections. Error in code
do_not_use = election_collection_raw['2018'][2].pop(0)

## Separation/Cleaning

### Testing

In [ ]:
# test_res_dict = yr_sum_formatter(test_res)
# for table in test_res_dict['2008']:
#     display(table)

In [ ]:
# year = '2006'

# display(election_collection_raw.keys())
# print('\n')
# for grp in election_collection_raw[year]:
#     print(len(grp))
# print('\n')
# display(election_collection_raw[year][0])
# display(election_collection_raw[year][1])
# display(election_collection_raw[year][2])

In [ ]:
# test_list = []
# test_list.append(election_collection_raw['1918'])
# test_list.append(election_collection_raw['1920'])
# test_list.append(election_collection_raw['1976'])
# test_list.append(election_collection_raw['2006'])
# test_list.append(election_collection_raw['2008'])

# test_list = ['1918', '1920', '1976', '2006', '2008']
# test_dict = {}
# for year in test_list:
#     test_dict[year] = election_collection_raw[year]
# test_dict['2008']

In [ ]:
# type(election_collection_raw['1994'])

In [ ]:
# print(type(election_collection_raw['1920']))
# print(type(election_collection_raw['1976']))
# type(test_res['1920'])

In [ ]:
# test_res = yr_summary_collector(test_dict)
# for t in test_res:
#     display(test_res[t])

In [ ]:
# def gen_election_cleaner(df, verbose=1):
#     import pandas as pd
    
#     df_cln = df.copy()
    
#     if verbose in [1,2]:
#         ## Printing startpoint
#         print('O.G. Copy:')
#         print('---'*20)
#         display(df_cln)

#     ## Setting columns manually + Q.C.
#     df_cln.columns = ['Null', 'Party', 'Candidate', 'Votes', '%of_Vote']
#     if verbose == 2:
#         print('\nNew Column Headers:')
#         print('---'*20)
#         display(df_cln)

#     ## Dropping irrelevant information + Q.C.
#     df_cln.drop(index=[0, 6, 8], inplace=True)
#     if verbose == 2:
#         print('\nDropping Rows:')
#         print('---'*20)
#         display(df_cln)

#     ## Flip and place Turnout as its own feature + Q.C.
#     for idx, v, k in zip(df_cln.index, df_cln['Null'], df_cln['Null'].isna()):
#         if not k:
#             df_cln[v] = df_cln['Party'][idx]

#     ## Removing the row with turnout info/column with nulls + Q.C.
#     df_cln.drop(columns='Null', index=7, inplace=True)
#     if verbose in [1,2]:
#         print('\nFinal Version:')
#         print('---'*20)
#         display(df_cln)

#     return df_cln

### Working..

**To map the tables to states I need to:**
* Loop through `election_collection_raw`
* Grab each section of state summaries
* Loop through each section
* Clean each state summary
* Place into container
* Loop through container
* Map each senator to the state
* Update table

In [ ]:
# year = '1994'

# for i, table in enumerate(election_collection_raw[year][2]):
#     print(i)
#     display(table)

# ## Confirmed idx 7, 9, 14 yr 1994
# test_5 = election_collection_raw[year][2][4]
# test_5

# # pd.DataFrame.drop()
# print(f'DF shape: {test_5.shape}')
# st_election_formatter(test_5)

# yr_st_dict['1994']
# yr_st_elects['2018'][0]

# display(yr_sum_dict['2020'])

In [15]:
## This works for all years up until 2018 (doesnt have these tables)
yr_sum_tables = yr_summary_collector(election_collection_raw)
yr_sum_dict = yr_sum_formatter(yr_sum_tables)
name_lookup_df = master_tabler(yr_sum_dict)

# display(name_lookup_df['Year'].unique())
print(len(name_lookup_df['Year'].unique()))
print(name_lookup_df.shape) #1899, 3
# name_lookup_df.head(10)

yr_st_elects = st_election_collector(election_collection_raw)
print(len(yr_st_elects))
yr_st_dict = st_election_cleaner(yr_st_elects)

In [24]:
def st_election_aggregator(dict_of_lists):
    
    ## Container for results
    res_dict = {}
    
    ## Looping thorough dict, setting each key as list to iterate over
    for year in dict_of_lists:
        year_list = dict_of_lists[year]
        holder = []
        
        ## Looping through each year pulling state generals
        for table in year_list:
            if len(table['Party'].unique()) > 1:
                display(table)
                holder.append(table)
                
        ## Try/except incase a year doesn't have that info
        ## Concats and stores final df into res_dict
        try:
            yr_df = pd.concat(holder, sort=False, ignore_index=True)
            res_dict[year] = yr_df
        except ValueError as e:
            print(f'{e}! Year {year}')
            res_dict[year] = holder
    
    return res_dict

In [19]:
def st_election_state_mapper(dict_of_dfs, lookup_ref):
    
    new_dict = {}

    ## Loop through keys i.e. years + container for cleaning
    for year in dict_of_dfs:
        #holder = []
        ## Loop through each election table + set col for incumbents
        if isinstance(dict_of_dfs[year], pd.DataFrame):
            table = dict_of_dfs[year]
            
            try:
                table['Incumb_Y'] = 0
                table['State'] = None
                if 'Candidate' in table.columns:
                    ## Iterate over candidate's names 
                    for i, name in enumerate(table['Candidate']):
                        ## Check if incumbent + prep for state lookup
                        if '(Incumbent)' in name:
                            name = name.replace(' (Incumbent)', '')
                            table['Incumb_Y'].iloc[i] = 1

                        ## Helps to determine which are general elections + adding state
                        if name in list(lookup_ref['Incumbent']):
                            state = name_lookup_df[lookup_ref['Incumbent'] == name].copy()
                            state_n = state['State_id'].values

                            ## Accounting for special elections
                            for st in state_n:
                                if not '(' in st:
                                    table['State'][i] = st

            except Exception as e:
                    print(f'Year:{year}, {e}, {e.args}')
                    display(table)
                    keep = input('Error with build, keep table? (Y/N):')
                    if keep is 'Y':
                        new_dict[year] = table
                        print(f'Table {year} saved!')
                    elif keep is 'N':
                        break

            ## Storing each table for that year
            #holder.append(table)

            ## Storing year into dictionary
            new_dict[year] = table
        
    return new_dict

In [20]:
# st_election_state_mapper({'test':test}, name_lookup_df)

In [ ]:
yr_st_dict_joined = st_election_aggregator(yr_st_dict)
print(('---'*10)+'Step 1 Complete!'+('---'*10))
# yr_st_dict_mapped = st_election_state_mapper(yr_st_dict_joined, name_lookup_df)

No objects to concatenate! Year 1914
No objects to concatenate! Year 1916
No objects to concatenate! Year 1918

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Oscar Underwood (Incumbent)  154664  66.10%    77327  233985
2  Republican               L. H. Reynolds   77337  33.05%    77327  233985
3   Socialist                A. M. Forsman    1984   0.85%    77327  233985

        Party            Candidate   Votes       % Majority Turnout
1  Democratic  James Thomas Heflin  160680  69.27%    92220  231960
2  Republican       C. P. Lunsford   68460  29.51%    92220  231960
3   Socialist     W. H. Chichester    2820   1.22%    92220  231960

        Party                    Candidate  Votes       % Majority Turnout
1  Republican             Ralph H. Cameron  35893  55.17%     6724   65062
2  Democratic  Marcus A. Smith (Incumbent)  29169  44.83%     6724   65062

        Party            Candidate   Votes       % Majority Turnout
1  Democratic  Thaddeus H. Caraway  126477  65.92%    61096  191858
2  Republican      Charles F. Cole   65381  34.08%    61096  191858

         Party                    Candidate   Votes       % Majority Turnout
1   Republican         Samuel M. Shortridge  447835  49.01%    76255  913728
2   Democratic  James D. Phelan (Incumbent)  371580  40.67%    76255  913728
3  Prohibition             James S. Edwards   57768   6.32%    76255  913728
4    Socialist              Elvina S. Beals   36545   4.00%    76255  913728

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Samuel D. Nicholson,156577,54.52%,43687,287173
2,Democratic,Tully Scott,112890,39.31%,43687,287173
3,FarmerLabor,G. F. Stevens,9041,3.15%,43687,287173
4,National,Charles S. Thomas (incumbent),8665,3.02%,43687,287173

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Frank B. Brandegee (Incumbent),216792,59.36%,84968,365188
2,Democratic,Augustine Lonergan,131824,36.10%,84968,365188
3,Socialist,Martin F. Plunkett,10118,2.77%,84968,365188
4,Prohibition,Emil L. G. Hohenthal,2892,0.79%,84968,365188
5,FarmerLabor,Josephine B. Bennett,2076,0.57%,84968,365188
6,Socialist Labor,Charles J. Backofen,1486,0.41%,84968,365188

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Duncan U. Fletcher (Incumbent),98957,69.50%,61892,142394
2,Republican,John Moses Cheney,37065,26.03%,61892,142394
3,Socialist,M. J. Martin,3525,2.48%,61892,142394
4,Republican (White),G. A. Klock,2847,2.00%,61892,142394

                    Party         Candidate   Votes       % Majority Turnout
1              Democratic  Thomas E. Watson  124630  94.90%   117930  131330
2  Pro-League Independent  Harry S. Edwards    6700   5.10%   117930  131330

        Party                   Candidate  Votes       % Majority Turnout
1  Republican            Frank R. Gooding  75985  54.08%    11472  140498
2  Democratic  John F. Nugent (Incumbent)  64513  45.92%    11472  140498

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William B. McKinley,1381384,66.83%,827012,2067045
2,Democratic,Peter A. Waller,554372,26.82%,827012,2067045
3,Socialist,Gustave T. Fraenckel,66463,3.22%,827012,2067045
4,FarmerLabor,John Fitzpatrick,50749,2.46%,827012,2067045
5,Prohibition,Frank B. Vennum,10186,0.49%,827012,2067045
6,Socialist Labor,Joseph B. Moody,3107,0.15%,827012,2067045
7,Single Tax,George Dodd Carrington Jr.,784,0.04%,827012,2067045

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,James Eli Watson (Incumbent),681851,54.57%,167660,1249564
2,Democratic,Thomas Taggart,514191,41.15%,167660,1249564
3,Socialist,Francis M. Wampler,23395,1.87%,167660,1249564
4,FarmerLabor,Francis J. Dillon,16804,1.34%,167660,1249564
5,Prohibition,Culla Bayhinger,13323,1.07%,167660,1249564

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Albert B. Cummins (Incumbent),528499,61.42%,206484,860467
2,Democratic,Claude R. Porter,322015,37.42%,206484,860467
3,FarmerLabor,H. W. Cowles,9020,1.05%,206484,860467
4,Socialist Labor,Arthur S. Dowler,933,0.11%,206484,860467

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Charles Curtis (Incumbent)  327072  64.01%   156629  510932
2  Democratic            George H. Hodges  170443  33.36%   156629  510932
3   Socialist                   Dan Beedy   13417   2.63%   156629  510932

        Party                     Candidate   Votes       % Majority Turnout
1  Republican              Richard P. Ernst  454226  50.28%     4982  903470
2  Democratic  J. C. W. Beckham (Incumbent)  449244  49.72%     4982  903470

         Party                      Candidate   Votes       % Majority Turnout
1   Republican                Ovington Weller  184999  47.29%    15799  391210
2   Democratic  John Walter Smith (Incumbent)  169200  43.25%    15799  391210
3  Independent              G. D. Iverson Jr.   21345   5.46%    15799  391210
4    Socialist               William A. Toole    6559   1.68%    15799  391210
5  Independent             William A. Hawkins    6538   1.67%    15799  391210
6        Labor               Frank N. H .Lang    2569   0.66%    15799  391210

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Selden P. Spencer (Incumbent),711161,53.65%,121663,1325494
2,Democratic,Breckinridge Long,589498,44.47%,121663,1325494
3,Socialist,Elias F. Hidges,20002,1.51%,121663,1325494
4,Farm Workers,Mallett,3158,0.24%,121663,1325494
5,Socialist Labor,Trudell,1675,0.13%,121663,1325494

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Tasker Oddie,11550,42.11%,1148,27427
2,Democratic,Charles B. Henderson (Incumbent),10402,37.93%,1148,27427
3,Independent,Anne Henrietta Martin,4981,18.16%,1148,27427
4,Socialist,James Jepson,494,1.80%,1148,27427

        Party                    Candidate  Votes       % Majority Turnout
1  Republican  George H. Moses (Incumbent)  90173  57.72%    25135  156215
2  Democratic     Raymond Bartlett Stevens  65038  41.63%    25135  156215
3   Socialist           William H. Wilkins   1004   0.64%    25135  156215

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,James Wolcott Wadsworth Jr. (Incumbent),1434393,52.36%,533083,2739237
2,Democratic,Harry C. Walker,901310,32.90%,533083,2739237
3,Socialist,Jacob Panken,208155,7.60%,533083,2739237
4,Prohibition,Ella A. Boole,159623,5.83%,533083,2739237
5,FarmerLabor,Rose Schneiderman,27934,1.02%,533083,2739237
6,Socialist Labor,Harry Carlson,7822,0.29%,533083,2739237

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic  Lee Slater Overman (Incumbent)  310504  57.52%    81161  539847
2  Republican                    A. E. Holton  229343  42.48%    81161  539847

        Party      Candidate   Votes       % Majority Turnout
1  Republican  Edwin F. Ladd  130614  59.61%    42109  219109
2  Democratic    H. H. Perry   88495  40.39%    42109  219109

         Party                 Candidate    Votes       % Majority  Turnout
1   Republican           Frank B. Willis  1134953  59.10%   352303  1920250
2   Democratic  William Alexander Julian   782650  40.76%   352303  1920250
3  Independent           Henry B. Strong     2647   0.14%   352303  1920250

        Party        Candidate   Votes       % Majority Turnout
1  Republican  John W. Harreld  247719  50.64%    29936  489166
2  Democratic     Scott Ferris  217783  44.52%    29936  489166
3   Socialist    A. A. Bagwell   23664   4.84%    29936  489166

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert N. Stanfield,116696,50.73%,16563,230016
2,Democratic,George Earle Chamberlain (Incumbent),100133,43.53%,16563,230016
3,Socialist,Albert Slaughter,6949,3.02%,16563,230016
4,Independent,Thomas A. Hayes,4456,1.94%,16563,230016
5,Industrial Labor,C. H. Svenson,1782,0.77%,16563,230016

         Party                  Candidate    Votes       % Majority  Turnout
1   Republican  Boies Penrose (Incumbent)  1067989  59.94%   583627  1781843
2   Democratic            John A. Farrell   484362  27.18%   583627  1781843
3  Prohibition           Leah Cobb Marion   132610   7.44%   583627  1781843
4    Socialist               Birch Wilson    67316   3.78%   583627  1781843
5        Labor          Robert J. Wheeler    27401   1.54%   583627  1781843
6   Single Tax         Joseph E. Jennings     2110   0.12%   583627  1781843
7         None                 Scattering       55   0.00%   583627  1781843

         Party                     Candidate  Votes        % Majority Turnout
1   Democratic  Ellison D. Smith (Incumbent)  64388  100.00%    64387   64389
2  Independent                 George Warren      1    0.00%    64387   64389

         Party               Candidate  Votes       % Majority Turnout
1   Republican           Peter Norbeck  92267  50.10%    47958  184179
2  Independent               Tom Ayres  44309  24.06%    47958  184179
3   Democratic         U. S. G. Cherry  36833  20.00%    47958  184179
4  Independent  Richard Olsen Richards  10032   5.45%    47958  184179
5  Independent           L. J. Manbeck    738   0.40%    47958  184179

        Party               Candidate  Votes       % Majority Turnout
1  Republican  Reed Smoot (Incumbent)  82566  56.57%    26286  145958
2  Democratic       Milton H. Welling  56280  38.56%    26286  145958
3   Socialist           J. Alex Beven   7112   4.87%    26286  145958

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,William P. Dillingham (Incumbent),69650,78.02%,50070,89271
2,Democratic,Howard E. Shaw,19580,21.93%,50070,89271
3,None,Scattering,41,0.05%,50070,89271

        Party                 Candidate   Votes       % Majority Total votes
1  Democratic  Carter Glass (Incumbent)  184646  91.31%   167070      202222
2  Republican             J. R. Pollard   17576   8.69%   167070      202222

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Wesley Livsey Jones (Incumbent),217069,56.40%,117760,384866
2,FarmerLabor,C. L. France,99309,25.80%,117760,384866
3,Democratic,George F. Cotterill,68488,17.80%,117760,384866

         Party                   Candidate   Votes       % Majority Turnout
1   Republican  Irvine Lenroot (Incumbent)  281576  41.58%    46547  677152
2  Independent              James Thompson  235029  34.71%    46547  677152
3   Democratic         Paul Samuel Reinsch   89265  13.18%    46547  677152
4    Socialist              Frank J. Weber   66172   9.77%    46547  677152
5  Prohibition               Clyde D. Mead    5107   0.75%    46547  677152
6         None                  Scattering       3   0.00%    46547  677152

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic  Henry F. Ashurst (Incumbent)  39722  65.03%    13864   61080
2  Republican           James H. McClintock  21358  34.97%    13864   61080

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Hiram Johnson (Incumbent)  564422  62.17%   348674  907900
2   Democratic         William J. Pearson  215748  23.76%   348674  907900
3  Independent            H. Clay Needham   70748   7.79%   348674  907900
4    Socialist             Upton Sinclair   56982   6.28%   348674  907900

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  George P. McLean (Incumbent)  169524  52.49%    22248  322961
2  Democratic            Thomas J. Spellacy  147276  45.60%    22248  322961
3   Socialist                Isadore Polsky    6161   1.91%    22248  322961

        Party                       Candidate  Votes       % Majority Turnout
1  Democratic            Thomas F. Bayard Jr.  36954  49.65%       60   74429
2  Republican  T. Coleman du Pont (Incumbent)  36894  49.57%       60   74429
3     Forward                  Frank Stephens    581   0.78%       60   74429

        Party                       Candidate  Votes       % Majority Turnout
1  Democratic            Thomas F. Bayard Jr.  37304  49.81%      325   74891
2  Republican  T. Coleman du Pont (Incumbent)  36979  49.38%      325   74891
3     Forward                  Frank Stephens    608   0.81%      325   74891

         Party                  Candidate  Votes       % Majority Turnout
1   Democratic  Park Trammell (Incumbent)  45707  88.27%    39733   51781
2  Independent               W. C. Lawson   6074  11.73%    39733   51781

        Party            Candidate   Votes       % Majority  Turnout
1  Democratic    Samuel M. Ralston  558169  51.55%    33611  1082727
2  Republican  Albert J. Beveridge  524558  48.45%    33611  1082727

        Party           Candidate   Votes       % Majority Turnout
1  Republican  Smith W. Brookhart  389751  63.11%   161918  617584
2  Democratic    Clyde L. Herring  227833  36.89%   161918  617584

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Frederick Hale (Incumbent)  101026  57.50%    26366  175686
2  Democratic            Oakley C. Curtis   74660  42.50%    26366  175686

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic          William Cabell Bruce  160947  52.61%    21366  305916
2  Republican  Joseph I. France (Incumbent)  139581  45.63%    21366  305916
3       Labor                Robert E. Long    2909   0.95%    21366  305916
4   Socialist               James L. Smiley    2479   0.81%    21366  305916

         Party                      Candidate   Votes       % Majority Turnout
1   Republican  Henry Cabot Lodge (Incumbent)  414130  47.59%     7354  870148
2   Democratic              William A. Gaston  406776  46.75%     7354  870148
3  Prohibition                John A. Nichols   24866   2.86%     7354  870148
4    Socialist            John Weaver Sherman   11678   1.34%     7354  870148
5  Independent                Washington Cook    7836   0.90%     7354  870148
6  Progressive               William E. Weeks    4862   0.56%     7354  870148

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Woodbridge Nathan Ferris,294932,50.59%,13089,582960
2,Republican,Charles E. Townsend (Incumbent),281843,48.35%,13089,582960
3,Socialist,William L. Krieghoff,4249,0.73%,13089,582960
4,Prohibition,Frank E. Titus,1936,0.33%,13089,582960

          Party                     Candidate   Votes       % Majority Turnout
1  FarmerLabor              Henrik Shipstead  325372  47.10%    83539  690829
2    Republican  Frank B. Kellogg (Incumbent)  241833  35.01%    83539  690829
3    Democratic            Anna Dickie Olesen  123624  17.90%    83539  690829

        Party           Candidate  Votes       % Majority Turnout
1  Democratic  Hubert D. Stephens  63639  92.84%    60007   68544
2  Republican        John C. Cook   3632   5.30%    60007   68544
3   Socialist      Sumner W. Rose   1273   1.86%    60007   68544

             Party                  Candidate   Votes       % Majority Turnout
1       Democratic  James A. Reed (Incumbent)  506264  51.85%    44255  976362
2       Republican             R. R. Brewster  462009  47.32%    44255  976362
3        Socialist               W. M. Brandt    7119   0.73%    44255  976362
4  Socialist Labor         William Wesley Cox     970   0.10%    44255  976362

        Party                      Candidate  Votes       % Majority Turnout
1  Democratic  Burton K. Wheeler (Incumbent)  88205  55.57%    18741  158737
2  Republican                Carl W. Riddick  69464  43.76%    18741  158737
3   Socialist              George H. Ambrose   1068   0.67%    18741  158737

         Party                      Candidate   Votes       % Majority Turnout
1   Republican               Robert B. Howell  220350  56.84%    72085  387691
2   Democratic  Gilbert Hitchcock (Incumbent)  148265  38.24%    72085  387691
3  Third Party                 James L. Beebe   19076   4.92%    72085  387691

        Party                Candidate  Votes       % Majority Turnout
1  Democratic  Key Pittman (Incumbent)  18200  63.04%     7529   28871
2  Republican      Charles S. Chandler  10671  36.96%     7529   28871

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Edward I. Edwards,451832,55.47%,89133,814531
2,Republican,Joseph S. Frelinghuysen Sr. (Incumbent),362699,44.53%,89133,814531

        Party                      Candidate  Votes       % Majority Turnout
1  Democratic  Andrieus A. Jones (Incumbent)  60969  55.58%    12248  109690
2  Republican          Stephen B. Davis, Jr.  48721  44.42%    12248  109690

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Royal S. Copeland,1276667,52.60%,281246,2427133
2,Republican,William M. Calder (Incumbent),995421,41.01%,281246,2427133
3,Socialist,Algernon Lee,117928,4.86%,281246,2427133
4,Prohibition,Coleridge A. Hart,32124,1.32%,281246,2427133
5,Socialist Labor,Henry Kuhn,4993,0.21%,281246,2427133

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Lynn Frazier,101312,52.28%,8848,193776
2,Democratic,James Francis Thaddeus O'Connor,92464,47.72%,8848,193776

         Party                   Candidate   Votes       % Majority  Turnout
1   Republican              Simeon D. Fess  794159  50.90%    49601  1560231
2   Democratic  Atlee Pomerene (Incumbent)  744558  47.72%    49601  1560231
3  Independent           Virginia D. Green   21514   1.38%    49601  1560231

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  David A. Reed (Incumbent)  860483  86.15%   800093  998860
2  Prohibition         Rachel C. Robinson   60390   6.05%   800093  998860
3    Socialist       William J. Van Essen   55703   5.58%   800093  998860
4   Single Tax            Thomas J. Davis   21997   2.20%   800093  998860
5         None                 Scattering     287   0.03%   800093  998860

         Party                  Candidate   Votes       % Majority  Turnout
1   Republican  David A. Reed (Incumbent)  802146  55.61%   367563  1442485
2   Democratic           Samuel L. Schull  434583  30.13%   367563  1442485
3  Progressive           William J. Burke  127180   8.82%   367563  1442485
4  Prohibition         Rachel C. Robinson   41935   2.91%   367563  1442485
5    Socialist               Charles Sehl   33004   2.29%   367563  1442485
6   Single Tax        Charles J. Schoales    3596   0.25%   367563  1442485
7         None                 Scattering      41   0.00%   367563  1442485

         Party                     Candidate   Votes       % Majority  Turnout
1   Republican  George W. Pepper (Incumbent)  819507  57.60%   351177  1422856
2   Democratic                  Fred B. Kerr  468330  32.91%   351177  1422856
3  Progressive              Earl W. Thompson   57075   4.01%   351177  1422856
4    Socialist          William J. Van Essen   38440   2.70%   351177  1422856
5  Prohibition                Frank G. Lewis   34089   2.40%   351177  1422856
6   Single Tax             James A. Robinson    5356   0.38%   351177  1422856

             Party                   Candidate  Votes       % Majority Turnout
1       Democratic  Peter G. Gerry (Incumbent)  82889  52.17%    13959  158889
2       Republican  Robert Livingston Beeckman  68930  43.38%    13959  158889
3  Socialist Labor              James Matthews   6102   3.84%    13959  158889
4    Law and Order        James I. Bartholomew    968   0.61%    13959  158889

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Kenneth D. McKellar (Incumbent),151523,68.03%,80323,222723
2,Republican,Newell Sanders,71200,31.97%,80323,222723

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  Earle Bradford Mayfield  264260  66.90%   133516  395004
2  Republican       George E. B. Peddy  130744  33.10%   133516  395004

        Party                    Candidate  Votes       % Majority Turnout
1  Democratic  William H. King (Incumbent)  58749  48.63%      561  120812
2  Republican             Ernest Bamberger  58188  48.16%      561  120812
3   Socialist            Charles T. Stoney   3875   3.21%      561  120812

        Party                    Candidate  Votes       % Majority Turnout
1  Republican  Frank L. Greene (Incumbent)  47669  69.04%    26294   69044
2  Democratic              William B. Mayo  21375  30.96%    26294   69044

         Party                 Candidate   Votes       % Majority Turnout
1   Democratic  Claude A. Swanson (inc.)  116393  71.88%    73490  161923
2   Republican            J. .W McGavock   42903  26.50%    73490  161923
3  Independent             Matt N. Lewis    2627   1.62%    73490  161923

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clarence Dill,130347,44.27%,3937,294469
2,Republican,Miles Poindexter (Incumbent),126410,42.93%,3937,294469
3,FarmerLabor,James A. Duncan,35326,12.00%,3937,294469
4,Socialist Labor,David Burgess,1904,0.65%,3937,294469
5,Workers,Frans Bostrom,482,0.16%,3937,294469

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic               Matthew M. Neely  198853  51.15%    13807  388794
2  Republican  Howard Sutherland (Incumbent)  185046  47.59%    13807  388794
3   Socialist                     M. S. Holt    4895   1.26%    13807  388794

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert M. La Follette Jr. (Incumbent),379494,80.67%,301465,470433
2,Independent,Jessie Jack Hooper,78029,16.59%,301465,470433
3,Prohibition,Adolph R. Buckman,11254,2.39%,301465,470433
4,Independent,Richard Koeppel,1656,0.35%,301465,470433

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic  John B. Kendrick (Incumbent)  35734  56.74%     9107   62973
2  Republican         Frank Wheeler Mondell  26627  42.28%     9107   62973
3   Socialist                 W. B. Guthrie    612   0.97%     9107   62973

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,James Thomas Heflin (Incumbent),154560,79.52%,114742,194378
2,Republican,Frank H. Lathrop,39818,20.48%,114742,194378

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Joseph Taylor Robinson (Incumbent),100408,73.52%,64245,136571
2,Republican,Charles F. Cole,36163,26.48%,64245,136571

         Party          Candidate   Votes       % Majority Turnout
1   Republican      Rice W. Means  159353  50.17%    20639  317621
2   Democratic  Morrison Shafroth  138714  43.67%    20639  317621
3  Independent  Charles T. Philip   17542   5.52%    20639  317621
4  Independent     Clyde Robinson    2012   0.63%    20639  317621

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Lawrence C. Phipps (Incumbent),159698,50.19%,20038,318169
2,Democratic,Alva B. Adams,139660,43.89%,20038,318169
3,Independent,Morton Alexander,16039,5.04%,20038,318169
4,Independent,Elwood Hillis,1575,0.50%,20038,318169
5,Independent,James Albert Ayres,1197,0.38%,20038,318169

        Party          Candidate   Votes       % Majority Turnout
1  Republican  Hiram Bingham III  112400  60.35%    40529  186232
2  Democratic      Hamilton Holt   71871  38.59%    40529  186232
3   Socialist    Martin Plunkett    1961   1.05%    40529  186232

        Party           Candidate  Votes       % Majority Turnout
1  Republican  T. Coleman du Pont  52731  59.37%    16646   88816
2  Democratic    James M. Tunnell  36085  40.63%    16646   88816

        Party                  Candidate  Votes       % Majority Turnout
1  Republican  William Borah (Incumbent)  99846  79.50%    74647  125599
2  Democratic               Frank Martin  25199  20.06%    74647  125599
3   Socialist             Eugene F. Gary    554   0.44%    74647  125599

               Party           Candidate    Votes       % Majority  Turnout
1         Republican   Charles S. Deneen  1449180  63.54%   642478  2280847
2         Democratic   Albert A. Sprague   806702  35.37%   642478  2280847
3          Socialist         George Koop    18708   0.82%   642478  2280847
4    Socialist Labor        Albert Wirth     2966   0.13%   642478  2280847
5            Workers    J. Louis Engdahl     2518   0.11%   642478  2280847
6  Commonwealth Land  Lewis D. Spaulding      391   0.02%   642478  2280847
7        Independent     Parke Longworth      382   0.02%   642478  2280847

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Smith W. Brookhart (Incumbent),447706,49.55%,755,896347
2,Democratic,Daniel F. Steck,446951,49.86%,755,896347
3,Independent Republican,Luther Brewer,1124,0.13%,755,896347
4,Independent,L. E. Eickelberg,535,0.06%,755,896347
5,None,Scattering,31,0.00%,755,896347

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Arthur Capper (Incumbent)  428494  70.10%   274305  611289
2   Democratic               James Malone  154189  25.22%   274305  611289
3  Independent             Fred J. Farley   23266   3.81%   274305  611289
4    Socialist                S. O. Coble    5340   0.87%   274305  611289

        Party                Candidate   Votes       % Majority Turnout
1  Republican      Frederic M. Sackett  406121  51.56%    24516  787726
2  Democratic  Augustus Owsley Stanley  381605  48.44%    24516  787726

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Bert M. Fernald (Incumbent)  148783  60.43%    51355  246211
2  Democratic             Fulton J. Redman   97428  39.57%    51355  246211

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Frederick H. Gillett,566188,50.26%,18588,1126526
2,Democratic,David I. Walsh (Incumbent),547600,48.61%,18588,1126526
3,Workers (Communist),Antoinette Konikow,12716,1.13%,18588,1126526
4,None,All others,22,0.00%,18588,1126526

             Party            Candidate   Votes       % Majority  Turnout
1       Republican     James J. Couzens  839569  75.04%   572718  1118803
2       Democratic   Mortimer E. Cooley  266851  23.85%   572718  1118803
3      Prohibition       Frank E. Titus    7452   0.67%   572718  1118803
4  Socialist Labor  Logan M. Cunningham    3360   0.30%   572718  1118803
5        Socialist        Albert L. Day    1555   0.14%   572718  1118803
6             None           Scattering      16   0.00%   572718  1118803

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,James J. Couzens (Incumbent),858934,74.26%,574325,1156726
2,Democratic,Thomas A. E. Weadock,284609,24.60%,574325,1156726
3,Prohibition,Frank E. Titus,8330,0.72%,574325,1156726
4,Socialist Labor,Logan M. Cunningham,3080,0.27%,574325,1156726
5,Socialist,Albert L. Day,1619,0.14%,574325,1156726
6,None,Scattering,154,0.01%,574325,1156726

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Thomas D. Schall,388594,46.45%,7948,836563
2,FarmerLabor,Magnus Johnson (Incumbent),380646,45.50%,7948,836563
3,Democratic,John J. Farrell,53709,6.42%,7948,836563
4,Beer-Wine Independent,Merle Birmingham,8620,1.03%,7948,836563
5,Independent,Thomas Keefe,4994,0.60%,7948,836563

          Party                    Candidate  Votes       % Majority Turnout
1    Democratic  Thomas J. Walsh (Incumbent)  89681  52.81%    17681  169821
2    Republican           Frank B. Linderman  72000  42.40%    17681  169821
3  FarmerLabor               J. W. Anderson   7370   4.34%    17681  169821
4     Socialist           Charles F. Juttner    522   0.31%    17681  169821
5   Independent             Sam W. Teagarden    248   0.15%    17681  169821

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  George W. Norris (Incumbent)  274647  62.56%   110277  439017
2  Democratic                  J. J. Thomas  164370  37.44%   110277  439017

        Party                   Candidate  Votes       % Majority Turnout
1  Republican  Henry W. Keyes (Incumbent)  94432  59.76%    30836  158028
2  Democratic           George E. Farrand  63596  40.24%    30836  158028

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Walter Evans Edge (Incumbent),608020,61.84%,276986,983175
2,Democratic,Frederick W. Donnelly,331034,33.67%,276986,983175
3,Progressive,George L. Record,37795,3.84%,276986,983175
4,Prohibition,Day,3961,0.40%,276986,983175
5,Workers,Vollgraf,1127,0.11%,276986,983175
6,Socialist Labor,John C. Butterworth,1000,0.10%,276986,983175
7,Communist,Loew,238,0.02%,276986,983175

        Party                   Candidate  Votes       % Majority Turnout
1  Democratic              Sam G. Bratton  57355  51.25%     2797  111913
2  Republican  Holm O. Bursum (Incumbent)  54558  48.75%     2797  111913

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Furnifold McLendel Simmons (Incumbent),295404,61.57%,111011,479797
2,Republican,A. A. Whitener,184393,38.43%,111011,479797

          Party                    Candidate   Votes       % Majority Turnout
1    Republican  William B. Pine (Incumbent)  341518  61.65%   145045  553927
2    Democratic               John C. Walton  196473  35.47%   145045  553927
3  FarmerLabor                George Wilson   15936   2.88%   145045  553927

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles L. McNary (Incumbent),174672,65.96%,109332,264803
2,Democratic,Milton A. Miller,65340,24.67%,109332,264803
3,Progressive,F. E. Coulter,20379,7.70%,109332,264803
4,Socialist Labor,R. Robinson,4412,1.67%,109332,264803

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Jesse H. Metcalf (Incumbent),116572,56.38%,28434,206769
2,Democratic,William S. Flynn,88138,42.63%,28434,206769
3,Workers,James P. Reid,1214,0.59%,28434,206769
4,Liberal Independent,Edward M. Sullivan,845,0.41%,28434,206769

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Jesse H. Metcalf (Incumbent),120815,57.63%,33195,209626
2,Democratic,William S. Flynn,87620,41.80%,33195,209626
3,Liberal Independent,Edward M. Sullivan,475,0.23%,33195,209626
4,Workers,James P. Reid,419,0.20%,33195,209626
5,Socialist Labor,Peter McDermott,297,0.14%,33195,209626

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William H. McMaster (Incumbent),90310,45.40%,26492,198912
2,Democratic,U. S. G. Cherry,63818,32.08%,26492,198912
3,FarmerLabor,Tom Ayres,23962,12.05%,26492,198912
4,Independent,George Egan,14390,7.23%,26492,198912
5,Independent,Charles Hall Dillon,3930,1.98%,26492,198912
6,Independent,Loucks,1380,0.69%,26492,198912
7,Independent,Don Livingston,1122,0.56%,26492,198912

         Party        Candidate   Votes       % Majority Turnout
1   Democratic   Lawrence Tyson  147871  57.32%    38012  257972
2   Republican  Hugh B. Lindsay  109859  42.59%    38012  257972
3  Independent   S. B. Williams     242   0.09%    38012  257972

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Morris Sheppard (Incumbent)  591913  85.40%   490705  693121
2  Republican               T. M. Kennerly  101208  14.60%   490705  693121

         Party                 Candidate   Votes       % Majority Turnout
1   Democratic  Carter Glass (Incumbent)  151498  73.12%   101406  207184
2   Republican                W. N. Noak   50092  24.18%   101406  207184
3  Progressive          Carroll L. Riker    5594   2.70%   101406  207184

        Party           Candidate   Votes       % Majority Turnout
1  Republican         Guy D. Goff  290004  50.92%    18195  569564
2  Democratic  William E. Chilton  271809  47.72%    18195  569564
3   Socialist          M. S. Holt    7751   1.36%    18195  569564

         Party                      Candidate  Votes       % Majority Turnout
1   Republican  Francis E. Warren (Incumbent)  41293  53.04%     7757   77858
2   Democratic                 Robert R. Rose  33536  43.07%     7757   77858
3  Progressive                  G. E. Kindler   2224   2.86%     7757   77858
4  Independent             William B. Guthrie    805   1.03%     7757   77858

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Hugo Black (Incumbent)  91801  80.87%    70089  113513
2  Republican         Edmund H. Dryer  21712  19.13%    70089  113513

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic                   Carl Hayden  44951  58.53%    13106   76796
2  Republican  Ralph H. Cameron (Incumbent)  31845  41.47%    13106   76796

        Party                        Candidate  Votes       % Majority Turnout
1  Democratic  Thaddeus H. Caraway (Incumbent)  28166  84.80%    23118   33214
2  Republican                  Robert A. Jones   5048  15.20%    23118   33214

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Samuel M. Shortridge (Incumbent),670128,63.11%,278529,1061854
2,Democratic,John B. Elliott,391599,36.88%,278529,1061854
3,None,Scattering,127,0.01%,278529,1061854

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles W. Waterman,149585,50.25%,11472,297695
2,Democratic,William E. Sweet,138113,46.39%,11472,297695
3,FarmerLabor,Morton Alexander,5829,1.96%,11472,297695
4,Wet Modification,Frank H. Rice,2218,0.75%,11472,297695
5,Peoples Constitutional Rights,James A. Ownbey,1091,0.37%,11472,297695
6,Workers (Communist),James A. Ayres,859,0.29%,11472,297695

         Party                      Candidate   Votes       % Majority Turnout
1   Republican  Hiram Bingham III (Incumbent)  191401  63.31%    83648  302327
2   Democratic                Rollin U. Tyler  107753  35.64%    83648  302327
3  Independent                           Rice    3173   1.05%    83648  302327

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Duncan U. Fletcher (Incumbent),51054,77.86%,42673,65568
2,Republican,John M. Lindsay (delegate convention),8381,12.78%,42673,65568
3,Republican,W. R. ONeal,6133,9.35%,42673,65568

         Party                     Candidate  Votes       % Majority Turnout
1   Republican  Frank R. Gooding (Incumbent)  56847  45.41%    19800  125179
2  Progressive                 H. F. Samuels  37047  29.60%    19800  125179
3   Democratic                John F. Nugent  31285  24.99%    19800  125179

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Arthur Raymond Robinson (Incumbent),519401,50.62%,22861,1026010
2,Democratic,Evans Woollen,496540,48.40%,22861,1026010
3,Prohibition,Albert Stanley,5205,0.51%,22861,1026010
4,Socialist,William O. Fogleson,4864,0.47%,22861,1026010

         Party                     Candidate   Votes       % Majority  Turnout
1   Republican  James Eli Watson (Incumbent)  522837  50.04%    11383  1044817
2   Democratic                  Albert Stump  511454  48.95%    11383  1044817
3  Prohibition             William H. Harris    5420   0.52%    11383  1044817
4    Socialist               Forrest Wallace    5106   0.49%    11383  1044817

        Party           Candidate   Votes       % Majority Turnout
1  Republican  Smith W. Brookhart  323409  56.61%    75540  571278
2  Democratic    Claude R. Porter  247869  43.39%    75540  571278

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Charles Curtis (Incumbent)  308222  63.57%   139776  484876
2  Democratic            Charles Stephens  168446  34.74%   139776  484876
3   Socialist              M. L. Phillips    8208   1.69%   139776  484876

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic              Alben W. Barkley  286997  51.84%    20340  553654
2  Republican  Richard P. Ernst (Incumbent)  266657  48.16%    20340  553654

        Party         Candidate  Votes       % Turnout
1  Republican   Arthur R. Gould  79498  71.80%  110723
2  Democratic  Fulton J. Redman  31225  28.20%  110723

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic              Millard Tydings  195410  57.51%    54715  339764
2  Republican  Ovington Weller (Incumbent)  140695  41.41%    54715  339764
3   Socialist             William A. Toole    3659   1.08%    54715  339764

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,David I. Walsh,525303,52.01%,55314,1009966
2,Republican,William M. Butler (Incumbent),469989,46.54%,55314,1009966
3,Workers,John J. Ballam,5167,0.51%,55314,1009966
4,Modification Volstead Act,Washington Cook,4766,0.47%,55314,1009966
5,Socialist,Alfred Baker Lewis,4730,0.47%,55314,1009966
6,None,Scattering,11,0.00%,55314,1009966

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harry B. Hawes,514389,52.09%,41321,987457
2,Republican,George Howard Williams (Incumbent),473068,47.91%,41321,987457

             Party           Candidate   Votes       % Majority Turnout
1       Democratic      Harry B. Hawes  506015  51.30%    35361  986480
2       Republican  George H. Williams  470654  47.71%    35361  986480
3      Prohibition     Herman P. Faris    7540   0.76%    35361  986480
4        Socialist  Robert D. Morrison    1807   0.18%    35361  986480
5  Socialist Labor  William Wesley Cox     464   0.05%    35361  986480

         Party                 Candidate  Votes       % Majority Turnout
1   Republican  Tasker Oddie (Incumbent)  17430  55.78%     4157   31246
2   Democratic          Raymond T. Baker  13273  42.48%     4157   31246
3  Independent            George A. Bice    543   1.74%     4157   31246

        Party                    Candidate  Votes       % Turnout
1  Republican  George H. Moses (Incumbent)  79279  62.32%  127214
2  Democratic            Robert C. Murchie  47935  37.68%  127214

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Robert F. Wagner,1321463,46.48%,116217,2842813
2,Republican,James Wolcott Wadsworth Jr. (Incumbent),1205246,42.40%,116217,2842813
3,Independent Republican,Franklin W. Cristman,231906,8.16%,116217,2842813
4,Socialist,Jessie W. Hughan,73412,2.58%,116217,2842813
5,Workers,William F. Dunne,6444,0.23%,116217,2842813
6,Socialist Labor,Joseph Brandon,4342,0.15%,116217,2842813

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic  Lee Slater Overman (Incumbent)  218934  60.51%    76043  361825
2  Republican                Johnson J. Hayes  142891  39.49%    76043  361825

         Party               Candidate   Votes       % Majority Turnout
1   Republican  Gerald Nye (Incumbent)  107921  69.58%    88970  155106
2  Independent        Norris H. Nelson   18951  12.22%    88970  155106
3   Democratic          F. F. Burchard   13519   8.72%    88970  155106
4  Independent             C. P. Stone    9738   6.28%    88970  155106
5  Independent           William Lemke    4977   3.21%    88970  155106

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Frank B. Willis (Incumbent),711359,53.19%,88138,1337426
2,Democratic,Atlee Pomerene,623221,46.60%,88138,1337426
3,Socialist Labor,Goerke,2846,0.21%,88138,1337426

          Party                    Candidate   Votes       % Majority Turnout
1    Democratic                 Elmer Thomas  195587  55.35%    39758  353349
2    Republican  John W. Harreld (Incumbent)  155829  44.10%    39758  353349
3     Socialist                   J. A. Hart    1009   0.29%    39758  353349
4  FarmerLabor               J. Edwin Spurr     781   0.22%    39758  353349
5   Independent             Thomas P. Hopley     143   0.04%    39758  353349

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Frederick Steiwer,89007,39.79%,7706,223699
2,Democratic,Bert E. Haney,81301,36.34%,7706,223699
3,Independent,Robert N. Stanfield (Incumbent),50246,22.46%,7706,223699
4,Independent,W. P. Adams,3145,1.41%,7706,223699

               Party               Candidate   Votes       % Majority  Turnout
1         Republican      William Scott Vare  882187  54.64%   173507  1504696
2         Democratic  William Bauchop Wilson  648680  43.11%   173507  1504696
3        Prohibition        Elisha Kent Kane   19523   1.30%   173507  1504696
4          Socialist        George W. Snyder    9869   0.66%   173507  1504696
5            Workers             A. J. Carey    3094   0.21%   173507  1504696
6  Commonwealth Land       Robert C. Macauly    1053   0.07%   173507  1504696
7               None              Scattering     290   0.02%   173507  1504696

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Peter Norbeck (Incumbent),105619,59.57%,46525,177297
2,Democratic,C. J. Gunderson,59094,33.33%,46525,177297
3,FarmerLabor Party (US),Howard Platt,12584,7.10%,46525,177297

        Party               Candidate  Votes       % Majority Turnout
1  Republican  Reed Smoot (Incumbent)  88101  61.51%    34292  143220
2  Democratic              Ashby Snow  53809  37.57%    34292  143220
3   Socialist            C. T. Stoney   1310   0.91%    34292  143220

        Party                   Candidate  Votes       % Majority Total votes
1  Republican  Porter H. Dale (Incumbent)  52286  73.41%    33396       71228
2  Democratic            James E. Kennedy  18890  26.52%    33396       71228
3        None                  Scattering     52   0.07%    33396       71228

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Wesley Livsey Jones (Incumbent),164130,51.31%,15347,319863
2,Democratic,A. Scott Bullitt,148783,46.51%,15347,319863
3,Socialist Labor,David Burgess,3513,1.10%,15347,319863
4,FarmerLabor,J. L. Freeman,3437,1.07%,15347,319863

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John J. Blaine,299759,54.92%,188637,545768
2,Independent Progressive Republican,Charles D. Rosa,111122,20.36%,188637,545768
3,Democratic,Thomas M. Kearney,66672,12.22%,188637,545768
4,Socialist,Leo Krzycki,31317,5.74%,188637,545768
5,Independent,J. N. Tittemore,23822,4.36%,188637,545768
6,Prohibition,Ella T. Sanford,9885,1.81%,188637,545768
7,Independent,Richard Koeppel,3061,0.56%,188637,545768
8,None,Scattering,130,0.02%,188637,545768

        Party         Candidate  Votes       % Majority Turnout
1  Democratic  Henry F. Ashurst  47013  54.25%     7362   86664
2  Republican  Ralph H. Cameron  39651  45.75%     7362   86664

         Party                  Candidate    Votes       % Majority  Turnout
1   Republican  Hiram Johnson (Incumbent)  1148397  74.10%   865986  1549796
2   Democratic                Minor Moore   282411  18.22%   865986  1549796
3  Prohibition      Charles Hiram Randall    92106   5.94%   865986  1549796
4    Socialist          Lena Morrow Lewis    26624   1.72%   865986  1549796
5  Independent              Anita Whitney      154   0.01%   865986  1549796
6         None                 Scattering      104   0.01%   865986  1549796

        Party            Candidate   Votes       % Majority Turnout
1  Republican  Frederic C. Walcott  296958  53.86%    45529  551401
2  Democratic   Augustine Lonergan  251429  45.60%    45529  551401
3   Socialist    Martin F Plunkett    3014   0.55%    45529  551401

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John G. Townsend Jr.,63725,60.95%,22897,104553
2,Democratic,"Thomas F. Bayard, Jr. (Incumbent)",40828,39.05%,22897,104553

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Park Trammell (Incumbent)  153816  68.53%    83183  224449
2  Republican       Barclay H. Warburton   70633  31.47%    83183  224449

        Party       Candidate  Votes       % Majority Turnout
1  Republican  John W. Thomas  90922  62.56%    37523  145337
2  Democratic  Chase A. Clark  53399  36.74%    37523  145337
3   Socialist           Lundt   1016   0.70%    37523  145337

             Party                Candidate    Votes       % Majority  Turnout
1       Republican            Otis F. Glenn  1594031  54.46%   278693  2927011
2       Democratic             Anton Cermak  1315338  44.94%   278693  2927011
3        Socialist  George Ross Kirkpatrick    13002   0.44%   278693  2927011
4          Workers              Max Bedacht     3177   0.11%   278693  2927011
5  Socialist Labor            G. A. Jenning     1463   0.05%   278693  2927011

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Arthur Raymond Robinson (Incumbent),782144,55.30%,158148,1414440
2,Democratic,Albert Stump,623996,44.12%,158148,1414440
3,Prohibition,William H. Harris,4033,0.29%,158148,1414440
4,Socialist,Philip K. Reinbold,3346,0.24%,158148,1414440
5,Socialist Labor,Charles Ginsberg,443,0.03%,158148,1414440
6,Workers,William F. Jackson,327,0.02%,158148,1414440
7,National,John Zalind,151,0.01%,158148,1414440

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Frederick Hale (Incumbent)  245501  79.47%   182072  308930
2  Democratic           Herbert E. Holmes   63429  20.53%   182072  308930

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Phillips Lee Goldsborough,256224,54.05%,41777,474067
2,Democratic,William Cabell Bruce (incumbent),214447,45.24%,41777,474067
3,Socialist,William A Toole,2026,0.43%,41777,474067
4,Labor,Robert W Stevens,1370,0.29%,41777,474067

           Party              Candidate   Votes      %
1     Democratic         David I. Walsh  818055  53.65
2     Republican  Benjamin Loring Young  693563  45.48
3      Socialist        Alfred B. Lewis    7675   0.50
4  Workers Party         John J. Ballam    5621   0.37

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Arthur Vandenberg (Incumbent),977893,71.79%,601301,1362146
2,Democratic,John W. Bailey,376592,27.65%,601301,1362146
3,Socialist,William L. Krieghoff,2796,0.21%,601301,1362146
4,Workers,Ben A. Faulkner,2249,0.17%,601301,1362146
5,Prohibition,Duly McCone,1927,0.14%,601301,1362146
6,Socialist Labor,David Boyd,689,0.05%,601301,1362146

        Party                      Candidate   Votes       % Majority  Turnout
1  Republican  Arthur Vandenberg (Incumbent)  974203  72.03%   598530  1352561
2  Democratic                 John W. Bailey  375673  27.77%   598530  1352561
3   Socialist             Francis W. Elliott    2682   0.20%   598530  1352561
4        None                     Scattering       3   0.00%   598530  1352561

,Party,Candidate,Votes,%,Majority,Turnout
1,FarmerLabor,Henrik Shipstead (Incumbent),665169,65.37%,322177,1017541
2,Republican,Arthur E. Nelson,342992,33.71%,322177,1017541
3,Workers (Communist),Vincent R. Dunne,9380,0.92%,322177,1017541

             Party            Candidate   Votes       % Majority  Turnout
1       Republican  Roscoe C. Patterson  787499  51.91%    61177  1516923
2       Democratic       Charles M. Hay  726322  47.88%    61177  1516923
3        Socialist  Charles H. Harrison    2845   0.19%    61177  1516923
4  Socialist Labor   William Wesley Cox     257   0.02%    61177  1516923

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Burton K. Wheeler (Incumbent)  103655  53.20%    12470  194840
2  Republican                Joseph M. Dixon   91185  46.80%    12470  194840

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  Robert B. Howell (Incumbent)  324014  61.28%   119277  528752
2  Democratic           Richard L. Metcalfe  204737  38.72%   119277  528752
3        None                    Scattering       1   0.00%   119277  528752

        Party                Candidate  Votes       % Majority Turnout
1  Democratic  Key Pittman (Incumbent)  19515  59.26%     6101   32929
2  Republican             Samuel Platt  13414  40.74%     6101   32929

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Hamilton Fish Kean,841752,57.87%,232129,1454627
2,Democratic,Edward I. Edwards (incumbent),608623,41.84%,232129,1454627
3,Socialist,Charlotte L. Bohlin,2267,0.16%,232129,1454627
4,Workers,Albert Weisbrod,1333,0.09%,232129,1454627
5,Prohibition,Will D. Martin,372,0.03%,232129,1454627
6,Socialist Labor,Frank Sanders,280,0.02%,232129,1454627

        Party             Candidate  Votes       % Majority Turnout
1  Republican  Octavio A. Larrazolo  64623  55.65%    13128  116118
2  Democratic         Juan N. Vigil  51495  44.35%    13128  116118

        Party                       Candidate  Votes       % Majority Turnout
1  Republican  Bronson M. Cutting (Incumbent)  68070  57.69%    18157  117983
2  Democratic                Jethro S. Vaught  49913  42.31%    18157  117983

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Royal S. Copeland (incumbent),2084273,49.08%,50259,4246994
2,Republican,Alanson B. Houghton,2034014,47.89%,50259,4246994
3,Socialist,McAlister Coleman,111208,2.62%,50259,4246994
4,Workers,Robert Minor,11956,0.28%,50259,4246994
5,Socialist Labor,Henry Kuhn,5543,0.13%,50259,4246994

          Party                 Candidate   Votes       % Majority Turnout
1    Republican  Lynn Frazier (Incumbent)  159940  79.63%   121084  200843
2    Democratic            F. F. Burchard   38856  19.35%   121084  200843
3  FarmerLabor            Alfred Knutson    2047   1.02%   121084  200843

         Party                   Candidate    Votes       % Majority  Turnout
1   Republican  Simeon D. Fess (Incumbent)  1412805  60.73%   503853  2326205
2   Democratic            Charles V. Truax   908952  39.07%   503853  2326205
3  Independent           Joseph Willnecker     2061   0.09%   503853  2326205
4  Independent                James Goward     1384   0.06%   503853  2326205
5  Independent         J. Wetherell Hutton     1003   0.04%   503853  2326205

         Party           Candidate    Votes       % Majority  Turnout
1   Republican  Theodore E. Burton  1429554  62.43%   572747  2289812
2   Democratic      Graham P. Hunt   856807  37.42%   572747  2289812
3  Independent        Israel Amter     2062   0.09%   572747  2289812
4  Independent      Anna K. Storck     1389   0.06%   572747  2289812

             Party             Candidate    Votes       %          Totals
1       Republican  David A. Reed (inc.)  1948646  64.38%  +8.77%  3026864
2       Democratic     William N. McNair  1029055  34.00%  +3.87%  3026864
3        Socialist  William J. Van Essen    23100   0.76%  -1.53%  3026864
4      Prohibition        Elisha K. Kane    14866   0.49%  -2.42%  3026864
5  Socialist Labor          Charles Kutz     7524   0.25%  +0.25%  3026864
6    Workers Party           W. J. White     2420   0.08%  +0.08%  3026864
7  Socialist Labor     William H. Thomas     1234   0.04%  +0.04%  3026864

        Party                   Candidate   Votes       % Majority Turnout
1  Republican                Felix Hebert  119228  50.57%     2994  235775
2  Democratic  Peter G. Gerry (Incumbent)  116234  49.30%     2994  235775
3     Workers               James P. Reid     313   0.13%     2994  235775

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Kenneth D. McKellar (Incumbent),175329,59.32%,55070,295588
2,Republican,James Alexander Fowler,120259,40.68%,55070,295588

        Party               Candidate   Votes       % Majority Turnout
1  Democratic            Tom Connally  566139  81.24%   436229  696853
2  Republican  Thomas Martin Kennerly  129910  18.64%   436229  696853
3   Socialist            David Curran     690   0.10%   436229  696853
4   Communist               John Rust     114   0.02%   436229  696853

        Party                    Candidate  Votes       % Majority Turnout
1  Democratic  William H. King (Incumbent)  97436  55.52%    20363  175507
2  Republican             Ernest Bamberger  77073  43.91%    20363  175507
3   Socialist            Charles T. Stoney    998   0.57%    20363  175507

        Party                    Candidate  Votes       % Majority Turnout
1  Republican  Frank L. Greene (Incumbent)  93136  71.55%    56106  130166
2  Democratic               Fred C. Martin  37030  28.45%    56106  130166

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clarence Dill (Incumbent),261524,53.42%,34109,489605
2,Republican,Kenneth Mackintosh,227415,46.45%,34109,489605
3,Workers Communist,Alex Noral,666,0.14%,34109,489605

        Party                     Candidate   Votes       % Majority Turnout
1  Republican             Henry D. Hatfield  327266  50.68%     9646  645805
2  Democratic  Matthew M. Neely (Incumbent)  317620  49.18%     9646  645805
3   Socialist                    M. S. Holt     919   0.14%     9646  645805

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert M. La Follette Jr.,635379,85.56%,54077,742648
2,Independent Republican,William H. Markham,81302,10.95%,54077,742648
3,Prohibition,David W. Emerson,21359,2.88%,54077,742648
4,Independent Labor,Richard Koeppel,3053,0.41%,54077,742648
5,Workers,John Kasun,1463,0.20%,54077,742648
6,None,Scattering,92,0.01%,54077,742648

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic  John B. Kendrick (Incumbent)  43032  53.50%     5956   80441
2  Republican             Charles E. Winter  37076  46.09%     5956   80441
3   Socialist                   W. W. Wolfe    333   0.41%     5956   80441

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John H. Bankhead II,150985,59.93%,50033,251937
2,Independent,James Thomas Heflin (incumbent),100952,40.07%,50033,251937

          Party           Candidate   Votes       % Majority Turnout
1    Democratic  Edward P. Costigan  180028  55.85%    42541  322341
2    Republican      George H. Shaw  137487  42.65%    42541  322341
3     Socialist    Morton Alexander    1745   0.54%    42541  322341
4  FarmerLabor         H. H. Marrs    1367   0.42%    42541  322341
5     Communist      James Allander     924   0.29%    42541  322341
6       Liberal       Frank H. Rice     451   0.14%    42541  322341
7  Commonwealth     August Lutteken     339   0.11%    42541  322341

         Party                       Candidate  Votes       % Majority Turnout
1   Republican  Daniel O. Hastings (incumbent)  47909  54.49%     8028   87925
2   Democratic            Thomas F. Bayard Jr.  39881  45.36%     8028   87925
3  Independent              Nicholas Minutella    135   0.15%     8028   87925

         Party                      Candidate  Votes        % Majority Turnout
1   Democratic  William J. Harris (incumbent)  56502  100.00%    56501   56503
2  Independent                 Wallace Miller      1    0.00%    56501   56503

        Party                  Candidate  Votes       % Majority Turnout
1  Republican  William Borah (incumbent)  94938  72.42%    58776  131100
2  Democratic            Joseph M. Tyler  36162  27.58%    58776  131100

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,J. Hamilton Lewis,1432216,64.02%,744747,2237104
2,Republican,Ruth Hanna McCormick,687469,30.73%,744747,2237104
3,Independent Republican,Lottie Holman O'Neill,99485,4.45%,744747,2237104
4,Socialist,George Koop,11192,0.50%,744747,2237104
5,Communist,Freeman Thompson,3118,0.14%,744747,2237104
6,Peace and Prosperity,Louis Warner,1078,0.05%,744747,2237104
7,American National,Ernest Stout,1060,0.05%,744747,2237104
8,"Anti-League World Court, Anti-Foreign Entangle...",C. Emmet Smith,763,0.03%,744747,2237104
9,Liberty,James J. McGrath,723,0.03%,744747,2237104

         Party                    Candidate   Votes       % Majority Turnout
1   Republican          Lester J. Dickinson  307613  56.29%    72427  546512
2   Democratic  Daniel F. Steck (incumbent)  235186  43.03%    72427  546512
3  Independent              Arthur A. Wells    2668   0.49%    72427  546512
4  Independent             L. E. Eickelberg    1045   0.19%    72427  546512

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Arthur Capper (Incumbent)  364548  61.09%   132387  596709
2  Democratic          Jonathan M. Davis  232161  38.91%   132387  596709

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic                   George McGill  288889  50.03%    12056  577381
2  Republican  Henry Justin Allen (Incumbent)  276833  47.95%    12056  577381
3   Socialist                   H. M. Perkins   11659   2.02%    12056  577381

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  M. M. Logan (Incumbent)  336718  52.13%    27538  645898
2  Republican          John M. Robsion  309180  47.87%    27538  645898

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic            Ben M. Williamson  326723  52.34%    29213  624233
2  Republican  John M. Robsion (Incumbent)  297510  47.66%    29213  624233

        Party   Candidate   Votes       % Majority Turnout
1  Democratic   Huey Long  130536  99.98%   130512  130560
2        None  Scattering      24   0.02%   130512  130560

        Party             Candidate  Votes       % Majority Turnout
1  Republican  Wallace H. White Jr.  88262  60.95%    31703  144821
2  Democratic      Frank W. Haskell  56559  39.05%    31703  144821

             Party             Candidate   Votes       %
1       Democratic    Marcus A. Coolidge  651939  54.01%
2       Republican     William M. Butler  539226  44.67%
3        Socialist  Sylvester J. McBride    7244   0.60%
4  Socialist Labor        Oscar Kinsalas    4640   0.38%
5        Communist            Max Lerner    3962   0.34%

         Party                     Candidate   Votes       % Majority Turnout
1   Republican  James J. Couzens (Incumbent)  634577  78.15%   464820  812007
2   Democratic          Thomas A. E. Weadock  169757  20.91%   464820  812007
3      Workers                 George Powers    3523   0.43%   464820  812007
4    Socialist               Milton E. Depew    2419   0.30%   464820  812007
5  Prohibition              Charles Rennells    1718   0.21%   464820  812007
6         None                    All Others      13   0.00%   464820  812007

          Party                     Candidate   Votes       % Majority Turnout
1    Republican  Thomas D. Schall (Incumbent)  293626  37.61%    11608  780629
2    Democratic                 Einar Hoidale  282018  36.13%    11608  780629
3  FarmerLabor                Ernest Lundeen  178671  22.89%    11608  780629
4   Independent               Charles A. Lund   20669   2.65%    11608  780629
5   Independent                 Rudolph Harju    5645   0.72%    11608  780629

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Thomas J. Walsh (Incumbent),106274,60.33%,+7.52%,39550,176161
2,Republican,Albert J. Galen,66724,37.88%,-4.52%,39550,176161
3,FarmerLabor,Charles E. Taylor,1789,1.02%,-3.32%,39550,176161
4,Socialist,John F. McKay,1006,0.57%,+0.26%,39550,176161

         Party                     Candidate   Votes       % Majority Turnout
1   Republican  George W. Norris (incumbent)  247118  56.84%    74323  434797
2   Democratic             Gilbert Hitchcock  172795  39.74%    74323  434797
3  By Petition         Beatrice Fenton Craig   14884   3.42%    74323  434797

        Party                   Candidate  Votes       % Majority Turnout
1  Republican  Henry W. Keyes (incumbent)  72225  57.88%    19941  124791
2  Democratic             Albert W. Noone  52284  41.90%    19941  124791
3   Communist               Henry C. Iram    282   0.23%    19941  124791

             Party           Candidate   Votes       % Majority  Turnout
1       Republican       Dwight Morrow  601497  58.50%   200490  1028223
2       Democratic   Alexander Simpson  401007  39.00%   200490  1028223
3      Prohibition  Esther Hill Elfeth   18903   1.84%   200490  1028223
4        Socialist         Henry Jager    4519   0.44%   200490  1028223
5        Communist    Dozier W. Graham    1627   0.16%   200490  1028223
6  Socialist Labor    Alexander Kudlik     670   0.07%   200490  1028223

         Party         Candidate   Votes       % Majority Turnout
1   Republican     Dwight Morrow  571006  59.14%   198267  965572
2   Democratic  Thelma Parkinson  372739  38.60%   198267  965572
3  Prohibition    James G. Mason   15512   1.61%   198267  965572
4    Socialist       Henry Jager    4615   0.48%   198267  965572
5    Communist  Dozier W. Graham    1700   0.18%   198267  965572

        Party        Candidate  Votes       % Majority Turnout
1  Democratic   Sam G. Bratton  69362  58.62%    20663  118317
2  Republican  Herbert B. Holt  48699  41.16%    20663  118317
3   Socialist    R. B. Cochran    256   0.22%    20663  118317

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Josiah Bailey,324393,60.61%,113632,535180
2,Republican,George M. Pritchard,210761,39.38%,113632,535180
3,Independent,Furnifold McLendel Simmons (incumbent),26,0.00%,113632,535180

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Robert J. Bulkley,1046561,54.78%,182617,1910505
2,Republican,Roscoe C. McCulloch (incumbent),863944,45.22%,182617,1910505

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic                  Thomas Gore  255838  52.29%    23249  489259
2   Republican  William B. Pine (incumbent)  232589  47.54%    23249  489259
3  Independent              Edward D. Evans     614   0.13%    23249  489259
4  Independent             Thomas P. Hopley     218   0.04%    23249  489259

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles L. McNary (incumbent),137231,58.06%,71203,236376
2,Democratic,Elton Watkins,66028,27.93%,71203,236376
3,Independent,L. A. Banks,17488,7.40%,71203,236376
4,Independent,H. H. Stallard,10573,4.47%,71203,236376
5,Socialist Independent,O. D. Teel,5051,2.14%,71203,236376
6,None,All Others,5,0.00%,71203,236376

         Party             Candidate    Votes       % Majority  Turnout
1   Republican        James J. Davis  1462186  71.54%   938848  2043820
2   Democratic      Sedgwick Kistler   523338  25.61%   938848  2043820
3    Socialist  William J. Van Essen    26796   1.31%   938848  2043820
4  Prohibition          S. W. Bierer    24498   1.20%   938848  2043820
5    Communist   Emmett Patrick Cush     6960   0.34%   938848  2043820

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Jesse H. Metcalf (incumbent),112202,50.30%,2515,223084
2,Democratic,Peter G. Gerry,109687,49.17%,2515,223084
3,Socialist Labor,Charles F. Bishop,1195,0.54%,2515,223084

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William J. Bulow,106317,51.63%,6722,205912
2,Republican,William H. McMaster (incumbent),99595,48.37%,6722,205912

        Party              Candidate   Votes       % Majority Turnout
1  Democratic  William Emerson Brock  144019  74.40%    94465  193573
2  Republican        F. Todd Meacham   49554  25.60%    94465  193573

        Party       Candidate   Votes       % Majority Turnout
1  Democratic    Cordell Hull  154131  71.30%    95481  216173
2  Republican  Paul E. Divine   58650  27.13%    95481  216173
3   Communist    Sherman Bell    3392   1.57%    95481  216173

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Morris Sheppard (incumbent)  266550  86.93%   227503  306611
2  Republican                 D. J. Haesly   39047  12.74%   227503  306611
3   Socialist                 Guy L. Smith     808   0.26%   227503  306611
4   Communist                  W. A. Berry     206   0.07%   227503  306611

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Carter Glass (Incumbent),112002,76.67%,+3.55%,85911,146086
2,Independent Democratic,J. Cloyd Byars,26091,17.86%,+17.86%,85911,146086
3,Socialist,Joe C. Morgan,7944,5.44%,+5.44%,85911,146086

         Party              Candidate   Votes       % Majority Turnout
1   Democratic       Matthew M. Neely  342437  61.91%   133010  553157
2   Republican     James Elwood Jones  209427  37.86%   133010  553157
3  Prohibition  John Wesley MacDonald    1293   0.23%   133010  553157

        Party          Candidate  Votes       % Majority Turnout
1  Republican    Robert D. Carey  42726  58.83%    12822   72630
2  Democratic  Henry H. Schwartz  29904  41.17%    12822   72630

        Party          Candidate  Votes       % Majority Turnout
1  Republican    Robert D. Carey  43524  58.99%    13265   73783
2  Democratic  Henry H. Schwartz  30259  41.01%    13265   73783

        Party               Candidate   Votes       % Majority Turnout
1  Democratic  Hugo Black (Incumbent)  209614  86.25%   176189  243039
2  Republican     J. Theodore Johnson   33425  13.75%   176189  243039

        Party           Candidate  Votes       % Majority Turnout
1  Democratic      Carl T. Hayden  74310  66.67%    38573  111463
2  Republican    Ralph H. Cameron  35737  32.06%    38573  111463
3   Socialist  Lester B. Woolever   1110   1.00%    38573  111463
4   Communist     Edward Haustgen    306   0.28%    38573  111463

         Party                         Candidate  Votes       %
1   Democratic  Hattie Wyatt Caraway (Incumbent)  31133  91.62%
2  Independent                         Rex Floyd   1752   5.16%
3  Independent                     Sam D. Carson   1095   3.22%

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Hattie Wyatt Caraway (Incumbent),187994,89.71%,166436,209552
2,Republican,John W. White,21558,10.29%,166436,209552

         Party                Candidate   Votes       % Majority  Turnout
1   Democratic     William Gibbs McAdoo  943164  43.39%   273488  2173834
2   Republican            Tallant Tubbs  669676  30.81%   273488  2173834
3  Prohibition         Robert P. Shuler  560088  25.76%   273488  2173834
4     Write-In  George Ross Kirkpatrick     466   0.02%   273488  2173834
5         None               Scattering     440   0.02%   273488  2173834

        Party                  Candidate   Votes       % Majority
1  Republican           Karl C. Schuyler  207540  48.76%     1065
2  Democratic  Walter Walker (Incumbent)  206475  48.51%     1065
3   Socialist            Carle Whitehead   11619   2.73%     1065

          Party                 Candidate   Votes       % Majority Turnout
1    Democratic             Alva B. Adams  226516  52.23%    27997  433671
2    Republican          Karl C. Schuyler  198519  45.78%    27997  433671
3     Socialist           Carle Whitehead    8636   1.99%    27997  433671
4  FarmerLabor         Huston Hugh Marrs    1814   0.42%    27997  433671
5     Communist  Raymond D. D. Richardson     858   0.20%    27997  433671

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Augustine Lonergan,282327,47.50%,4266,594402
2,Republican,Hiram Bingham III (Incumbent),278061,46.78%,4266,594402
3,Socialist,Devere Allen,19774,3.33%,4266,594402
4,Independent Republican,Milton Conover,10621,1.79%,4266,594402
5,Socialist Labor,John L. Grennan,2243,0.38%,4266,594402
6,Communist,William Secker,1376,0.23%,4266,594402

             Party Turnout
1       Democratic  204651
2           204651  204651
3  Democratic hold  204651

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Walter F. George (Incumbent)  234490  92.82%   216339  252641
2  Republican               James W. Arnold   18151   7.18%   216339  252641

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic               James P. Pope  103020  55.64%    24695  185146
2  Republican  John W. Thomas (Incumbent)   78325  42.30%    24695  185146
3     Liberty                     Oliason    3801   2.05%    24695  185146

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William H. Dieterich,1670466,52.23%,198625,3198151
2,Republican,Otis F. Glenn (Incumbent),1471841,46.02%,198625,3198151
3,Socialist,Charles Pogorelec,37922,1.19%,198625,3198151
4,Communist,William E. Browder,13318,0.42%,198625,3198151
5,Socialist Labor,G. A. Jenning,3379,0.11%,198625,3198151
6,Independent,William. J. Baker,1209,0.04%,198625,3198151
7,None,Scattering,16,0.00%,198625,3198151

        Party                     Candidate   Votes       % Majority  Turnout
1  Democratic            Frederick Van Nuys  870053  56.80%   208303  1531803
2  Republican  James Eli Watson (Incumbent)  661750  43.20%   208303  1531803

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Richard L. Murphy,538422,54.15%,138493,994296
2,Republican,Henry Field,399929,40.22%,138493,994296
3,Progressive,Smith W. Brookhart (Incumbent),43174,4.34%,138493,994296
4,Socialist,T. S. McCrill,11076,1.11%,138493,994296
5,FarmerLabor,Roy M. Harrop,1228,0.12%,138493,994296
6,Communist,Peter Hunter,467,0.05%,138493,994296

         Party           Candidate   Votes       % Majority Turnout
1   Democratic       George McGill  328992  45.67%    26183  720408
2   Republican      Ben S. Paulsen  302809  42.03%    26183  720408
3  Independent     George A. Brown   65583   9.10%    26183  720408
4  Independent     J. F. W. Renker   14550   2.02%    26183  720408
5    Socialist  E. Haldeman-Julius    8474   1.18%    26183  720408

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Alben W. Barkley (Incumbent)  575077  59.15%   181212  972233
2  Republican           Maurice H. Thatcher  393865  40.51%   181212  972233
3   Socialist                W. E. Sandefur    3291   0.34%   181212  972233

        Party                    Candidate   Votes        % Majority Turnout
1  Democratic  John H. Overton (Incumbent)  249189  100.00%   249186  249192
2        None                   Scattering       3  100.00%   249186  249192

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Millard Tydings (Incumbent),293389,66.18%,154843,443338
2,Republican,Wallace Williams,138536,31.25%,154843,443338
3,Socialist,William A. Toole,8105,1.83%,154843,443338
4,Socialist Labor,Noah S. Twigg,1859,0.42%,154843,443338
5,Communist,Carl Bradley,1449,0.33%,154843,443338

             Party            Candidate    Votes       % Majority  Turnout
1       Democratic  Bennett Champ Clark  1017046  63.26%   441872  1607758
2       Republican           Henry Kiel   575174  35.77%   441872  1607758
3        Socialist         J. G. Hodges    11441   0.71%   441872  1607758
4      Prohibition      Herman P. Faris     3147   0.20%   441872  1607758
5        Communist              Pollack      533   0.03%   441872  1607758
6  Socialist Labor      Karl L. Oberhue      417   0.03%   441872  1607758

        Party                 Candidate  Votes       % Majority Turnout
1  Democratic              Pat McCarran  21398  52.06%     1692   41104
2  Republican  Tasker Oddie (Incumbent)  19706  47.94%     1692   41104

         Party                    Candidate  Votes       % Majority Turnout
1   Democratic                Fred H. Brown  98766  50.35%     2117  196176
2   Republican  George H. Moses (Incumbent)  96649  49.27%     2117  196176
3  Independent            Charles W. Greene    533   0.27%     2117  196176
4  Independent                Fred B. Chase    228   0.12%     2117  196176

             Party               Candidate   Votes       % Majority  Turnout
1       Republican  William Warren Barbour  741734  49.61%    16223  1495238
2       Democratic  Percy Hamilton Stewart  725511  48.52%    16223  1495238
3        Socialist      Herman F. Niessner   19060   1.27%    16223  1495238
4      Prohibition      Esther Hill Elfeth    2966   0.20%    16223  1495238
5        Communist       James L. Creekmur    2256   0.15%    16223  1495238
6  Personal Choice         Russell Y. Page    2110   0.14%    16223  1495238
7  Socialist Labor     John C. Butterworth    1601   0.11%    16223  1495238

        Party             Candidate   Votes       % Majority
1  Democratic  Robert Rice Reynolds  485048  68.66%   263656
2  Republican        Jake F. Newell  221392  31.34%   263656

        Party             Candidate   Votes       % Majority Turnout
1  Democratic  Robert Rice Reynolds  482133  68.62%   261609  702657
2  Republican        Jake F. Newell  220524  31.38%   261609  702657

         Party               Candidate   Votes       % Turnout
1   Republican  Gerald Nye (Incumbent)  172796  72.30%  238997
2   Democratic            P. W. Lanier   65612  27.45%  238997
3  Independent             Frank Witty     589   0.25%  238997

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Robert J. Bulkley (Incumbent),1293175,52.53%,166343,2461994
2,Republican,Gilbert Bettman,1126832,45.77%,166343,2461994
3,Prohibition,Frank M. Mecartney,34760,1.41%,166343,2461994
4,Communist,I. O. Ford,7227,0.29%,166343,2461994

         Party                 Candidate   Votes       % Majority Turnout
1   Democratic  Elmer Thomas (Incumbent)  426130  65.61%   207276  649504
2   Republican             Wirt Franklin  218854  33.70%   207276  649504
3  Independent          James I. Whidden    1395   0.21%   207276  649504
4  Independent             J. W. Houchin    1245   0.19%   207276  649504
5  Independent              John Franing    1061   0.16%   207276  649504
6  Independent          Thomas P. Hopley     819   0.13%   207276  649504

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Frederick Steiwer (Incumbent),186210,52.72%,48973,353194
2,Democratic,Walter B. Gleason,137237,38.86%,48973,353194
3,Socialist,Joe A. Thomas,12266,3.47%,48973,353194
4,Independent,F. E. Coulter,11859,3.36%,48973,353194
5,Socialist Labor,Sverre Jacobson,3067,0.87%,48973,353194
6,Communist,A. G. Krueger,2555,0.72%,48973,353194

         Party                   Candidate    Votes       % Majority  Turnout
1   Republican  James J. Davis (Incumbent)  1375489  49.46%   174729  2780878
2   Democratic            Lawrence H. Rupp  1200760  43.18%   174729  2780878
3  Prohibition            Edwin J. Fithian   106602   3.83%   174729  2780878
4    Socialist        William J. Van Essen    91456   3.29%   174729  2780878
5    Communist              Harry M. Wicks     6426   0.23%   174729  2780878

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Ellison D. Smith (Incumbent),104472,98.1%,-1.9%,102496,106448
2,Republican,Clara Harrigal,1976,1.9%,+1.9%,102496,106448

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Peter Norbeck (Incumbent)  151845  53.83%    26114  282092
2   Democratic            U. S. G. Cherry  125731  44.57%    26114  282092
3      Liberty               Howard Platt    3873   1.37%    26114  282092
4  Independent               Oscar Luttio     405   0.14%    26114  282092
5  Independent              L. J. Manbeck     238   0.08%    26114  282092

        Party               Candidate   Votes       % Majority Turnout
1  Democratic        Elbert D. Thomas  116889  56.66%    30843  206282
2  Republican  Reed Smoot (Incumbent)   86046  41.71%    30843  206282
3   Socialist                       ?    2464   1.19%    30843  206282
4   Communist                       ?     883   0.43%    30843  206282

        Party                   Candidate  Votes      % Total votes Majority
1  Republican  Porter H. Dale (Incumbent)  74319  55.1%      134774    13864
2  Democratic              Fred C. Martin  60455  44.9%      134774    13864

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Homer Bone,365939,60.61%,168489,603795
2,Republican,Wesley Livsey Jones (Incumbent),197450,32.70%,168489,603795
3,Liberty,Frederick R. Burch,28859,4.78%,168489,603795
4,Socialist,Andrew T. Hunter,9364,1.55%,168489,603795
5,Communist,Alex Noral,2183,0.36%,168489,603795

         Party        Candidate   Votes       % Majority  Turnout
1   Democratic    F. Ryan Duffy  610236  56.97%   222568  1071065
2   Republican  John B. Chapple  387668  36.19%   222568  1071065
3    Socialist      Emil Seidel   65807   6.14%   222568  1071065
4  Prohibition  Harvey A. Knapp    4364   0.41%   222568  1071065
5    Communist  Ray Hansborough    2921   0.27%   222568  1071065
6         None       Scattering      69   0.00%   222568  1071065

        Party               Candidate  Votes       % Majority Turnout
1  Democratic        Henry F. Ashurst  67648  72.03%    43573   93920
2  Republican  Joseph Edward Thompson  24075  25.63%    43573   93920
3   Socialist    Charles D. Pinkerton   1591   1.69%    43573   93920
4   Communist            Ramon Garcia    606   0.65%    43573   93920

        Party                     Candidate    Votes       % Majority  Turnout
1  Republican  Hiram W. Johnson (Incumbent)  1946572  94.54%  1837824  2058940
2   Socialist       George Ross Kirkpatrick   108748   5.28%  1837824  2058940
3    Write-In                  Pat Chambers     1025   0.05%  1837824  2058940
4        None                    Scattering     2595   0.13%  1837824  2058940

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Francis T. Maloney,265552,51.75%,17929,513175
2,Republican,Frederic C. Walcott (Incumbent),247623,48.25%,17929,513175

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John G. Townsend Jr. (Incumbent),52829,53.27%,7058,99166
2,Democratic,Wilbur L. Adams,45771,46.16%,7058,99166
3,Socialist,Fred W. Whiteside,497,0.50%,7058,99166
4,Communist,John T. Wlodkoski,69,0.07%,7058,99166

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Sherman Minton,758801,51.46%,58698,1474612
2,Republican,Arthur Raymond Robinson (Incumbent),700103,47.48%,58698,1474612
3,Socialist,Forrest Wallace,9414,0.64%,58698,1474612
4,Prohibition,Albert Jackman,4987,0.34%,58698,1474612
5,Communist,Wenzel Stocker,1307,0.09%,58698,1474612

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Frederick Hale (Incumbent)  139773  50.14%     1200  278768
2  Democratic            F. Harold Dubord  138573  49.71%     1200  278768
3   Communist                 Hans Nelson     422   0.15%     1200  278768

        Party               Candidate   Votes       % Majority Turnout
1  Democratic  George L. P. Radcliffe  264279  56.10%    66636  471112
2  Republican        Joseph I. France  197643  41.95%    66636  471112
3   Socialist        Elisabeth Gilman    6067   1.29%    66636  471112
4       Labor          Ada Smith Lang    1935   0.41%    66636  471112
5   Communist             Samuel Gale    1188   0.25%    66636  471112

             Party                Candidate   Votes       % Majority  Turnout
1       Democratic           David I. Walsh  852776  59.39%   316084  1435932
2       Republican       Robert M. Washburn  536692  37.38%   316084  1435932
3        Socialist  Albert Sprague Coolidge   22092   1.54%   316084  1435932
4      Prohibition            Barnard Smith   10363   0.72%   316084  1435932
5  Socialist Labor       Albert L. Waterman    8245   0.57%   316084  1435932
6        Communist            Paul C. Wicks    5757   0.40%   316084  1435932

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Arthur Vandenberg (Incumbent),626017,51.32%,52443,1219734
2,Democratic,Frank Albert Picard,573574,47.02%,52443,1219734
3,Socialist,John Monarch,10644,0.87%,52443,1219734
4,Communist,Philip Raymond,5634,0.46%,52443,1219734
5,FarmerLabor,W. Ralph Jones,2042,0.17%,52443,1219734
6,Socialist Labor,John Vonica,939,0.08%,52443,1219734
7,Commonwealth,Jay W. Slaughter,735,0.06%,52443,1219734
8,National,Chester A. Shewalter,147,0.01%,52443,1219734
9,None,Scattering,2,0.00%,52443,1219734

,Party,Candidate,Votes,%,Majority,Turnout
1,FarmerLabor,Henrik Shipstead (Incumbent),503379,49.87%,409622,1009457
2,Democratic,Einar Hoidale,294757,29.20%,409622,1009457
3,Republican,N. J. Holmberg,200083,19.82%,409622,1009457
4,Communist,Aldred Tiala,5620,0.56%,409622,1009457
5,Socialist,Morris Kaplan,5618,0.56%,409622,1009457

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harry S. Truman,787110,59.54%,262156,1321876
2,Republican,Roscoe C. Patterson (Incumbent),524954,39.71%,262156,1321876
3,Socialist,W. C. Meyer,9010,0.68%,262156,1321876
4,Communist,Frank Brown,418,0.03%,262156,1321876
5,Socialist Labor,William Wesley Cox,384,0.03%,262156,1321876

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Burton K. Wheeler (Incumbent),142823,70.14%,+16.94%,84304,203626
2,Republican,George M. Bourquin,58519,28.74%,-18.06%,84304,203626

        Party        Candidate   Votes       %        Majority Turnout
1  Democratic  James E. Murray  116965  59.66%  -0.67%    39658  196051
2  Republican    Scott Leavitt   77307  39.43%  +1.56%    39658  196051
3   Socialist    John F. Duffy    1779   0.91%  +0.34%    39658  196051

         Party          Candidate   Votes       % Majority Turnout
1   Democratic    Edward R. Burke  305958  55.30%    68832  553255
2   Republican  Robert G. Simmons  237126  42.86%    68832  553255
3  By Petition      Henry Hoffman    7670   1.39%    68832  553255
4     Write-In   E. D. OSullivan    2501   0.45%    68832  553255

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Richard C. Hunter (Incumbent)  281421  56.45%    64315  498527
2  Republican                     J. H. Kemp  217106  43.55%    64315  498527

         Party                Candidate  Votes       % Majority Turnout
1   Democratic  Key Pittman (Incumbent)  27581  64.51%    13308   42755
2   Republican         George W. Malone  14273  33.38%    13308   42755
3  Independent         John P. Reynolds    901   2.11%    13308   42755

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,A. Harry Moore,785971,57.90%,231488,1357409
2,Republican,Hamilton Fish Kean (Incumbent),554483,40.85%,231488,1357409
3,Socialist,John S. Martin,9721,0.72%,231488,1357409
4,Communist,Rebecca Grecht,2874,0.21%,231488,1357409
5,Prohibition,Elwood Hollingshead,2072,0.15%,231488,1357409
6,Socialist Labor,John C. Butterworth,1640,0.12%,231488,1357409
7,Independent Veteran,William L. Detmering,648,0.05%,231488,1357409

        Party                       Candidate  Votes       % Majority Turnout
1  Republican  Bronson M. Cutting (Incumbent)  76228  50.20%     1284  151862
2  Democratic                   Dennis Chvez  74944  49.35%     1284  151862
3   Socialist                     W. C. Thorp    568   0.37%     1284  151862
4   Communist                    Alphonso Ray    122   0.08%     1284  151862

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Carl Hatch (Incumbent)  81934  54.76%    14978  149637
2  Republican       Richard C. Dillon  66956  44.75%    14978  149637
3   Socialist        T. N. Hotchinson    613   0.41%    14978  149637
4   Communist            C. G. Plater    134   0.09%    14978  149637

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Lynn Frazier (Incumbent),151205,58.24%,46728,259607
2,Democratic,Henry Holt,104477,40.24%,46728,259607
3,FarmerLabor,Alfred S. Dale,3269,1.26%,46728,259607
4,Communist-Workers-Farmers Government,Arvo F. Husa,656,0.25%,46728,259607

        Party                   Candidate    Votes       % Majority  Turnout
1  Democratic           A. Victor Donahey  1276206  59.95%   437138  2128843
2  Republican  Simeon D. Fess (Incumbent)   839068  39.41%   437138  2128843
3   Communist              W. C. Sandberg    13546   0.64%   437138  2128843
4        None                  Scattering       23   0.00%   437138  2128843

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Joseph F. Guffey,1494010,50.78%,+16.78%,127948,2942275
2,Republican,David A. Reed (Incumbent),1366872,46.46%,-17.92%,127948,2942275
3,Socialist,James H. Maurer,50444,0.39%,-0.37%,127948,2942275
4,Prohibition,Edwin J. Fithian,19985,0.68%,+0.19%,127948,2942275
5,Communist,Harry M. Wicks,6170,0.21%,+0.21%,127948,2942275
6,Socialist Labor,George W. Ohls,4665,0.16%,+0.12%,127948,2942275

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic            Peter G. Gerry  140700  57.12%    35155  246313
2  Republican  Felix Hebert (Incumbent)  105545  42.85%    35155  246313
3        None                Scattering      68   0.03%    35155  246313

         Party                        Candidate   Votes       % Majority
1   Democratic  Kenneth D. McKellar (Incumbent)  195430  63.39%    85029
2   Republican                    Ben W. Hooper  110401  35.81%    85029
3  Independent                 C. W. Holsington    2443   0.79%    85029

         Party               Candidate   Votes       % Majority Turnout
1   Democratic       Nathan L. Backman  200249  80.09%   150476  250022
2  Independent  John Randolph Neal Jr.   49773  19.91%   150476  250022

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Tom Connally (Incumbent)  439375  96.69%   426480  454408
2  Republican                 U.S. Goen   12895   2.84%   426480  454408
3   Socialist               W. B. Starr    1828   0.40%   426480  454408
4   Communist                L. C. Keel     310   0.07%   426480  454408

        Party                    Candidate  Votes       % Majority Turnout
1  Democratic  William H. King (Incumbent)  95931  53.06%    13777  180792
2  Republican                Don B. Colton  82154  45.44%    13777  180792
3   Socialist               John O. Waters   1497   0.83%    13777  180792
4   Communist          Cornelia B. Johnson   1207   0.67%    13777  180792

        Party                  Candidate  Votes      % Total votes
1  Republican  Warren Austin (Incumbent)  67146  51.0%      131552
2  Democratic             Fred C. Martin  63632  48.4%      131552
3   Socialist          Charles R. Butler    771   0.0%      131552

        Party         Candidate  Votes      % Total votes
1  Republican  Ernest W. Gibson  28436  58.2%       48830
2  Democratic  Harry W. Witters  20382  41.7%       48830

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Harry F. Byrd Sr. (Incumbent),109963,75.96%,+4.65%,79674,144772
2,Republican,Lawrence C. Page,30289,20.92%,-5.75%,79674,144772
4,Socialist,Herman R. Ansell,1127,0.78%,+0.10%,79674,144772
6,Communist,Alexander Wright,431,0.30%,+0.30%,79674,144772
7,Prohibition,Hewman H. Raymond,391,0.27%,-0.15%,79674,144772

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Lewis B. Schwellenbach,302606,60.92%,133612,496688
2,Republican,Reno Odlin,168994,34.02%,133612,496688
3,Cincinnatus Nonpartisan Movement,William J. Wilkins,11866,2.39%,133612,496688
4,Socialist,John F. McKay,7192,1.45%,133612,496688
5,Communist,George Edward Bradley,3470,0.70%,133612,496688
6,Prohibition,Chester H. Thompson,1551,0.31%,133612,496688
7,Socialist Labor,Edward Kriz,556,0.11%,133612,496688
8,Washington State American Liberty League,Glen S. Corkery,453,0.09%,133612,496688

         Party                      Candidate   Votes       % Majority Turnout
1   Democratic                  Rush Holt Sr.  349882  55.14%    68126  634569
2   Republican  Henry D. Hatfield (Incumbent)  281756  44.40%    68126  634569
3  Prohibition           John Wesley McDonald    2931   0.46%    68126  634569

,Party,Candidate,Votes,%,Majority,Turnout
1,Progressive,Robert M. La Follette Jr. (Incumbent),440513,47.78%,217075,921949
2,Democratic,John M. Callahan,223438,24.24%,217075,921949
3,Republican,John B. Chapple,210569,22.84%,217075,921949
4,Socialist,James P. Sheehan,44453,4.82%,217075,921949
5,Independent Communist,Fern Dobbins,2127,0.23%,217075,921949
6,Independent Prohibition,Theodore Lee,826,0.09%,217075,921949
7,None,Scattering,23,0.00%,217075,921949

        Party                        Candidate  Votes       % Majority Turnout
1  Democratic  Joseph C. O'Mahoney (Incumbent)  53806  56.62%    12987   95026
2  Republican                   Vincent Carter  40819  42.96%    12987   95026
3   Socialist                   Joseph N. Lunn    401   0.42%    12987   95026

        Party                        Candidate  Votes       % Majority Turnout
1  Democratic  Joseph C. O'Mahoney (Incumbent)  53859  56.88%    13034   94684
2  Republican                   Vincent Carter  40825  43.12%    13034   94684

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John H. Bankhead II (Incumbent),239532,87.02%,105835,275252
2,Republican,H. E. Berkstresser,33697,12.24%,105835,275252
3,Independent,William C. Irby,2022,0.73%,105835,275252
4,Independent,Sam Powe,1,0.00%,105835,275252

         Party               Candidate   Votes       % Majority Turnout
1   Democratic  Joseph Taylor Robinson  154866  84.08%   127120  184199
2   Republican         G. C. Ledbetter   27746  15.06%   127120  184199
3  Independent      Claude C. Williams    1587   0.86%   127120  184199

            Party           Candidate   Votes       % Majority Turnout
1      Democratic    Edwin C. Johnson  299376  63.45%   133068  471827
2      Republican   Raymond L. Sauter  166308  35.25%   133068  471827
3       Socialist      Carle Whithead    4438   0.94%   133068  471827
4  National Union  George W. Carleton    1705   0.36%   133068  471827

         Party                       Candidate  Votes       % Majority Turnout
1   Democratic                 James H. Hughes  67136  52.97%    14667  126738
2   Republican  Daniel O. Hastings (Incumbent)  52469  41.40%    14667  126738
3  Independent               Robert G. Houston   6897   5.44%    14667  126738
4    Socialist                Charles W. Perry    183   0.14%    14667  126738
5    Communist          William V. P. Daviatis     53   0.04%    14667  126738

        Party           Candidate   Votes       % Majority Turnout
1  Democratic  Charles O. Andrews  241528  81.90%   184512  298544
2  Republican   Howard C. Babcock   57016  19.10%   184512  298544

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  William Borah (Incumbent)  128723  63.36%    54279  203167
2  Democratic                C. Ben Ross   74444  36.64%    54279  203167

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,J. Hamilton Lewis (Incumbent),2142887,56.47%,597717,3794664
2,Republican,Otis F. Glenn,1545170,40.72%,597717,3794664
3,Independent,Newton Jenkins,93696,2.47%,597717,3794664
4,Independent,Arthur McDowell,7405,0.20%,597717,3794664
5,Independent,Adah M. Hagler,3298,0.09%,597717,3794664
6,Independent,Frank Schnur,2208,0.06%,597717,3794664

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clyde L. Herring,539555,50.34%,35920,1071716
2,Republican,Lester J. Dickinson (Incumbent),503635,46.99%,35920,1071716
3,FarmerLabor,George F. Buresch,25567,2.39%,35920,1071716
4,Prohibition,John B. Hammond,1726,0.16%,35920,1071716
5,Socialist,Laetitia M. Conrad,1233,0.12%,35920,1071716

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Arthur Capper (Incumbent)  417873  51.63%    31188  809333
2  Democratic            Omar B. Ketchum  386685  47.78%    31188  809333
3   Socialist                T. C. Hager    4775   0.59%    31188  809333

             Party                Candidate   Votes       % Majority Turnout
1       Democratic  M. M. Logan (Incumbent)  539968  58.80%   174118  918339
2       Republican          Robert H. Lucas  365850  39.84%   174118  918339
3            Union        William M. Likins   11709   1.28%   174118  918339
4        Socialist           W. E. Sandefer     541   0.06%   174118  918339
5  Socialist Labor       Ferdinand Zimmerer     271   0.03%   174118  918339

        Party                      Candidate   Votes        % Majority Turnout
1  Democratic  Allen J. Ellender (Incumbent)  293256  100.00%   293249  293263
2        None                     Scattering       7    0.00%   293249  293263

              Party                Candidate   Votes      %
1        Republican   Henry Cabot Lodge, Jr.  875160  48.53   3.86
2        Democratic     James Michael Curley  739751  41.02 -12.99
3       Union Party        Thomas C. O'Brien  134245   7.44   7.44
4           Economy           Alonzo B. Cook   11519   0.64   0.64
5    Social Justice              Guy M. Gray    9906   0.55   0.55
6         Socialist  Albert Sprague Coolidge    9763   0.54  -0.06
7          Townsend        Moses H. Gulesian    7408   0.41   0.41
8   Socialist Labor          Ernest L. Dodge    7408   0.39   0.01
9         Communist         Charles Flaherty    4821   0.27  -0.06
10      Prohibition           Wilbur D. Moon    3677   0.20   0.20

             Party          Candidate   Votes       % Majority  Turnout
1       Democratic  Prentiss M. Brown  910937  53.29%   196335  1709444
2       Republican  Wilber M. Brucker  714602  41.80%   196335  1709444
3  The Third Party      Louis B. Ward   75680   4.43%   196335  1709444
4       Democratic     Roy E. Mathews    4994   0.29%   196335  1709444
5        Communist     Lawrence Emery    2145   0.13%   196335  1709444
6  Socialist Labor       Ralph Naylor     510   0.03%   196335  1709444
7     Commonwealth  Albert B. Sheldon     429   0.03%   196335  1709444
8         American      Edward N. Lee     147   0.01%   196335  1709444

          Party              Candidate   Votes       % Majority  Turnout
1  FarmerLabor         Ernest Lundeen  663363  62.24%   260959  1065767
2    Republican  Theodore Christianson  402404  37.76%   260959  1065767

         Party           Candidate   Votes       % Total votes Majority
1   Republican       Guy V. Howard  317457  42.89%      740172   107093
2  Independent      N. J. Holmberg  210364  28.42%      740172   107093
3  Independent  Andrew Olaf Devold  147858  19.98%      740172   107093
4  Independent   John G. Alexander   64493   8.71%      740172   107093

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,James E. Murray (inc.),121769,54.98%,-4.68%,61731,221462
2,Republican,Thomas O. Larson,60038,27.11%,-12.32%,61731,221462

         Party                     Candidate   Votes       % Majority Turnout
1  Independent  George W. Norris (Incumbent)  258700  43.82%    35424  590367
2   Republican             Robert G. Simmons  223276  37.82%    35424  590367
3   Democratic               Terry Carpenter  108391  18.36%    35424  590367

          Party                 Candidate   Votes       % Majority Turnout
1    Republican            Styles Bridges  107923  51.86%     8728  208107
2    Democratic  William Nathaniel Rogers   99195  47.67%     8728  208107
3  FarmerLabor             Stearns Morse     989   0.48%     8728  208107

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William H. Smathers,916414,54.90%,176326,1669291
2,Republican,William Warren Barbour (Incumbent),740088,44.34%,176326,1669291
3,Townsendite Plan,Fred Turner,6651,0.40%,176326,1669291
4,Socialist,Herman F. Niessner,3309,0.20%,176326,1669291
5,Communist,Herbert Coley,1414,0.08%,176326,1669291
6,Prohibition,Malcolm G. Thomas,967,0.06%,176326,1669291
7,Socialist Labor,George E. Bopp,448,0.03%,176326,1669291

          Party                  Candidate  Votes       % Majority Turnout
1    Democratic  Dennis Chvez (Incumbent)  94585  55.74%    19556  169438
2    Republican           M. A. Otero, Jr.  75029  44.22%    19556  169438
3  FarmerLabor    Santiago El Mayor Matta     68   0.04%    19556  169438

          Party               Candidate   Votes       % Majority Turnout
1    Democratic  Carl Hatch (Incumbent)  104550  61.70%    39733  169682
2    Republican        Ernest W. Everly   64817  38.25%    39733  169682
3  FarmerLabor             W. C. Throp      71   0.04%    39733  169682

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Josiah Bailey (Incumbent)  563968  70.76%   330959  796977
2  Republican            Frank C. Patton  233009  29.24%   330959  796977

         Party                  Candidate   Votes       % Majority Turnout
1   Democratic  Joshua B. Lee (Incumbent)  493407  67.97%   264403  725921
2   Republican            Herbert K. Hyde  229004  31.55%   264403  725921
3    Socialist              Edgar Clemons    1895   0.26%   264403  725921
4  Prohibition               P. C. Nelson     973   0.13%   264403  725921
5  Independent             Frank M. Kimes     344   0.05%   264403  725921
6  Independent                 R. M. Funk     298   0.04%   264403  725921

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles L. McNary (Incumbent),199332,49.69%,5510,401131
2,Democratic,Willis Mahoney,193822,48.32%,5510,401131
3,Independent,Albert Streiff,3134,0.78%,5510,401131
4,Socialist Labor,Eric Hass,2886,0.72%,5510,401131
5,Independent,Clarence Rudder,1956,0.49%,5510,401131
6,None,Scattering,1,0.00%,5510,401131

         Party                     Candidate   Votes       % Majority Turnout
1   Democratic             Theodore F. Green  149141  48.62%    13016  306761
2   Republican  Jesse H. Metcalf (Incumbent)  136125  44.37%    13016  306761
3  Independent               Ludger LaPointe   21495   7.01%    13016  306761

        Party                    Candidate   Votes     %     Majority Turnout
1  Democratic  James F. Byrnes (Incumbent)  113696  98.6 -1.4   112735  115360
4    No party                    Write-Ins       1   0.0  0.0   112735  115360

         Party                     Candidate   Votes       % Majority Turnout
1   Democratic  William J. Bulow (Incumbent)  141509  48.83%     6048  289786
2   Republican          John Chandler Gurney  135461  46.75%     6048  289786
3  Independent                Arthur Bennett   12816   4.42%     6048  289786

         Party                      Candidate   Votes       % Majority Turnout
1   Democratic  Nathan L. Bachman (Incumbent)  273298  75.88%   203545  360184
2   Republican               Dwayne D. Maddox   69753  19.37%   203545  360184
3  Independent        John Randolph Neal, Jr.   14617   4.06%   203545  360184
4  Independent                  Howard Kester    2516   0.70%   203545  360184

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic  Morris Sheppard (Incumbent)  774975  92.56%   715484  837260
2   Republican             Carlos G. Watson   59491   7.11%   715484  837260
3  Independent              Gertrude Wilson    1836   0.22%   715484  837260
4  Independent                  W. B. Starr     958   0.11%   715484  837260

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Carter Glass (inc.),244518,91.66%,+14.99%,231945,266766
2,Republican,George Rohken,12573,4.71%,+4.71%,231945,266766
3,Communist,Donald Burke,8907,3.34%,+3.34%,231945,266766
4,Independent Democratic,Elbert Lee Trinkle,469,0.18%,-17.68%,231945,266766

         Party                     Candidate   Votes       % Majority Turnout
1   Democratic  Matthew M. Neely (Incumbent)  488720  58.95%   150357  829023
2   Republican                Hugh Ike Shott  338363  40.81%   150357  829023
3  Prohibition         John Wesley MacDonald    1005   0.12%   150357  829023
4    Socialist                  J. H. Snider     935   0.11%   150357  829023

        Party                    Candidate  Votes       % Majority Turnout
1  Democratic            Henry H. Schwartz  53919  53.83%     8436  100172
2  Republican  Robert D. Carey (Incumbent)  45483  45.40%     8436  100172
3       Union              George E. Geier    682   0.68%     8436  100172
4   Communist                Merton Willer     88   0.09%     8436  100172

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  J. Lister Hill (Incumbent)  113413  86.38%    95528  131299
2  Republican            J. M. Pennington   17885  13.62%    95528  131299
3        None                  Scattering       1   0.00%    95528  131299

        Party                   Candidate  Votes       % Majority Turnout
1  Democratic  Carl T. Hayden (Incumbent)  82714  76.52%    57336  108092
2  Republican             Burt H. Clingan  25378  23.48%    57336  108092

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Hattie Wyatt Caraway (Incumbent),122883,89.58%,108593,137173
2,Republican,C. T. Atkinson,14290,10.42%,108593,137173

        Party               Candidate    Votes       % Majority  Turnout
1  Democratic         Sheridan Downey  1372314  54.41%   246074  2522142
2  Republican         Philip Bancroft  1126240  44.65%   246074  2522142
3   Socialist  Lillian Symes Clements    22569   0.89%   246074  2522142
4        None              Scattering     1019   0.04%   246074  2522142

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Alva B. Adams (Incumbent),262786,58.24%,81489,451209
2,Republican,Archibald A. Lee,181297,40.18%,81489,451209
3,Socialist,Carle Whitehead,3604,0.80%,81489,451209
4,Independent Progressive,James Allander,3522,0.78%,81489,451209

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John A. Danaher,270413,42.89%,17987,630433
2,Democratic,Augustine Lonergan (Incumbent),252426,40.04%,17987,630433
3,Socialist,Bellani Trombley,99282,15.75%,17987,630433
4,Socialist Labor,Joseph Mackey,6931,1.10%,17987,630433
5,American Labor,Philip Brainard,766,0.12%,17987,630433
6,Communist,Michael A. Russo,615,0.10%,17987,630433

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Claude Pepper (Incumbent)  145757  82.45%   114722  176792
2  Republican          Thomas E. Swanson   31035  17.55%   114722  176792

         Party                     Candidate  Votes       % Majority Turnout
1   Democratic  Walter F. George (Incumbent)  66987  95.09%    63545   70443
2  Independent              Charles A. Jiles   3442   4.89%    63545   70443
3  Independent               Eugene Talmadge     14   0.02%    63545   70443

         Party           Candidate  Votes       % Majority Turnout
1   Democratic   David Worth Clark  99801  54.66%    17862  182585
2   Republican  Donald A. Callahan  81939  44.88%    17862  182585
3  Progressive        V. A. Verhei    845   0.46%    17862  182585

         Party          Candidate    Votes       % Majority  Turnout
1   Democratic     Scott W. Lucas  1638162  51.32%    95588  3192012
2   Republican   Richard J. Lyons  1542574  48.33%    95588  3192012
3  Prohibition  Enoch A. Holtwick    10707   0.34%    95588  3192012
4         None         Scattering      569   0.02%    95588  3192012

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Frederick Van Nuys (Incumbent),788386,49.85%,5197,1581490
2,Republican,Raymond E. Willis,783189,49.52%,5197,1581490
3,Prohibition,Herman L. Seeger,6905,0.44%,5197,1581490
4,Socialist,Louis E. Roebuck,2026,0.13%,5197,1581490
5,Communist,Miles Blansett,984,0.06%,5197,1581490

          Party                 Candidate   Votes       % Majority Turnout
1    Democratic  Guy Gillette (Incumbent)  413788  49.74%     2805  831839
2    Republican       Lester J. Dickinson  410983  49.41%     2805  831839
3  FarmerLabor         George F. Buresch    4723   0.57%     2805  831839
4   Progressive          Raymond E. Hanke    1525   0.18%     2805  831839
5   Prohibition            G. W. Bauseman     820   0.10%     2805  831839

        Party                  Candidate   Votes       % Majority Turnout
1  Republican              Clyde M. Reed  419532  56.21%    92758  746405
2  Democratic  George McGill (Incumbent)  326774  43.78%    92758  746405
3        None              Joe Corpstein      99   0.01%    92758  746405

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Alben W. Barkley (Incumbent)  346735  62.03%   134469  559021
2  Republican               John P. Haswell  212266  37.97%   134469  559021
3  Democratic     Happy Chandler (write-in)      20   0.00%   134469  559021

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic  John H. Overton (Incumbent)  151582  99.84%   151332  151832
2  Independent             Maurice E. Clark     250   0.16%   151332  151832

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Millard Tydings (Incumbent),357245,68.28%,203992,523238
2,Republican,Oscar Lesser,153253,29.29%,203992,523238
3,Union,George W. Hunt,5784,1.11%,203992,523238
4,Socialist,Elisabeth Gilman,3311,0.63%,203992,523238
5,American Labor,Frank N. H. Lang,2330,0.45%,203992,523238
6,Communist,Harry Straw,1301,0.25%,203992,523238

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Bennett Champ Clark (Incumbent),757587,60.69%,268900,1248278
2,Republican,Harry S. Caulfield,488687,39.15%,268900,1248278
3,Socialist,J. G. Hodges,1712,0.14%,268900,1248278
4,Socialist Labor,Karl L. Oberhue,292,0.02%,268900,1248278

        Party                 Candidate  Votes       % Majority Turnout
1  Democratic  Pat McCarran (Incumbent)  27406  58.96%     8328   46484
2  Republican              Tasker Oddie  19078  41.04%     8328   46484

        Party                  Candidate   Votes       % Majority Turnout
1  Republican           Charles W. Tobey  100633  54.23%    15713  185553
2  Democratic  Fred H. Brown (Incumbent)   84920  45.77%    15713  185553

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William Warren Barbour,816667,52.98%,112508,1541607
2,Democratic,William H. J. Ely,704159,45.68%,112508,1541607
3,Prohibition,Louis H. Kelley,8201,0.53%,112508,1541607
4,Socialist,John Palangio,3671,0.24%,112508,1541607
5,Townsend Pension-Labor,Fred Turner,3521,0.23%,112508,1541607
6,Communist,William Norman,3515,0.23%,112508,1541607
7,Socialist Labor,John C. Butterworth,1873,0.12%,112508,1541607

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Robert Rice Reynolds (Incumbent),316685,63.80%,137035,496335
2,Republican,Charles A. Jonas,179650,36.20%,137035,496335

         Party               Candidate   Votes       % Majority Turnout
1   Republican  Gerald Nye (Incumbent)  131907  50.12%    19900  263158
2  Independent          William Langer  112007  42.56%    19900  263158
3   Democratic            J. J. Nygard   19244   7.31%    19900  263158

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert A. Taft,1255414,53.62%,169622,2341206
2,Democratic,Robert J. Bulkley (Incumbent),1085792,46.38%,169622,2341206

         Party                 Candidate   Votes       % Majority Turnout
1   Democratic  Elmer Thomas (Incumbent)  307936  65.37%   148202  471066
2   Republican          Harry G. Glasser  159734  33.91%   148202  471066
3  Prohibition              P. C. Nelson    2220   0.47%   148202  471066
4  Independent          Raymond B. Clark     603   0.13%   148202  471066
5  Independent       Herndon J. Thompson     573   0.12%   148202  471066

        Party           Candidate   Votes       % Majority Turnout
1  Republican  Alexander G. Barry  180815  54.20%    28042  333591
2  Democratic    Robert A. Miller  152773  45.80%    28042  333591
3        None          Scattering       3   0.00%    28042  333591

        Party        Candidate   Votes       % Majority Turnout
1  Republican  Rufus C. Holman  203120  54.86%    35985  370261
2  Democratic   Willis Mahoney  167135  45.14%    35985  370261
3        None       Scattering       6   0.00%    35985  370261

         Party                   Candidate    Votes       % Majority  Turnout
1   Republican  James J. Davis (incumbent)  2086931  54.70%   392564  3814922
2   Democratic             George H. Earle  1694367  44.41%   392564  3814922
3    Socialist           David H. H. Felix    20155   0.53%   392564  3814922
4  Prohibition         Forest S. Van Valin     9327   0.24%   392564  3814922
5  Pathfinders          Reginald B. Naugle     2508   0.07%   392564  3814922
6    Communist                  Pat Toohey     1530   0.04%   392564  3814922
7         None                  Scattering      104   0.00%   392564  3814922

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic  Ellison D. Smith (Incumbent)  45351  98.89%    44843   45861
2  Republican                J. D. E. Meyer    508   1.11%    44843   45861
3        None                    Scattering      2   0.00%    44843   45861

        Party         Candidate   Votes       % Majority Turnout
1  Republican       Gladys Pyle  155292  58.06%    43115  267469
2  Democratic  John T. McCullen  112177  41.94%    43115  267469

        Party                 Candidate   Votes       % Majority Turnout
1  Republican  John Chandler Gurney[13]  146813  52.46%    13749  279877
2  Democratic                 Tom Berry  133064  47.54%    13749  279877

         Party                Candidate   Votes       % Majority Turnout
1   Democratic              Tom Stewart  194028  70.50%    21930  275232
2   Republican         Harley G. Fowler   72098  26.20%    21930  275232
3  Independent  John Randolph Neal, Jr.    9106   3.31%    21930  275232

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Elbert D. Thomas (Incumbent)  102353  55.80%    21282  183424
2  Republican            Franklin S. Harris   81071  44.20%    21282  183424

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Ernest Willard Gibson (Incumbent),73990,65.58%,35317,112824
2,Democratic,John McGrath,38673,34.28%,35317,112824
3,None,Scattering,161,0.14%,35317,112824

             Party               Candidate   Votes       % Majority Turnout
1       Democratic  Homer Bone (Incumbent)  371535  62.62%   151331  593292
2       Republican         Ewing D. Colvin  220204  37.12%   151331  593292
3  Socialist Labor            Eugene Solie    1553   0.26%   151331  593292

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Alexander Wiley,416770,45.92%,167561,907534
2,Progressive,Herman Ekern,249209,27.46%,167561,907534
3,Democratic,F. Ryan Duffy,231976,25.56%,167561,907534
4,Independent Townsend Republican,John B. Chapple,7251,0.80%,167561,907534
5,Communist,Fred Basset Blair,1283,0.14%,167561,907534
6,Independent Socialist Labor,Joseph Erhardt,1014,0.11%,167561,907534
7,None,Scattering,31,0.00%,167561,907534

         Party               Candidate   Votes       % Majority Turnout
1   Democratic        Ernest McFarland  101495  71.61%    61838  141731
2   Republican  Irving A. Jennings Sr.   39657  27.98%    61838  141731
3  Prohibition        A. Walter Gehres     579   0.41%    61838  141731

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Hiram W. Johnson (Incumbent),2238899,82.50%,1872855,2713865
2,Prohibition,Fred Dyster,366044,13.49%,1872855,2713865
3,Communist,Anita Whitney,97478,3.59%,1872855,2713865
4,Write-In,John Anson Ford,7415,0.27%,1872855,2713865
5,None,Scattering,4029,0.15%,1872855,2713865

             Party           Candidate   Votes       % Majority Turnout
1       Democratic  Francis T. Maloney  416740  53.15%    58427  784067
2       Republican     Paul L. Cornell  358313  45.70%    58427  784067
3        Socialist  Kenneth W. Thurlow    6557   0.84%    58427  784067
4  Socialist Labor    James A. Hutchin    1343   0,17%    58427  784067
5        Communist       Isadore Wofsy    1114   0,14%    58427  784067

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,James M. Tunnell,68294,50.63%,4495,134879
2,Republican,John G. Townsend Jr. (Incumbent),63799,47.30%,4495,134879
3,Independent Democratic,William F. Allen,2786,2.07%,4495,134879

        Party       Candidate   Votes       % Majority Turnout
1  Republican  John W. Thomas  124535  52.96%    13921  235149
2  Democratic  Glen H. Taylor  110614  47.04%    13921  235149

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,C. Wayland Brooks (Incumbent),2045924,50.07%,20827,4086179
2,Democratic,James M. Slattery,2025097,49.56%,20827,4086179
3,None,Enoch A. Holtwick,8625,0.21%,20827,4086179
4,None,Clarence H. Mayer,6517,0.16%,20827,4086179
5,None,Scattering,16,0.00%,20827,4086179

         Party          Candidate   Votes       % Majority  Turnout
1   Republican  Raymond E. Willis  888070  50.45%    23267  1760245
3  Prohibition   Carl W. Thompson    5621   0.32%    23267  1760245
4    Socialist  John H. Kingsbury    1751   0.10%    23267  1760245

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Happy Chandler (Incumbent)  561151  58.27%   159339  962963
2  Republican             Walter B. Smith  401812  41.73%   159339  962963

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Ralph Owen Brewster (Incumbent),150149,58.61%,44409,256194
2,Democratic,Louis J. Brann,105740,41.27%,44409,256194
3,None,Lewis Gordon,305,0.12%,44409,256194

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,George L. P. Radcliffe (Incumbent),394239,64.74%,190327,608975
2,Republican,Harry W. Nice,203912,33.48%,190327,608975
3,None,Edwin B. Abbott,4204,0.69%,190327,608975
4,None,David L. Elliott,3423,0.56%,190327,608975
5,None,Robert Kadish,1848,0.30%,190327,608975
6,None,Albert E. Blumberg,1349,0.22%,190327,608975

             Party           Candidate    Votes      % Majority  Turnout
1       Democratic      David I. Walsh  1088838  55.64   250716  1957089
2       Republican   Henry Parkman Jr.   838122  42.38   250716  1957089
3      Prohibition  George L. Thompson     9632   0.49   250716  1957089
4        Communist    Philip Frankfeld     9465   0.48   250716  1957089
5        Socialist  George Lyman Paine     6876   0.35   250716  1957089
6  Socialist Labor    Horace I. Hillis     4133   0.21   250716  1957089

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Arthur Vandenberg (Incumbent),1053104,52.65%,113364,2000342
2,Democratic,Frank Fitzgerald,939740,46.98%,113364,2000342
3,Socialist,Nahum Burnett,3580,0.18%,113364,2000342
4,Communist,Elmer Johnson,2290,0.11%,113364,2000342
5,Prohibition,Carroll P. Pahman,937,0.05%,113364,2000342
6,Socialist Labor,Theos A. Grove,691,0.03%,113364,2000342

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Henrik Shipstead (Incumbent),641049,53.00%,330174,1209599
2,FarmerLabor,Elmer Austin Benson,310875,25.70%,330174,1209599
3,Democratic,John E. Regan,248658,20.56%,330174,1209599
4,None,Grace Holmes Carlson,8761,0.72%,330174,1209599
5,None,Carrl Winter,256,0.02%,330174,1209599

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harry S. Truman (incumbent),930775,51.17,44499,1819016
2,Republican,Manvel H. Davis,886376,48.73,44499,1819016
3,Socialist,W.F. Rinck,1669,0.09,44499,1819016
4,Socialist Labor,Theodore Baeff,196,0.01,44499,1819016

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Burton K. Wheeler (Incumbent),176753,73.43%,+3.29%,112812,240694
2,Republican,E. K. Cheadle,63941,26.57%,-2.17%,112812,240694

        Party                Candidate   Votes       % Majority Turnout
1  Republican  Hugh Butler (Incumbent)  340250  57.00%    92591  596891
2  Democratic            R. L. Cochran  247659  41.49%    92591  596891
3        None        Albert F. Ruthven    8982   1.50%    92591  596891

        Party                Candidate  Votes       % Majority Turnout
1  Democratic  Key Pittman (Incumbent)  31351  60.48%    10863   51839
2  Republican             Samuel Platt  20488  39.52%    10863   51839

               Party             Candidate    Votes       % Majority  Turnout
1         Republican     W. Warren Barbour  1029331  55.11%   225438  1867775
2         Democratic  James H. R. Cromwell   823893  44.11%   225438  1867775
3          Socialist     McAlister Coleman     8836   0.47%   225438  1867775
4        Independent  James A. Tumulty Jr.     2784   0.15%   225438  1867775
5          Communist     Mary Ellen Dooner     1519   0.08%   225438  1867775
6        Prohibition        Edson R. Leach      645   0.03%   225438  1867775
7    Socialist Labor       Harry Santhouse      464   0.02%   225438  1867775
8  Socialist Workers       George Breitman      303   0.02%   225438  1867775

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Dennis Chvez (Incumbent)  103194  55.95%    21937  184451
2  Republican         Albert K. Mitchell   81257  44.05%    21937  184451

         Party         Candidate   Votes       % Majority Turnout
1   Republican    William Langer  100647  38.11%     8054  264101
2  Independent     William Lemke   92593  35.06%     8054  264101
3   Democratic  Charles V. Vogel   69847  26.45%     8054  264101

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Joseph F. Guffey (Incumbent),2069980,51.79%,+1.01%,176876,3997020
2,Republican,Jay Cooke,1893104,47.36%,-0.90%,176876,3997020
3,Socialist,David H.H. Felix,15449,0.39%,0.00%,176876,3997020
4,Prohibition,H. B. Mansell,11113,0.28%,-0.40%,176876,3997020
5,Communist,Carl Reeve,4761,0.12%,-0.09%,176876,3997020
6,Socialist Labor,Frank Knotek,2503,0.06%,-0.10%,176876,3997020

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Peter G. Gerry (Incumbent)  173927  55.16%    32526  315328
2  Republican            James O. McManus  141401  44.84%    32526  315328

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Kenneth D. McKellar (Incumbent),295440,70.80%,173650,417265
2,Republican,Howard Baker Sr.,121790,29.19%,173650,417265
3,Independent,"John Randolph Neal, Jr.",35.06,0.01%,173650,417265

        Party                 Candidate   Votes       % Majority  Turnout
1  Democratic  Tom Connally (Incumbent)  978095  94.24%   918755  1037843
2  Republican         George I. Shannon   59340   5.72%   918755  1037843
3   Communist              Homer Brooks     408   0.04%   918755  1037843

        Party         Candidate   Votes       % Majority Turnout
1  Democratic       Abe Murdock  155499  62.85%    63568  247430
2  Republican  Philo Farnsworth   91931  37.15%    63568  247430

        Party                  Candidate  Votes      % Total votes Majority
1  Republican  Warren Austin (Incumbent)  93283  66.4%      140388    46182
2  Democratic             Ona S. Searles  47101  33.6%      140388    46182

        Party           Candidate  Votes      % Majority Total votes
1  Republican        George Aiken  87150  61.6%    32887      141413
2  Democratic  Herbert B. Comings  54263  38.4%    32887      141413

         Party                      Candidate   Votes       % Majority Turnout
1   Democratic  Harry F. Byrd Sr. (Incumbent)  274260  93.32%   263101  293881
2  Independent              Hilliard Berstein   11159   3.80%   263101  293881
3  Independent                    Alice Burke    8250   2.81%   263101  293881

        Party            Candidate   Votes       % Majority Turnout
1  Democratic   Monrad C. Wallgren  404718  54.16%    62129  747307
2  Republican  Stephen F. Chadwick  342589  45.84%    62129  747307

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Harley M. Kilgore (Incumbent)  492413  56.33%   110607  874219
2  Republican                 Thomas Sweeney  381806  43.67%   110607  874219

,Party,Candidate,Votes,%,Majority,Turnout
1,Progressive,Robert M. La Follette Jr.,605609,45.26%,51917,1338135
2,Republican,Fred H. Clausen,553692,41.38%,51917,1338135
3,Democratic,James E. Finnegan,176688,13.20%,51917,1338135
4,Communist,Ted Furman,1308,0.10%,51917,1338135
5,Socialist Labor,Adolf Wiggert Jr.,838,0.06%,51917,1338135

        Party                        Candidate  Votes       % Majority Turnout
1  Democratic  Joseph C. O'Mahoney (Incumbent)  65022  58.74%    19340  110704
2  Republican               Milward L. Simpson  45682  41.26%    19340  110704

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Edwin C. Johnson (Incumbent)  174612  50.23%     3642  347596
2  Republican           Ralph Lawrence Carr  170970  49.19%     3642  347596
3   Socialist                Carle Whithead    1387   0.40%     3642  347596
4   Communist                James Allander     627   0.18%     3642  347596

         Party                    Candidate   Votes       % Majority Turnout
1   Republican  Eugene Millikin (Incumbent)  191517  56.12%    48700  341260
2   Democratic               James A. Marsh  143817  42.14%    48700  341260
3  Independent            Lewis Haley Tiley    4262   1.25%    48700  341260
4    Socialist             Edgar P. Sherman    1664   0.49%    48700  341260

         Party         Candidate  Votes       % Majority Turnout
1   Republican  C. Douglass Buck  46210  54.17%     7888   85308
2   Democratic   E. Ennalls Berl  38322  44.92%     7888   85308
3  Prohibition    Thomas J. Sard    776   0.91%     7888   85308

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Richard Russell Jr. (incumbent),59870,96.94%,57978,61762
2,Independent,LeVert Dwyer Shivers,1892,3.06%,57978,61762

        Party                   Candidate  Votes       %
1  Republican  John W. Thomas (incumbent)  73353  51.53%
2  Democratic              Glen H. Taylor  68989  48.47%

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles W. Brooks (incumbent),1582887,53.24%,202876,2973229
2,Democratic,Raymond S. McKeough,1380011,46.41%,202876,2973229
3,Prohibition,Enoch A. Holtwick,10331,0.35%,202876,2973229

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,George A. Wilson,410383,57.97%,115189,707863
2,Democratic,Clyde L. Herring (incumbent),295194,41.70%,115189,707863
3,Prohibition,M. M. Heptonstall,1461,0.21%,115189,707863
4,Progressive New Dealer,Ernest J. Seeman,821,0.12%,115189,707863
5,None,Scattering,4,0.00%,115189,707863

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Arthur Capper (incumbent)  284059  57.11%    83622  497359
2   Democratic              George McGill  200437  40.30%    83622  497359
3  Prohibition            C. Floyd Hester   12863   2.59%    83622  497359

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Happy Chandler (incumbent)  216958  55.34%    41877  392023
2  Republican          Richard J. Colbert  175081  44.66%    41877  392023

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Wallace H. White Jr. (incumbent),111520,66.67%,65766,167274
2,Democratic,Fulton J. Redman,55754,33.33%,65766,167274

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,"Henry Cabot Lodge, Jr.",721239,52.44,3.91,80197,1375441
2,Democratic,Joseph E. Casey,641042,46.61,5.62,80197,1375441
3,Socialist,George Lyman Paine,4802,0.35,-0.19,80197,1375441
4,Socialist Labor,Horace I. Hillis,4781,0.35,0.35,80197,1375441
5,Prohibition,George L. Thompson,3577,0.26,0.26,80197,1375441

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Homer S. Ferguson,589652,49.55%,28057,1189966
2,Democratic,Prentiss M. Brown (incumbent),561595,47.19%,28057,1189966
3,Republican,Gerald L. K. Smith (sticker),32173,2.70%,28057,1189966
4,Prohibition,Leroy M. Powell,6526,0.55%,28057,1189966
5,None,Scattering,20,0.00%,28057,1189966

          Party                     Candidate   Votes       % Majority Turnout
1    Republican  Arthur E. Nelson (incumbent)  372240  56.12%   195232  663334
2  FarmerLabor                     Al Hansen  177008  26.68%   195232  663334
3    Democratic              John E. ORourke  114086  17.20%   195232  663334

          Party                   Candidate   Votes       % Majority Turnout
1    Republican  Joseph H. Ball (Incumbent)  356297  46.98%   142232  758447
2  FarmerLabor             Elmer A. Benson  213965  28.21%   142232  758447
3   Independent            Martin A. Nelson  109226  14.40%   142232  758447
4    Democratic                   Ed Murphy   78959  10.41%   142232  758447

        Party               Candidate  Votes       %         Majority Turnout
1  Democratic  James E. Murray (inc.)  83673  49.07%   -5.91%     1212  170514
2  Republican    Wellington D. Rankin  82461  48.36%  +21.25%     1212  170514

         Party                     Candidate   Votes       % Majority Turnout
1   Republican             Kenneth S. Wherry  186207  48.97%    77308  380222
2  Independent  George W. Norris (incumbent)  108899  28.64%    77308  380222
3   Democratic                    Foster May   83768  22.03%    77308  380222
4  Independent             Albert F. Ruthven    1348   0.35%    77308  380222

        Party          Candidate  Votes       % Majority Turnout
1  Democratic  James G. Scrugham  23805  58.72%     7070   40540
2  Republican     Cecil W. Creel  16735  41.28%     7070   40540

        Party                   Candidate  Votes       % Majority Turnout
1  Republican  Styles Bridges (incumbent)  88601  54.61%    14945  162257
2  Democratic           Francis P. Murphy  73656  45.39%    14945  162257

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Albert W. Hawkes,648855,53.09%,89004,1222132
2,Democratic,William H. Smathers (incumbent),559851,45.81%,89004,1222132
3,Socialist,William L. Becker,6775,0.55%,89004,1222132
4,Progressive Independent,Lorenzo Harris,3224,0.26%,89004,1222132
5,Prohibition,Elmo L. Bateman,1438,0.12%,89004,1222132
6,Socialist Labor,John C. Butterworth,1310,0.11%,89004,1222132
7,Socialist Workers,George Breitman,679,0.06%,89004,1222132

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Carl Hatch (incumbent)  63301  52.41%     5827  120775
2  Republican        J. Benson Newell  57474  47.59%     5827  120775

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Josiah Bailey (incumbent)  230427  65.91%   111262  349592
2  Republican              Sam J. Morris  119165  34.09%   111262  349592

         Party                  Candidate   Votes       % Majority Turnout
1   Republican            Edward H. Moore  204163  54.83%    37510  372365
2   Democratic  Joshua B. Lee (incumbent)  166653  44.76%    37510  372365
3  Prohibition           Oliver W. Lawton    1549   0.42%    37510  372365

        Party                      Candidate   Votes       % Majority Turnout
1  Republican  Charles L. McNary (incumbent)  214755  77.06%   150809  278701
2  Democratic             Walter W. Whitbeck   63946  22.94%   150809  278701

        Party                      Candidate   Votes       % Majority
1  Democratic  Theodore F. Green (incumbent)  138247  57.97%    38007
2  Republican                Ira Lloyd Letts  100240  42.03%    38007

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Burnet R. Maybank (incumbent),22556,100.0,0.0,22554,22558
2,No party,Write-Ins,2,0.0,0.0,22554,22558

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Harlan J. Bushfield (incumbent),106704,58.74%,31759,181649
2,Democratic,Tom Berry,74945,41.26%,31759,181649

         Party                Candidate   Votes       % Majority Turnout
1   Democratic  Tom Stewart (incumbent)  109881  68.88%    75557  159522
2   Republican          F. Todd Meacham   34324  21.52%    75557  159522
3  Independent  John Randolph Neal, Jr.   15317   9.60%    75557  159522

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,W. Lee O'Daniel (incumbent),260629,94.90%,248565,274627
2,Republican,Dudley Lawson,12064,4.39%,248565,274627
3,Peoples Unity,Charles L. Somerville,1934,0.70%,248565,274627

        Party            Candidate  Votes       %        Majority Turnout
1  Democratic  Carter Glass (inc.)  79421  91.08%  +0.58%    73731   87200
2   Socialist   Lawrence S. Wilkes   5690   6.53%  +6.53%    73731   87200
3   Communist          Alice Burke   2041   2.34%  -1.00%    73731   87200

        Party                  Candidate   Votes       % Majority Turnout
1  Republican             Hugh Ike Shott  227469  52.27%    19791  435147
2  Democratic  Joseph Rosier (Incumbent)  207678  47.73%    19791  435147

        Party          Candidate   Votes       % Majority Turnout
1  Republican  Chapman Revercomb  256816  55.36%    49771  463861
2  Democratic   Matthew M. Neely  207045  44.64%    49771  463861

        Party                        Candidate  Votes       % Majority Turnout
1  Republican  Edward V. Robertson (incumbent)  41486  54.59%     6983   75989
2  Democratic    Henry H. Schwartz (incumbent)  34503  45.41%     6983   75989

         Party                   Candidate   Votes       % Majority Turnout
1   Democratic  J. Lister Hill (Incumbent)  202604  81.78%   160621  247749
2   Republican               John A. Posey   41983  16.95%   160621  247749
3  Prohibition                     Parrish    3162   1.28%   160621  247749

        Party                Candidate  Votes       % Majority Turnout
1  Democratic           Carl T. Hayden  90335  69.37%    50444  130226
2  Republican  Fred Wildon Fickett Jr.  39891  30.63%    50444  130226

        Party             Candidate   Votes       % Majority Turnout
1  Democratic  J. William Fulbright  182499  85.10%   150575  214441
2  Republican       Fred W. Fickett   39891  30.63%   150575  214441

        Party                    Candidate    Votes       % Majority  Turnout
1  Democratic  Sheridan Downey (incumbent)  1728155  52.29%   151602  3305234
2  Republican          Frederick F. Houser  1576553  47.00%   151602  3305234
3        None                   Scattering      526   0.02%   151602  3305234

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Eugene Millikin (Incumbent)  277410  56.06%    63075  494888
2  Democratic            Barney L. Whatley  214335  43.31%    63075  494888
3   Socialist              Carle Whitehead    3143   0.64%    63075  494888

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic                Brien McMahon  430716  51.99%    38968  828497
2  Republican  John A. Danaher (incumbent)  391748  47.28%    38968  828497
3   Socialist             Spender Anderson    6033   0.73%    38968  828497

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Claude Pepper (incumbent)  335685  71.28%   200427  470943
2  Republican            Miles H. Draper  135258  28.72%   200427  470943

        Party                     Candidate   Votes        % Majority Turnout
1  Democratic  Walter F. George (Incumbent)  272569  100.00%   272565  272573
2        None                    Scattering       4    0.00%   272565  272573

        Party         Candidate   Votes       % Majority Turnout
1  Democratic    Glen H. Taylor  107096  51.13%     4723  209469
2  Republican  C. A. Bottolfsen  102373  48.87%     4723  209469

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Scott W. Lucas (incumbent),2059023,52.61%,217230,3913926
2,Republican,Richard J. Lyons,1841793,47.06%,217230,3913926
3,Socialist Labor,Frank Schnur,7312,0.19%,217230,3913926
4,Prohibition,Enoch A. Holtwick,5798,0.15%,217230,3913926

         Party          Candidate   Votes       % Majority  Turnout
1   Republican  William E. Jenner  857250  52.11%    81833  1645016
2   Democratic  Cornelius OBrien  775417  47.14%    81833  1645016
3  Prohibition   Carl W. Thompson   12349   0.75%    81833  1645016

         Party           Candidate   Votes       % Majority  Turnout
1   Republican   Homer E. Capehart  829489  50.23%    21723  1651385
2   Democratic  Henry F. Schricker  807766  48.91%    21723  1651385
3  Prohibition   George W. Holston   12213   0.74%    21723  1651385
4    Socialist     Marid B. Tomish    1917   0.12%    21723  1651385

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Bourke B. Hickenlooper,523963,51.28%,29734,1021687
2,Democratic,Guy Gillette (incumbent),494229,48.37%,29734,1021687
3,Prohibition,W. S. Bowden,2751,0.27%,29734,1021687
4,Socialist Party USA,C. W. Drescher,744,0.07%,29734,1021687

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Clyde M. Reed (Incumbent),387090,57.84%,115037,669191
2,Democratic,Thurman Hill,272053,40.65%,115037,669191
3,Prohibition,L. B. Dubbs,7674,1.15%,115037,669191
4,Socialist Party USA,Arthur Goodwin Billings,2374,0.35%,115037,669191

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Alben W. Barkley (Incumbent),464053,54.81%,83628,846627
2,Republican,James Park,380425,44.93%,83628,846627
3,Prohibition,Robert H. Garrison,1808,0.21%,83628,846627
4,Socialist Labor,Yona M. Marret,340,0.04%,83628,846627
5,None,Scattering,1.15%,0.00%,83628,846627

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic  John H. Overton (incumbent)  287365  99.99%   287339  287391
2  Independent             Maurice E. Clark      26   0.01%   287339  287391

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Millard Tydings (Incumbent)  344725  61.73%   131020  558430
2  Republican       Blanchard Randall, Jr.  213705  38.27%   131020  558430

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Leverett Saltonstall,1228754,64.29%,+11.85%,561668,1911422
2,Democratic,John H. Corcoran,667086,34.90%,-11.71%,561668,1911422
3,Socialist Labor,Bernard G. Kelly,12296,0.64%,+0.29%,561668,1911422
4,Prohibition,E. Tallmadge Root,3269,0.17%,-0.09%,561668,1911422

                 Party           Candidate   Votes       % Majority  Turnout
1           Republican  Forrest C. Donnell  778778  49.95%     1988  1559103
2           Democratic      Roy McKittrick  776790  49.82%     1988  1559103
3  Socialist Party USA      D. B. Preisler    3320   0.21%     1988  1559103
4      Socialist Labor  William Wesley Cox     215   0.01%     1988  1559103

        Party                 Candidate  Votes       % Majority Turnout
1  Democratic  Pat McCarran (Incumbent)  30595  58.38%     8779   52411
2  Republican          George W. Malone  21816  41.62%     8779   52411

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  Charles W. Tobey (Incumbent)  110549  50.93%     4041  217057
2  Democratic              Joseph J. Betley  106508  49.07%     4041  217057

             Party               Candidate   Votes       % Majority  Turnout
1       Republican  Howard Alexander Smith  940051  50.44%    29955  1863610
2       Democratic           Elmer H. Wene  910096  48.84%    29955  1863610
3      Prohibition        George W. Ridout    9873   0.53%    29955  1863610
4  Socialist Labor     John C. Butterworth    1997   0.11%    29955  1863610
5        Socialist            Morris Riger    1593   0.09%    29955  1863610

        Party      Candidate   Votes       % Majority Turnout
1  Democratic  Clyde R. Hoey  533813  70.25%   307776  759850
2  Republican   A. I. Ferree  226037  29.75%   307776  759850

         Party               Candidate  Votes       % Majority Turnout
1   Democratic              John Moses  95102  45.20%    25572  210422
2   Republican  Gerald Nye (Incumbent)  69530  33.04%    25572  210422
3  Independent       Lynn U. Stumbaugh  44596  21.19%    25572  210422
4  Independent   Bernard J. OLaughlin    705   0.34%    25572  210422
5  Prohibition            L. D. Harris    489   0.23%    25572  210422

        Party                   Candidate    Votes       % Majority  Turnout
1  Republican  Robert A. Taft (Incumbent)  1500609  50.30%    17999  2983219
2  Democratic          William G. Pickrel  1482610  49.70%    17999  2983219

         Party                 Candidate   Votes       % Majority Turnout
1   Democratic  Elmer Thomas (Incumbent)  390851  55.65%    81629  702394
2   Republican          William J. Otjen  309222  44.02%    81629  702394
3  Independent              Paul V. Beck    1128   0.16%    81629  702394
4  Independent            T. B. Williams     674   0.10%    81629  702394
5  Independent             Paul R. Nagle     519   0.07%    81629  702394

        Party       Candidate   Votes       % Majority Turnout
1  Republican      Guy Cordon  260631  57.54%    68326  452936
2  Democratic  Willis Mahoney  192305  42.46%    68326  452936

        Party                Candidate   Votes       % Majority Turnout
1  Republican  Wayne Morse (Incumbent)  269095  60.71%    94955  443235
2  Democratic           Edgar W. Smith  174140  39.29%    94955  443235

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Francis J. Myers,1864622,49.99%,23684,3730277
2,Republican,James J. Davis (Incumbent),1840938,49.35%,23684,3730277
3,Socialist,J. Henry Stump,14129,0.38%,23684,3730277
4,Prohibition,Charles Palmer,8599,0.23%,23684,3730277
5,Socialist Labor,Frank Knotek,1989,0.05%,23684,3730277

,Party,Candidate,Votes,%,,Majority,Turnout
3,Progressive Democratic,Osceola E. McKaine,3214,3.16%,3.16%,90749,101736
5,No party,Write-Ins,18,0.00%,0.00%,90749,101736

        Party             Candidate   Votes       % Majority Turnout
1  Republican  John Chandler Gurney  145248  63.86%    63049  227447
2  Democratic    George M. Bradshaw   82199  36.14%    63049  227447

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Elbert D. Thomas (Incumbent)  148748  59.91%    49216  248280
2  Republican               Adam S. Bennion   99532  40.09%    49216  248280

        Party                 Candidate  Votes       % Majority Turnout
1  Republican  George Aiken (Incumbent)  81094  65.80%    38958  123248
2  Democratic          Harry W. Witters  42136  34.19%    38958  123248
3        None                Scattering     18   0.01%    38958  123248

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic  Warren Magnuson (Incumbent)  452013  55.13%    87657  819879
2   Republican                Harry P. Cain  364356  44.44%    87657  819879
3    Socialist               Ray C. Roberts    1912   0.23%    87657  819879
4  Prohibition         Josephine B. Sulston    1598   0.19%    87657  819879

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Alexander Wiley (Incumbent),634513,50.50%,97369,1256480
2,Democratic,Howard J. McMurray,537144,42.75%,97369,1256480
3,Progressive,Harry Sauthoff,73089,5.82%,97369,1256480
4,Socialist,Walter H. Uphoff,9964,0.79%,97369,1256480
5,Socialist Labor,Adolf Wiggert,1664,0.13%,97369,1256480
6,None,Scattering,106,0.01%,97369,1256480

        Party         Candidate  Votes       % Majority Turnout
1  Democratic  Ernest McFarland  80415  69.18%    45393  116239
2  Republican    Ward S. Powers  35022  30.13%    45393  116239
3   Communist     Morris Graham    802   0.69%    45393  116239

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William Knowland (incumbent),1428067,54.10%,260906,2639465
2,Democratic,Will Rogers Jr.,1167161,44.22%,260906,2639465
3,Prohibition,Douglas Corrigan,42683,1.62%,260906,2639465
4,Write-In,Herbert Steiner,156,0.01%,260906,2639465
5,None,Scattering,1398,0.05%,260906,2639465

             Party             Candidate   Votes       % Majority Turnout
1       Republican    Raymond E. Baldwin  381328  55.84%   104904  682920
2       Democratic        Joseph M. Tone  276424  40.48%   104904  682920
3        Socialist  Frederick C. Smedley   22012   3.22%   104904  682920
4  Socialist Labor         John W. Aiken    3156   0,46%   104904  682920

        Party                       Candidate   Votes       % Majority Turnout
1  Republican  Raymond E. Baldwin (Incumbent)  378707  55.77%   100519  679059
2  Democratic             Wilbur Lucius Cross  278188  40.97%   100519  679059
3   Socialist              Frederic C. Smedly   22164   3.26%   100519  679059

        Party                     Candidate  Votes       % Majority Turnout
1  Republican              John J. Williams  62603  55.15%    11693  113513
2  Democratic  James M. Tunnell (Incumbent)  50910  44.85%    11693  113513

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Spessard Holland (Incumbent)  156232  78.65%   113824  198640
2  Republican                J. Harry Schad   42408  21.35%   113824  198640

        Party                     Candidate   Votes       % Majority Turnout
1  Republican                Henry Dworshak  105523  58.57%    30894  180152
2  Democratic  George E. Donart (Incumbent)   74629  41.43%    30894  180152

             Party             Candidate   Votes       % Majority  Turnout
1       Republican     William E. Jenner  739809  54.91%   155521  1347434
2       Democratic  M. Clifford Townsend  584288  43.36%   155521  1347434
3      Prohibition        Elmer D. Riggs   21008   1.56%   155521  1347434
4  Socialist Labor    John Marion Morris    1523   0.11%   155521  1347434
5        Communist      Elmer G. Johnson     806   0.06%   155521  1347434

        Party            Candidate   Votes       % Majority Turnout
1  Republican  John Sherman Cooper  327652  53.27%    41823  615119
2  Democratic     John Young Brown  285829  46.47%    41823  615119
3   Socialist       W. E. Sandefur    1638   0.27%    41823  615119

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Ralph Owen Brewster (Incumbent),111215,63.55%,47416,175014
2,Democratic,Peter M. MacDonald,63799,36.45%,47416,175014

        Party        Candidate   Votes       % Majority Turnout
1  Democratic  Herbert O'Conor  237232  50.24%     2232  472232
2  Republican   D. John Markey  235000  49.76%     2232  472232

             Party                  Candidate   Votes      % Majority  Turnout
1       Republican      Henry Cabot Lodge Jr.  989736  59.55   329536  1662055
2       Democratic  David I. Walsh (Incumbent  660200  39.72   329536  1662055
3  Socialist Labor          Henning A. Blomen    9221   0.56   329536  1662055
4      Prohibition               Mark R. Shaw    2898   0.17   329536  1662055

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Arthur Vandenberg (Incumbent),1985570,67.06%,1467647,1618720
2,Democratic,James H. Lee,517923,32.00%,1467647,1618720
3,Prohibition,Lawrence A. Ruble,8109,0.50%,1467647,1618720
4,Socialist Labor,Theos A. Grove,4572,0.28%,1467647,1618720
5,Communist,Hugo Beiswenger,2546,0.16%,1467647,1618720

                   Party           Candidate   Votes       % Majority Turnout
1             Republican    Edward John Thye  517775  58.92%   168255  878731
2       Democratic (DFL)  Theodore Jorgenson  349520  39.78%   168255  878731
3  Revolutionary Workers       Grace Carlson   11421   1.30%   168255  878731
4               Write-In    Henrik Shipstead      15   0.00%   168255  878731

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,James P. Kem,572556,52.71%,61012,1086241
2,Democratic,Frank P. Briggs (Incumbent),411544,47.09%,61012,1086241
3,Prohibition,Jackson,979,0.09%,61012,1086241
4,Socialist,W. F. Rinck,887,0.08%,61012,1086241
5,Socialist Labor,Baeff,275,0.03%,61012,1086241

        Party       Candidate   Votes       % Majority Turnout
1  Republican     Zales Ecton  101901  53.47%    15425  190566
2  Democratic   Leif Erickson   86476  45.38%    15425  190566
3   Socialist  Floyd P. Jones    2189   1.15%    15425  190566

        Party                Candidate   Votes       % Majority Turnout
1  Republican  Hugh Butler (Incumbent)  271208  70.82%   159458  382958
2  Democratic           John E. Mekota  111750  29.18%   159458  382958

        Party                       Candidate  Votes       % Majority Turnout
1  Republican                George W. Malone  27801  55.21%     5248   50354
2  Democratic  Berkeley L. Bunker (Incumbent)  22553  44.79%     5248   50354

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Howard Alexander Smith (Incumbent),799808,58.50%,251350,1367155
2,Democratic,George E. Brunner,548458,40.12%,251350,1367155
3,Socialist Labor,John C. Butterworth,7675,0.56%,251350,1367155
4,Socialist Workers,George Breitman,4976,0.36%,251350,1367155
5,Socialist,Arthur Riley,2226,0.16%,251350,1367155
6,Prohibition,George W. Ridout,1711,0.13%,251350,1367155
7,Anti-Medical Trust Federation,Frederick W. Collins,1676,0.12%,251350,1367155
8,Independent American,Mark M. Jones,625,0.05%,251350,1367155

        Party                  Candidate  Votes       % Majority Turnout
1  Democratic  Dennis Chvez (Incumbent)  68650  51.51%     4018  133282
2  Republican          Patrick J. Hurley  64632  48.49%     4018  133282

         Party                   Candidate  Votes       % Majority Turnout
1   Republican  William Langer (Incumbent)  88210  53.34%    49406  165382
2  Independent          Arthur E. Thompson  38804  23.46%    49406  165382
3   Democratic             Abner B. Larson  38368  23.20%    49406  165382

        Party         Candidate    Votes       % Majority  Turnout
1  Republican  Kingsley A. Taft  1193852  56.22%   264268  2123436
2  Democratic   Henry P. Webber   929584  43.78%   264268  2123436

             Party         Candidate    Votes       % Majority  Turnout
1       Republican   John W. Bricker  1275774  57.02%   328164  2237269
2       Democratic  James W. Huffman   947610  42.36%   328164  2237269
3  Socialist Labor    William Farkas    13885   0.62%   328164  2237269

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Edward Martin,1853458,59.26%,+11.90%,608120,3127860
2,Democratic,Joseph F. Guffey (inc.),1245338,39.81%,-11.98%,608120,3127860
3,Prohibition,Dale H. Learn,17451,0.56%,+0.28%,608120,3127860
4,Socialist Labor,Frank Knotek,11613,0.37%,+0.31%,608120,3127860

        Party          Candidate   Votes       % Majority Turnout
1  Democratic  J. Howard McGrath  150748  55.11%    27968  273528
2  Republican    W. Gurnee Dwyer  122780  44.89%    27968  273528

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Kenneth D. McKellar (Incumbent),145654,66.60%,88416,218714
2,Republican,William B. Ladd,57238,26.17%,88416,218714
3,Independent,John Randolph Neal Jr.,11516,5.27%,88416,218714
4,Independent,Herman H. Ross,4303,1.97%,88416,218714
5,None,Scattering,3,0.00%,88416,218714

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Tom Connally (Incumbent)  336931  88.51%   293181  380681
2  Republican           Murray C. Sells   43750  11.49%   293181  380681

        Party                Candidate   Votes       % Majority Turnout
1  Republican    Arthur Vivian Watkins  101142  51.24%     4885  197399
2  Democratic  Abe Murdock (incumbent)   96257  48.76%     4885  197399

        Party              Candidate  Votes       % Majority Total votes
1  Republican  Ralph Flanders (inc.)  54729  74.62%    36135       73340
2  Democratic    Charles P. McDevitt  18594  25.35%    36135       73340
3        None             Scattering     17   0.02%    36135       73340

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Harry F. Byrd Sr. (Incumbent),163960,64.84%,-28.48%,86955,252863
2,Republican,Lester S. Parsons,77005,30.45%,+30.45%,86955,252863
4,Communist,Alice Burke,3318,1.31%,-1.50%,86955,252863
5,Prohibition,Thomas E. Boorde,1764,0.70%,+0.70%,86955,252863
6,Socialist,Clarke T. Robb,1592,0.63%,+0.63%,86955,252863

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Absalom Willis Robertson,169680,68.15%,-22.93%,97427,248962
2,Republican,Robert H. Woods,72253,29.02%,+29.02%,97427,248962
3,Socialist,Lawrence S. Wilkes,7024,2.82%,-3.71%,97427,248962

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Harry P. Cain,358847,54.34%,60164,660342
2,Democratic,Hugh B. Mitchell (Incumbent),298683,45.23%,60164,660342
3,Socialist Labor,Harry Morton,2297,0.35%,60164,660342
4,Socialist Workers,Charles R. Swett,515,0.08%,60164,660342

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Harley M. Kilgore (Incumbent)  273151  50.33%     3534  542768
2  Republican                 Thomas Sweeney  269617  49.67%     3534  542768

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Joseph McCarthy,620430,61.15%,241658,1014594
2,Democratic,Howard J. McMurray,378772,37.33%,241658,1014594
3,Socialist,Edwin Knappe,11750,1.16%,241658,1014594
4,Independent Socialist Labor,Georgia Cozzini,1552,0.15%,241658,1014594
5,None,Scattering,2090,0.21%,241658,1014594

        Party                        Candidate  Votes       % Majority Turnout
1  Democratic  Joseph C. O'Mahoney (Incumbent)  45843  56.21%    10129   81557
2  Republican               Harry B. Henderson  35714  43.79%    10129   81557

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  John Sparkman (Incumbent)  185534  84.00%   150193  220875
2  Republican            Paul G. Parsons   35341  16.00%   150193  220875

         Party         Candidate   Votes       % Majority Turnout
1   Democratic  Edwin C. Johnson  340719  66.79%   175650  510121
2   Republican    Will Nicholson  165069  32.36%   175650  510121
3  Progressive        Joe Gurule    2981   0.58%   175650  510121
4    Socialist    Carle Whithead    1352   0.27%   175650  510121

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic            J. Allen Frear Jr.  71888  50.85%     3642  141362
2  Republican  C. Douglass Buck (incumbent)  68246  48.28%     3642  141362

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Richard Russell Jr. (Incumbent),362104,99.89%,361716,362504
2,Write-In,Larkin Marshall,388,0.11%,361716,362504
3,Write-In,Ellis Arnall,9,0.00%,361716,362504
4,Write-In,Roy Harris,2,0.00%,361716,362504
5,Write-In,Harry Sommers,1,0.00%,361716,362504

         Party                   Candidate   Votes       % Majority Turnout
1   Democratic              Bert H. Miller  107000  49.96%     3132  214188
2   Republican  Henry Dworshak (Incumbent)  103868  48.49%     3132  214188
3  Progressive                   John Derr    3154   1.47%     3132  214188
4    Socialist                Paul Wengert     166   0.08%     3132  214188

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Paul Douglas,2147754,55.07%,407728,3900285
2,Republican,Charles W. Brooks (Incumbent),1740026,44.61%,407728,3900285
3,Prohibition,Enoch A. Holtwick,9784,0.25%,407728,3900285
4,Socialist Labor,Frank Schnur,2693,0.07%,407728,3900285
5,None,Write-In,28,0.00%,407728,3900285

         Party                     Candidate   Votes       % Majority  Turnout
1   Democratic                  Guy Gillette  578226  57.80%   162448  1000412
2   Republican  George A. Wilson (Incumbent)  415778  41.56%   162448  1000412
3  Progressive               Seymour Pitcher    3387   0.34%   162448  1000412
4  Prohibition             Z. Everett Kellum    2580   0.26%   162448  1000412
5    Socialist                Hugo Bockewitz     441   0.04%   162448  1000412

         Party               Candidate   Votes       % Majority Turnout
1   Republican  Andrew Frank Schoeppel  393412  54.92%    87425  716342
2   Democratic           George McGill  305987  42.72%    87425  716342
3  Prohibition         C. Floyd Hester   16943   2.37%    87425  716342

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Virgil Chapman,408256,51.39%,24480,794469
2,Republican,John Sherman Cooper (Incumbent),383776,48.31%,24480,794469
3,Socialist,W. A. Standefur,1232,0.16%,24480,794469
4,Progressive,H. G. Stanfield,924,0.12%,24480,794469
5,Socialist Labor,David R. Cox,254,0.03%,24480,794469
6,Write-In,John Y. Brown,26,0.00%,24480,794469
7,Write-In,O. G. Gaines,1,0.00%,24480,794469

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Allen J. Ellender (Incumbent),330115,100.00%,330106,330124
2,Independent,Maurice Eugene Clark,9,0.00%,330106,330124

        Party        Candidate   Votes       % Majority Turnout
1  Democratic  Russell B. Long  306336  74.96%   204005  408667
2  Republican   Clem S. Clarke  102331  25.04%   204005  408667

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Margaret Chase Smith (Incumbent),159182,71.30%,95108,223256
2,Democratic,Adrian H. Scolten,64074,28.70%,95108,223256

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Leverett Saltonstall (Incumbent),1088475,52.95%,134077,2055798
2,Democratic,John I. Fitzgerald,954398,46.42%,134077,2055798
3,Socialist Labor,Henning A. Blomen,9266,0.45%,134077,2055798
4,Prohibition,E. Tallmadge Root,3652,0.18%,134077,2055798
5,None,Scattering,7,0.00%,134077,2055798

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Homer S. Ferguson (Incumbent),1045156,50.68%,44827,2062093
2,Democratic,Frank E. Hook,1000329,48.51%,44827,2062093
3,Prohibition,Harold A. Lindahl,12146,0.59%,44827,2062093
4,Socialist,Michael Magee,2160,0.10%,44827,2062093
5,Socialist Labor,Theos S. Grove,1418,0.07%,44827,2062093
6,Socialist Workers,Genora Dollinger,882,0.04%,44827,2062093
7,None,Scattering,2.57%,0.00%,44827,2062093

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Hubert Humphrey,729494,59.78%,243693,1220250
2,Republican,Joseph H. Ball (Incumbent),485801,39.81%,243693,1220250
3,Socialist Workers,Vincent R. Dunne,4951,0.41%,243693,1220250
4,None,Scattering,41.56%,0.00%,243693,1220250

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic  James E. Murray (Incumbent)  125193  56.65%    30735  221003
2   Republican                 Tom J. Davis   94458  42.74%    30735  221003
3  Prohibition                  C. S. Hanna    1352   0.61%    30735  221003

        Party                      Candidate   Votes       % Majority Turnout
1  Republican  Kenneth S. Wherry (Incumbent)  267575  56.70%    63255  471895
2  Democratic                Terry Carpenter  204320  43.30%    63255  471895

         Party                   Candidate   Votes       % Majority Turnout
1   Republican  Styles Bridges (Incumbent)  129600  58.14%    37840  222898
2   Democratic            Alfred E. Fortin   91760  41.17%    37840  222898
3  Progressive             John G. Rideout    1538   0.69%    37840  222898

               Party               Candidate   Votes       % Majority  Turnout
1         Republican   Robert C. Hendrickson  934720  49.99%    50306  1869882
2         Democratic  Archibald S. Alexander  884414  47.30%    50306  1869882
3        Progressive            James Imbrie   22658   1.21%    50306  1869882
4          Socialist             Rubye Smith   11450   0.61%    50306  1869882
5  Socialist Workers         George Breitman    8076   0.43%    50306  1869882
6        Prohibition       George W. Rideout    4656   0.25%    50306  1869882
7    Socialist Labor          George E. Bopp    3908   0.21%    50306  1869882

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clinton Presba Anderson (Incumbent),108269,57.44%,28043,188495
2,Republican,Patrick J. Hurley,80226,42.56%,28043,188495

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,J. Melville Broughton (Incumbent),540762,70.73%,320455,764559
2,Republican,John A. Wilkinson,220307,28.81%,320455,764559
3,Progressive,William T. Brown,3490,0.46%,320455,764559

         Party       Candidate   Votes       % Majority Turnout
1   Democratic  Robert S. Kerr  441654  62.30%   176485  708931
2   Republican     Ross Rizley  265169  37.40%   176485  708931
3  Independent     W. O. Pratt    2108   0.30%   176485  708931

        Party         Candidate   Votes       % Majority Turnout
1  Republican        Guy Cordon  299295  60.03%   100020  498570
2  Democratic  Manley J. Wilson  199275  39.97%   100020  498570

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Theodore F. Green (Incumbent)  190158  59.35%    59896  320420
2  Republican               Thomas P. Hazard  130262  40.65%    59896  320420

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Burnet R. Maybank (Incumbent)  135998  96.45%   130990  141006
2  Republican                J. Bates Gerald    5008   3.55%   130990  141006

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Karl E. Mundt (Incumbent)  144084  59.33%    45335  242833
2  Democratic              John A. Engel   98749  40.67%    45335  242833

         Party               Candidate   Votes       % Majority Turnout
1   Democratic          Estes Kefauver  326142  65.33%   159195  499218
2   Republican        B. Carroll Reece  166947  33.44%   159195  499218
3  Independent  John Randolph Neal Jr.    6103   1.22%   159195  499218
4         None              Scattering      26   0.01%   159195  499218

         Party         Candidate   Votes       % Majority  Turnout
1   Democratic    Lyndon Johnson  702985  66.22%   353320  1061563
2   Republican       Jack Porter  349665  32.94%   353320  1061563
3  Prohibition  Samuel N. Morris    8913   0.84%   353320  1061563

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Absalom Willis Robertson (Incumbent),253865,65.74%,-2.41%,135319,386168
2,Republican,Robert H. Woods,118546,30.70%,+1.68%,135319,386168
4,Progressive,Virginia Foster Durr,5347,1.38%,+1.38%,135319,386168
5,Socialist,Clarke T. Robb,1627,0.42%,-2.40%,135319,386168

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic               Matthew M. Neely  435354  56.99%   106810  763888
2  Republican  Chapman Revercomb (Incumbent)  328534  43.01%   106810  763888

        Party                        Candidate  Votes       % Majority Turnout
1  Democratic                   Lester C. Hunt  57953  57.11%    14426  101480
2  Republican  Edward V. Robertson (Incumbent)  43527  42.89%    14426  101480

         Party                Candidate   Votes       % Majority Turnout
1   Democratic  Lister Hill (Incumbent)  125534  76.54%    87057  164011
2  Independent   John G. Crommelin, Jr.   38477  23.46%    87057  164011

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  Carl Hayden (Incumbent)  116246  62.80%    47400  185092
2  Republican           Bruce Brockett   68846  37.20%    47400  185092

        Party              Candidate    Votes       % Majority  Turnout
1  Republican          Richard Nixon  2183454  59.23%   680947  3686315
2  Democratic  Helen Gahagan Douglas  1502507  40.76%   680947  3686315
3        None             Scattering      354   0.01%   680947  3686315

        Party                       Candidate   Votes       % Majority Turnout
1  Republican  Eugene D. Millikin (Incumbent)  239724  53.25%    29282  450166
2  Democratic                 John A. Carroll  210442  46.75%    29282  450166

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Brien McMahon (Incumbent)  453646  52.58%    44593  862699
2  Republican           Joseph E. Talbot  409053  47.42%    44593  862699

        Party       Candidate   Votes       % Majority Turnout
1  Democratic  William Benton  431413  50.06%     1102  861724
2  Republican   Prescott Bush  430311  49.94%     1102  861724

        Party           Candidate   Votes       % Majority Turnout
1  Democratic  George A. Smathers  238987  76.30%   164759  313215
2  Republican       John P. Booth   74228  23.70%   164759  313215

        Party       Candidate   Votes       % Majority Turnout
1  Republican   Herman Welker  124237  61.68%    47057  201417
2  Democratic  D. Worth Clark   77180  38.32%    47057  201417

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Henry Dworshak (Incumbent)  104608  51.86%     7516  201700
2  Democratic        Claude j. Burtenshaw   97092  48.14%     7516  201700

         Party                   Candidate    Votes       % Majority  Turnout
1   Republican             Everett Dirksen  1951984  53.88%   294354  3622664
2   Democratic  Scott W. Lucas (Incumbent)  1657630  45.76%   294354  3622664
3  Prohibition           Enoch A. Holtwick    13050   0.36%   294354  3622664

         Party                   Candidate   Votes       % Majority  Turnout
1   Republican  Homer Capehart (Incumbent)  844303  52.81%   103278  1598724
2   Democratic            Alex M. Campbell  741025  46.35%   103278  1598724
3  Prohibition                           ?   13396   0.84%   103278  1598724

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Bourke B. Hickenlooper (Incumbent),470613,54.82%,86847,858523
2,Democratic,Albert J. Loveland,383766,44.70%,86847,858523
3,Prohibition,Kellum,3273,0.38%,86847,858523
4,State Right Dem,Seemann,571,0.07%,86847,858523
5,Socialist Labor,Ludwig,300,0.03%,86847,858523

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Frank Carlson (Incumbent)  335880  54.25%    64515  619104
2   Democratic                 Paul Aiken  271365  43.83%    64515  619104
3  Prohibition             Verne L. Damon   11859   1.92%    64515  619104

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Frank Carlson (Incumbent)  321718  55.17%    60313  583123
2  Democratic                 Paul Aiken  261405  44.83%    60313  583123

         Party                   Candidate   Votes       % Majority Turnout
1   Democratic  Earle Clements (Incumbent)  334249  54.16%    55881  617113
2   Republican           Charles I. Dawson  278368  45.11%    55881  617113
3  Independent              James E. Olson    4496   0.73%    55881  617113

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Earle Clements (Incumbent)  317320  54.40%    51326  583314
2  Republican           Charles I. Dawson  265994  45.60%    51326  583314

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Russell Long (Incumbent)  220907  87.72%   189976  251838
2  Republican          Charles S. Gerth   30931  12.28%   189976  251838

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John Marshall Butler,326921,53.00%,43741,615614
2,Democratic,Millard E. Tydings (Incumbent),283180,46.00%,43741,615614
3,Progressive,Sam Fox,6143,1.00%,43741,615614

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Thomas C. Hennings Jr.,685732,53.60%,92810,1279414
2,Republican,Forrest C. Donnell (Incumbent),592922,46.34%,92810,1279414
3,Christian Nationalist,John W. Hamilton,610,0.05%,92810,1279414
4,Socialist Labor,Henry W. Genck,150,0.01%,92810,1279414

        Party                 Candidate  Votes       % Majority Turnout
1  Democratic  Pat McCarran (Incumbent)  35829  58.01%     9896   61762
2  Republican        George E. Marshall  25933  41.99%     9896   61762

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  Charles W. Tobey (Incumbent)  106142  55.99%    33669  189558
2  Democratic               Emmet J. Kelley   72473  38.23%    33669  189558
3    Write-In                 Wesley Powell   10943   5.77%    33669  189558

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Herbert H. Lehman (Incumbent),2319719,44.37%,264960,5228394
2,Republican,Joe R. Hanley,2367353,45.28%,264960,5228394
3,Liberal,Herbert H. Lehman (Incumbent),312594,5.98%,264960,5228394
4,American Labor,W. E. B. Du Bois,205729,3.93%,264960,5228394
5,Socialist Workers,Joseph Hansen,13340,0.29%,264960,5228394
6,Industrial Government,Stephen Emery,7559,0.15%,264960,5228394

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Clyde R. Hoey (Incumbent)  376472  68.66%   204668  548276
2  Republican          Halsey B. Leavitt  171804  31.34%   204668  548276

        Party        Candidate   Votes       % Majority Turnout
1  Democratic     Willis Smith  364912  66.97%   187159  544924
2  Republican     E. L. Galvin  177753  32.62%   187159  544924
3    Write-In  Frank P. Graham    2259   0.41%   187159  544924

        Party        Candidate   Votes       % Majority Turnout
1  Republican  Milton R. Young  126209  67.59%    65702  186716
2  Democratic    Harry OBrien   60507  32.41%    65702  186716

        Party                   Candidate    Votes       % Majority  Turnout
1  Republican  Robert A. Taft (Incumbent)  1645643  57.54%   431184  2860102
2  Democratic          Joseph T. Ferguson  1214459  42.46%   431184  2860102

        Party               Candidate   Votes       % Majority Turnout
1  Democratic           Mike Monroney  345953  54.81%    60729  631177
2  Republican  W. H. Bill Alexander  285224  45.19%    60729  631177

         Party                Candidate   Votes       % Majority Turnout
1   Republican  Wayne Morse (Incumbent)  376510  74.79%   259730  503455
2   Democratic        Howard LaTourette  116780  23.20%   259730  503455
3  Progressive           Harlin Talbert   10165   2.02%   259730  503455

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,James H. Duff,1820400,51.30%,126324,3548642
2,Democratic,Francis J. Myers (Incumbent),1694076,47.74%,126324,3548642
3,Prohibition,Earl N. Bergerstock,12618,0.36%,126324,3548642
4,G.I.s Against Communism,Jack Sill,8353,0.24%,126324,3548642
5,Progressive,Lillian R. Narins,5516,0.16%,126324,3548642
6,Socialist,William J. Van Essen,4864,0.14%,126324,3548642
7,Industrial Government,Frank Knotek,1596,0.04%,126324,3548642
8,Militant Workers,Clyde A. Turner,1219,0.03%,126324,3548642

        Party        Candidate   Votes       % Majority Turnout
1  Democratic  John O. Pastore  183725  56.03%    39541  327909
2  Republican   Austin T. Levy  144184  43.97%    39541  327909

        Party      Candidate   Votes       % Majority Turnout
1  Republican   Francis Case  160670  63.92%    69978  251362
2  Democratic  John A. Engel   90692  36.08%    69978  251362

         Party                     Candidate   Votes       % Majority Turnout
1   Republican            Wallace F. Bennett  142427  53.86%    21229  264440
2   Democratic  Elbert D. Thomas (Incumbent)  121198  45.83%    21229  264440
3  Independent                    Bill Baker     815   0.31%    21229  264440

        Party            Candidate  Votes       % Majority Turnout
1  Republican  George Aiken (inc.)  69543  77.99%    49935   89171
2  Democratic     James E. Bigelow  19608  21.99%    49935   89171
3        None           Scattering     20   0.02%    49935   89171

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Warren G. Magnuson (Incumbent),397719,53.40%,55255,744783
2,Republican,Walter Williams,342464,45.98%,55255,744783
3,Independent,Herbert J. Phillips,3120,0.42%,55255,744783
4,Socialist Labor,H. J. Churchward,1480,0.20%,55255,744783

         Party                    Candidate   Votes       % Majority  Turnout
1   Republican  Alexander Wiley (Incumbent)  595283  53.33%    79744  1116135
2   Democratic               Henry W. Maier  515539  46.19%    79744  1116135
3    Socialist              Edwin W. Knappe    3972   0.36%    79744  1116135
4  Independent             Perry J. Stearns     644   0.06%    79744  1116135
5  Independent             James E. Boulton     332   0.03%    79744  1116135
6  Independent              Artemio Cozzini     307   0.03%    79744  1116135
7         None                   Scattering      58   0.01%    79744  1116135

        Party                     Candidate   Votes      % Majority Turnout
1  Republican               Barry Goldwater  132063  51.31     6725  257401
2  Democratic  Ernest McFarland (Incumbent)  125338  48.69     6725  257401

        Party                     Candidate    Votes      % Majority  Turnout
1  Republican  William Knowland (Incumbent)  3982448  87.67  3440178  4542440
2  Democratic             Reuben W. Borough   542270  11.94  3440178  4542440
3    Write-In         Helen Gahagan Douglas    11812   0.26  3440178  4542440
4        None                    Scattering     5910   0.13  3440178  4542440

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William A. Purtell,573854,52.48,88788,1093467
2,Democratic,William Benton (Incumbent),485066,44.36,88788,1093467
3,Independent Republican,Vivien Kellems,22268,2.04,88788,1093467
4,Socialist,Jasper McLevy,12279,1.12,88788,1093467

        Party            Candidate   Votes      % Majority  Turnout
1  Republican        Prescott Bush  559465  51.17    28960  1093268
2  Democratic  Abraham A. Ribicoff  530505  48.52    28960  1093268
3   Socialist      William J. Taft    3298   0.30    28960  1093268

        Party                     Candidate  Votes      % Majority Turnout
1  Republican  John J. Williams (Incumbent)  93020  54.49    15335  170705
2  Democratic       Alexis I. DuPont Bayard  77685  45.51    15335  170705

        Party                        Candidate   Votes      % Majority Turnout
1  Democratic  Spessard L. Holland (Incumbent)  616665  99.82   615530  617800
2        None                       Scattering    1135   0.18   615530  617800

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William E. Jenner (Incumbent),1020605,52.44,109436,1946118
2,Democratic,Henry F. Schriker,911169,46.82,109436,1946118
3,Prohibition,Carl W. Thompson,12734,0.65,109436,1946118
4,Progressive,Carl Leon Eddy,891,0.05,109436,1946118
5,Socialist Labor,John Marion Morris,719,0.04,109436,1946118

        Party            Candidate   Votes      % Majority Turnout
1  Republican  John Sherman Cooper  494576  51.51    28924  960228
2  Democratic  Thomas R. Underwood  465652  48.49    28924  960228

                    Party           Candidate   Votes      % Majority Turnout
1              Republican  Frederick G. Payne  139205  58.70    56540  237164
2              Democratic       Roger P. Dube   82665  34.86    56540  237164
3  Independent Democratic       Earl S. Grant   15294   6.45    56540  237164

        Party          Candidate   Votes      % Majority Turnout
1  Republican  James Glenn Beall  449823  52.54    43453  856193
2  Democratic  George P. Mahoney  406370  47.46    43453  856193

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John F. Kennedy,1211984,51.34,70737,2360425
2,Republican,Henry Cabot Lodge Jr. (Incumbent),1141247,48.35,70737,2360425
3,Socialist Labor,Thelma Ingersoll,4683,0.20,70737,2360425
4,Prohibition,Mark R. Shaw,2508,0.11,70737,2360425
5,None,Scattering,3,0.00,70737,2360425

               Party                Candidate    Votes      % Majority
1         Republican        Charles E. Potter  1428352  50.63    44936
2         Democratic  Blair Moody (Incumbent)  1383416  49.04    44936
3        Prohibition          LeRoy M. Lowell     7435   0.26    44936
4    Socialist Labor                James Sim     1202   0.04    44936
5  Socialist Workers         Genora Dollinger      726   0.03    44936
6               None               Scattering        2   0.00    44936

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles E. Potter,1417032,51.24,69327,2765716
2,Democratic,Blair Moody (Incumbent),1347705,48.73,69327,2765716
3,Socialist Workers,Genora Dollinger (SW),819,0.03,69327,2765716
4,None,Scattering,160,0.01,69327,2765716

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Edward J. Thye (Incumbent),785649,56.63,195638,1387419
2,Democratic (DFL),Bill Carlson,590011,42.53,195638,1387419
3,Progressive,Marian LeSueur,7917,0.57,195638,1387419
4,Socialist Workers,Vincent R. Dunne,3842,0.28,195638,1387419

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Stuart Symington,1008521,53.99,150351,1868099
2,Republican,James P. Kem (Incumbent),858170,45.94,150351,1868099
3,Progressive,Haven P. Perkins,883,0.05,150351,1868099
4,Socialist,Joseph G. Hodges,219,0.01,150351,1868099
5,Christian Nationalist,Christian Frederick,161,0.01,150351,1868099
6,Socialist Labor,Henry W. Genck,145,0.01,150351,1868099

         Party                   Candidate   Votes      % Majority Turnout
1   Democratic              Mike Mansfield  133109  50.75     5749  262297
2   Republican  Zales N. Ecton (Incumbent)  127360  48.56     5749  262297
3  Progressive   Lawrence J. Larry Price    1828   0.70     5749  262297

         Party                Candidate   Votes      % Majority Turnout
1   Republican  Hugh Butler (Incumbent)  408971  69.11   244311   59179
2   Democratic          Stanley D. Long  164660  27.83   244311   59179
3  By Petition              Dwight Dell   18087   3.06   244311   59179
4         None               Scattering      31   0.01   244311   59179

        Party                     Candidate  Votes      % Majority Turnout
1  Republican  George W. Malone (Incumbent)  41906  51.68     2722   81090
2  Democratic            Thomas B. Mechling  39184  48.32     2722   81090

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,H. Alexander Smith (Incumbent),1286782,55.51,275595,2318232
2,Democratic,Archibald S. Alexander,1011187,43.62,275595,2318232
3,Progressive,Katharine A. Van Orden,7195,0.31,275595,2318232
4,Prohibition,A. N. Smith,6815,0.29,275595,2318232
5,Socialist Workers,George Breitman,5088,0.22,275595,2318232
6,Socialist Labor,Albert Ronis,1165,0.05,275595,2318232

        Party                  Candidate   Votes      % Majority Turnout
1  Democratic  Dennis Chavez (Incumbent)  122543  51.12     5375  239711
2  Republican          Patrick J. Hurley  117168  48.88     5375  239711

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Irving M. Ives (Incumbent),3853934,55.21,1332198,6980259
2,Democratic,John Cashmore,2521736,36.13,1332198,6980259
3,Liberal,George S. Counts,489775,7.02,1332198,6980259
4,American Labor,Corliss Lamont,104702,1.50,1332198,6980259
5,Socialist Workers,Michael Bartell,4263,0.06,1332198,6980259
6,Socialist,Joseph S. Glass,3382,0.05,1332198,6980259
7,Industrial Government,Nathan Karp,2451,0.04,1332198,6980259

        Party                   Candidate   Votes      % Majority Turnout
1  Republican  William Langer (Incumbent)  157907  66.35   102560  237995
2  Democratic          Harold A. Morrison   55347  23.26   102560  237995
3  Republican             Fred G. Aandahl   24741  10.40   102560  237995

        Party                    Candidate    Votes      % Majority  Turnout
1  Republican  John W. Bricker (Incumbent)  1878961  54.58   295631  3442291
2  Democratic           Michael V. DiSalle  1563330  45.42   295631  3442291

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Edward Martin (Incumbent),2331034,51.58,162488,4519423
2,Democratic,Guy Kurtz Bard,2168546,47.98,162488,4519423
3,Prohibition,Ira S. Sassaman,12150,0.27,162488,4519423
4,Socialist,William J. Van Essen,3538,0.08,162488,4519423
5,Militant Workers,Anna Chester,2258,0.05,162488,4519423
6,Independent Government,Frank Knotek,1897,0.04,162488,4519423

        Party                    Candidate   Votes      % Majority Turnout
1  Democratic  John O. Pastore (Incumbent)  225128  54.78    39278  410978
2  Republican             Bayard Ewing[12]  185850  45.22    39278  410978

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Albert Gore Sr.,545432,74.19,391953,735219
2,Republican,Hobart F. Atkins,153479,20.88,391953,735219
3,Independent,Richard M. Barber,22169,3.02,391953,735219
4,Good Government and Clean Elections,John Randolph Neal Jr.,14132,1.92,391953,735219
5,None,Write-Ins,7,0.00,391953,735219

        Party                      Candidate   Votes      % Majority Turnout
1  Republican  Arthur V. Watkins (Incumbent)  177435  54.26    27837  327033
2  Democratic              Walter K. Granger  149598  45.74    27837  327033

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,Ralph E. Flanders (Incumbent),111406,72.32,68776,154052
2,Democratic,Allan R. Johnston,42630,27.67,68776,154052
3,None,Scattering,16,0.01,68776,154052

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harry F. Byrd (Incumbent),398677,73.35,329544,543516
2,Independent Democratic,H. M. Vise Sr.,69133,12.72,329544,543516
3,Social Democratic,Clarke T. Robb,6721,12.38,329544,543516
4,None,Scattering,8425,1.55,329544,543516

             Party                  Candidate   Votes      % Majority  Turnout
1       Democratic           Henry M. Jackson  595288  56.23   134404  1058735
2       Republican  Harry P. Cain (Incumbent)  460884  43.53   134404  1058735
3      Progressive          Thomas C. Rabbitt    1912   0.18   134404  1058735
4  Socialist Labor              Henry Killman     651   0.06   134404  1058735

        Party                      Candidate   Votes      % Majority Turnout
1  Democratic  Harley M. Kilgore (Incumbent)  470019  53.62    63465  876573
2  Republican              Chapman Revercomb  406554  46.38    63465  876573

         Party                    Candidate   Votes      % Majority  Turnout
1   Republican  Joseph McCarthy (Incumbent)  870444  54.23   139042  1605228
2   Democratic          Thomas E. Fairchild  731402  45.56   139042  1605228
3  Independent          Alfred L. Easterday    1879   0.12   139042  1605228
4  Independent             James E. Boulton    1442   0.09   139042  1605228
5         None                   Scattering      61   0.00   139042  1605228

        Party                        Candidate  Votes      % Majority Turnout
1  Republican                 Frank A. Barrett  67176  51.64     4255  130097
2  Democratic  Joseph C. O'Mahoney (Incumbent)  62921  48.36     4255  130097

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  John Sparkman (Incumbent)  259348  82.47%   204438  314458
2  Republican            J. Foy Guin Jr.   55110  17.53%   204438  314458

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Thomas Kuchel (Incumbent),2090836,53.2%,302765,3929668
2,Democratic,Sam Yorty,1788071,45.5%,302765,3929668
3,Independent-Progressive,Isobel M. Cerney,50506,1.3%,302765,3929668
4,None,Scattering,255,0.00%,302765,3929668

        Party        Candidate   Votes       % Majority Turnout
1  Republican    Gordon Allott  248502  51.32%    12816  484188
2  Democratic  John A. Carroll  235686  48.68%    12816  484188

        Party                   Candidate  Votes       % Majority Turnout
1  Democratic  J. Allen Frear (Incumbent)  82511  56.94%    20122  144900
2  Republican        Herbert B. Warburton  62389  43.06%    20122  144900

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic  Richard B. Russell (Incumbent)  333917  99.99%   333898  333936
2        None                      Scattering      19   0.01%   333898  333936

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Henry Dworshak (Incumbent)  142269  62.84%    58130  226408
2  Democratic              Glen H. Taylor   84139  37.16%    58130  226408

        Party                    Candidate    Votes       % Majority  Turnout
1  Democratic  Paul H. Douglas (Incumbent)  1804338  53.57%   240655  3368021
2  Republican               Joseph T. Meek  1563683  46.43%   240655  3368021

          Party                 Candidate   Votes       % Majority Turnout
1    Republican          Thomas E. Martin  442409  52.21%    39697  847355
2    Democratic  Guy Gillette (Incumbent)  402712  47.53%    39697  847355
3  Republicsons             Ernest Seeman    2234   0.26%    39697  847355

         Party                     Candidate   Votes       % Majority Turnout
1   Republican  Andrew Schoeppel (Incumbent)  348144  56.33%    89569  618063
2   Democratic                 George McGill  258575  41.84%    89569  618063
3  Prohibition                David C. White   11344   1.84%    89569  618063

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Alben Barkley,434109,54.46%,71161,797057
2,Republican,John Sherman Cooper (Incumbent),362948,45.54%,71161,797057

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Margaret Chase Smith (Incumbent),144530,58.61%,42455,246605
2,Democratic,Paul A. Fullam,102075,41.39%,42455,246605

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Leverett Saltonstall,956605,50.54%,-2.41%,28706,1892710
2,Democratic,Foster Furcolo,927899,49.03%,+2.60%,28706,1892710
3,Socialist Labor,Thelma Ingersoll,5353,0.28%,-0.17%,28706,1892710
4,Prohibition,Harold J. Ireland,2832,0.15%,-0.03%,28706,1892710

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Patrick V. McNamara,1088550,50.75%,39130,2144840
2,Republican,Homer S. Ferguson (Incumbent),1049420,48.93%,39130,2144840
3,Prohibition,Leroy M. Lowell,4841,0.23%,39130,2144840
4,Socialist Labor,James Sim,1126,0.05%,39130,2144840
5,Socialist Workers,Rita Shaw,902,0.04%,39130,2144840
6,None,Scattering,1,0.00%,39130,2144840

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Hubert Humphrey (Incumbent),642193,56.38%,162574,1138952
2,Republican,Val Bjornson,479619,42.11%,162574,1138952
3,Liberal Independent,Francis Patrick Ryan,12457,1.09%,162574,1138952
4,Socialist Workers,Vincent R. Dunne,4683,0.41%,162574,1138952

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  James Eastland (Incumbent)  100848  95.57%    96070  105526
2  Republican              James A. White    4678   4.43%    96070  105526

        Party               Candidate   Votes       %        Majority Turnout
1  Democratic  James E. Murray (inc.)  114591  50.38%  -6.27%     1728  227454
2  Republican       Wesley A. D'Ewart  112863  49.62%  +6.88%     1728  227454

        Party       Candidate   Votes       % Majority Turnout
1  Republican  Carl T. Curtis  255695  61.07%    92705  418691
2  Democratic   Keith Neville  162990  38.93%    92705  418691
3        None      Scattering       6   0.00%    92705  418691

        Party       Candidate   Votes       % Majority Turnout
1  Republican    Roman Hruska  250341  60.88%    89460  411225
2  Democratic  James F. Green  160881  39.12%    89460  411225
3        None      Scattering       3   0.00%    89460  411225

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,"""Mrs. George P. Abel"" (Hazel Abel)",233589,57.76%,62761,404422
2,Democratic,William H. Meier,170828,42.24%,62761,404422
3,None,Scattering,5,0.00%,62761,404422

        Party                    Candidate  Votes       % Majority Turnout
1  Democratic                   Alan Bible  45043  58.11%    12573   77513
2  Republican  Ernest S. Brown (Incumbent)  32470  41.89%    12573   77513

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Styles Bridges (Incumbent)  117150  60.22%    39764  194536
2  Democratic             Gerard L. Morin   77386  39.78%    39764  194536

        Party                      Candidate   Votes       % Turnout
1  Democratic                  Norris Cotton  114068  60.18%  189558
2  Republican  Stanley J. Betley (Incumbent)   75490  39.82%  189558

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Clifford Case (Incumbent),861528,48.66%,3370,1770554
2,Democratic,Charles R. Howell,858158,48.47%,3370,1770554
3,American Third,Henry Krajewski,35421,2.00%,3370,1770554
4,Write-In,Fred A. Hartley,7025,0.40%,3370,1770554
5,Socialist Labor,Albert Ronis,4832,0.27%,3370,1770554
6,Socialist Workers,George Breitman,3590,0.20%,3370,1770554

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clinton P. Anderson (Incumbent),111351,57.10%,27680,195022
2,Republican,Edwin L. Mechem,83671,42.90%,27680,195022

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  W. Kerr Scott (Incumbent)  408312  65.90%   196990  619634
2  Republican               Paul C. West  211322  34.10%   196990  619634

        Party                    Candidate    Votes       % Majority  Turnout
1  Republican             George H. Bender  1257874  50.06%     2970  2512778
2  Democratic  Thomas A. Burke (Incumbent)  1254904  49.94%     2970  2512778

         Party                   Candidate   Votes       % Majority Turnout
1   Democratic  Robert S. Kerr (Incumbent)  335127  55.84%    73114  600120
2   Republican                Fred M. Mock  262013  43.66%    73114  600120
3  Independent             George V. Fried    1563   0.26%    73114  600120
4  Independent           George H. Brasier    1417   0.24%    73114  600120

        Party             Candidate   Votes       % Majority Turnout
1  Democratic  Richard L. Neuberger  285775  50.22%     2462  569088
2  Republican            Guy Cordon  283313  49.78%     2462  569088

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Theodore Francis Green (Incumbent),193654,59.29%,60684,326624
2,Republican,Walter I. Sundlun,132970,40.71%,60684,326624

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Strom Thurmond (Write-In),143444,63.13,63.13,59919,227232
2,Democratic,Edgar A. Brown,83525,36.76,-59.64,59919,227232
3,Democratic,Marcus Stone (Write-In),240,0.11,0.11,59919,227232
4,No party,Write-Ins,23,0.00,0.00,59919,227232

        Party               Candidate   Votes       % Majority Turnout
1  Republican  Karl Mundt (Incumbent)  135071  57.30%    34397  235745
2  Democratic           Kenneth Holum  100674  42.70%    34397  235745

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Estes Kefauver (Incumbent)  249121  69.96%   142150  356094
3        None                   Write-Ins  21.76%   0.00%   142150  356094

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Lyndon Johnson (Incumbent)  538417  84.59%   443384  636475
2  Republican               Carlos Watson   95033  14.93%   443384  636475
3   Communist            Fred T. Spangler    3025   0.48%   443384  636475

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Absalom Willis Robertson (Incumbent),244844,79.88%,+14.14%,212163,306510
2,Independent Democratic,Charles W. Lewis Jr.,32681,10.66%,+10.66%,212163,306510
3,Social Democratic,Clarke T. Robb,28922,9.44%,+9.02%,212163,306510

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Matthew M. Neely (Incumbent)  325263  54.82%    57197  593329
2  Republican                   Tom Sweeney  268066  45.18%    57197  593329

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Joseph C. O'Mahoney,57845,51.53%,3438,112252
2,Republican,William Henry Harrison III (Incumbent),54407,48.47%,3438,112252

        Party                   Candidate  Votes       % Majority Turnout
1  Democratic         Joseph C. O'Mahoney  57163  51.56%     3458  110868
2  Republican  William Henry Harrison III  53705  48.44%     3458  110868

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  Carl Hayden (Incumbent)  170816  61.39%    63369  278263
2  Republican            Ross F. Jones  107447  38.61%    63369  278263

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,J. William Fulbright (Incumbent),331689,82.98%,263673,399705
2,Republican,Ben C. Henley,68016,17.02%,263673,399705

         Party                  Candidate    Votes       % Majority  Turnout
1   Republican  Thomas Kuchel (Incumbent)  2892918  53.96%   447102  5361467
2   Democratic           Richard Richards  2445816  45.62%   447102  5361467
3  Prohibition                Ray Gourley    22410   0.42%   447102  5361467
4         None                 Scattering      323   0.01%   447102  5361467

        Party        Candidate   Votes       % Majority Turnout
1  Democratic  John A. Carroll  319872  50.22%     2770  636974
2  Republican     Dan Thornton  317102  49.78%     2770  636974

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Prescott Bush (Incumbent),610829,54.84%,131369,1113819
2,Democratic,Thomas J. Dodd,479460,43.05%,131369,1113819
3,Independent Republican,Suzanne S. Stevenson,10199,0.92%,131369,1113819
4,Socialist,Jasper McLevy,7079,0.64%,131369,1113819
5,Write-In,Vivien Kellems,6219,0.56%,131369,1113819
6,None,Scattering,33,0.00%,131369,1113819

        Party        Candidate   Votes       % Majority Turnout
1  Democratic  Herman Talmadge  541094  99.97%   540921  541267
2        None       Scattering     173   0.03%   540921  541267

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic               Frank Church  149096  56.20%    46315  265292
2  Republican  Herman Welker (Incumbent)  102781  38.74%    46315  265292
3        None                Glen Taylor   13415   5.06%    46315  265292

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Everett Dirksen (Incumbent),2307352,54.10%,357469,4264830
2,Democratic,Richard Stengel,1949883,45.72%,357469,4264830
3,Socialist Labor,Louis Fisher,7587,0.18%,357469,4264830
4,None,Scattering,8,0.00%,357469,4264830

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Homer Capehart (Incumbent),1084262,55.20%,212481,1963986
2,Democratic,Claude R. Wickard,871781,44.39%,212481,1963986
3,Prohibition,Carl W. Thompson,6685,0.34%,212481,1963986
4,Socialist Labor,Gordon A. Long,1258,0.06%,212481,1963986

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Bourke B. Hickenlooper (Incumbent),635499,53.92%,92343,1178655
2,Democratic,R. M. Evans,543156,46.08%,92343,1178655

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Frank Carlson (Incumbent)  477822  57.90%   143883  825280
2   Democratic                George Hart  333939  40.46%   143883  825280
3  Prohibition            C. Floyd Hester   13519   1.64%   143883  825280

        Party             Candidate   Votes       % Majority  Turnout
1  Republican        John S. Cooper  538505  53.23%    65365  1011645
2  Democratic  Lawrence W. Wetherby  473140  46.77%    65365  1011645

        Party                   Candidate   Votes       % Majority  Turnout
1  Republican          Thruston B. Morton  506903  50.35%     6981  1011645
2  Democratic  Earle Clements (Incumbent)  499922  49.65%     6981  1011645

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John Marshall Butler (Incumbent),473059,52.96%,52951,893167
2,Democratic,George P. Mahoney,420108,47.04%,52951,893167

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Thomas C. Hennings Jr. (Incumbent),1015936,56.41%,230888,1800984
2,Republican,Herbert Douglas,785048,43.59%,230888,1800984

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Alan Bible (Incumbent)  50677  52.58%     4965   96389
2  Republican             Cliff Young  45712  47.42%     4965   96389

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Norris Cotton (Incumbent)  161424  64.07%    70905  251943
2  Democratic        Laurence M. Pickett   90519  35.93%    70905  251943

        Party                     Candidate    Votes       % Majority  Turnout
1  Republican                  Jacob Javits  3723933  53.26%   458774  6991136
2  Democratic  Robert F. Wagner (Incumbent)  3265159  46.70%   458774  6991136
3        None                    Scattering     1390   0.02%   458774  6991136
4        None                 Miscellaneous      654   0.01%   458774  6991136

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Samuel J. Ervin Jr. (Incumbent),731433,66.56%,363958,1098908
2,Republican,Joel A. Johnson,367475,33.44%,363958,1098908

         Party           Candidate   Votes       % Majority Turnout
1   Republican     Milton R. Young  155305  63.61%    67386  244161
2   Democratic  Quentin N. Burdick   87919  36.01%    67386  244161
3  Independent   Arthur C. Townley     937   0.38%    67386  244161

        Party                     Candidate    Votes       % Majority  Turnout
1  Democratic              Frank J. Lausche  1864589  52.89%   203679  3525499
2  Republican  George H. Bender (Incumbent)  1660910  47.11%   203679  3525499

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Mike Moroney (Incumbent)  459996  55.35%    88850  831142
2  Republican          Douglas McKeever  371146  44.65%    88850  831142

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,"Wayne Morse,incumbent Senator since 1945; memb...",396849,54.20%,61444,732254
2,Republican,"Douglas McKay,former Governor of Oregon (1949...",335405,45.80%,61444,732254

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Joseph S. Clark Jr.Former Mayor of Philadelphia,2268641,50.08%,17970,4529874
2,Republican,James H. DuffIncumbent U.S. senator,2250671,49.69%,17970,4529874
3,Socialist Labor,George S. Taylor,7447,0.16%,17970,4529874
4,Militant Workers,Herbert G. Lewin,2035,0.05%,17970,4529874

        Party         Candidate   Votes       %         Majority Turnout
1  Democratic  Olin D. Johnston  230150  82.21%  -17.69%   180455  279969
2  Republican  Leon P. Crawford   49695  17.75%  +17.75%   180455  279969
3    No party         Write-Ins     124   0.04%     -0.1   180455  279969

        Party       Candidate   Votes Majority Turnout
1  Democratic  Strom Thurmond  245371   245371  245371
2      245371          100.0%   +73.7   245371  245371
3      245371            32.2    +5.9   245371  245371

        Party                 Candidate   Votes       % Majority Turnout
1  Republican  Francis Case (Incumbent)  147621  50.79%     4620  290622
2  Democratic             Kenneth Holum  143001  49.21%     4620  290622

        Party                       Candidate   Votes       % Majority Turnout
1  Republican  Wallace F. Bennett (Incumbent)  178261  53.96%    26141  330381
2  Democratic                Alonzo F. Hopkin  152120  46.04%    26141  330381

        Party                 Candidate   Votes       % Majority Turnout
1  Republican  George Aiken (Incumbent)  103101  66.39%    50917  155289
2  Democratic         Bernard G. O'Shea   52184  33.60%    50917  155289
3        None                Scattering       4   0.00%    50917  155289

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Warren G. Magnuson (Incumbent),685565,61.09%,248913,1122217
2,Republican,Arthur B. Langlie,436652,38.91%,248913,1122217

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  William Chapman Revercomb  432123  53.67%    59072  805174
2  Democratic         William C. Marland  373051  46.33%    59072  805174

         Party                    Candidate   Votes       % Majority  Turnout
1   Republican  Alexander Wiley (Incumbent)  892473  58.59%   264570  1523356
2   Democratic               Henry W. Maier  627903  41.22%   264570  1523356
3  Independent                Walter Semrau    2745   0.18%   264570  1523356
4         None                   Scattering     235   0.02%   264570  1523356

        Party        Candidate  Votes       % Majority Turnout
1  Democratic     Bob Bartlett  40939  83.83%    33640   48837
2  Republican  R. E. Robertson   7299  14.95%    33640   48837
3    Write-In     Keith Capper    599   1.23%    33640   48837

        Party        Candidate  Votes       % Majority Turnout
1  Democratic  Ernest Gruening  26045  52.61%     2581   49509
2  Republican   Mike Stepovich  23464  47.39%     2581   49509

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Barry Goldwater (Incumbent)  164593  56.06%    35563  293623
2  Democratic          Ernest W. McFarland  129030  43.94%    35563  293623

        Party                   Candidate    Votes       % Majority  Turnout
1  Democratic                 Clair Engle  2927693  57.01%   723356  5135221
2  Republican  Goodwin Knight (Incumbent)  2204337  42.93%   723356  5135221
3    Write-In            Jesse M. Ritchie      892   0.02%   723356  5135221
4    Write-In              Ray B. Pollard      281   0.01%   723356  5135221
5        None                  Scattering     2018   0.04%   723356  5135221

         Party           Candidate   Votes       % Majority Turnout
1   Democratic      Thomas J. Dodd  554841  57.28%   144219  968625
2   Republican  William A. Purtell  410622  42.39%   144219  968625
3  Independent      Vivien Kellems    3043   0.31%   144219  968625
4         None          Scattering     119   0.01%   144219  968625

        Party                     Candidate  Votes       % Majority Turnout
1  Republican  John J. Williams (Incumbent)  82280  53.28%    10128  154432
2  Democratic                 Elbert Carvel  72152  46.72%    10128  154432

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Spessard Holland (Incumbent),386113,71.23%,28.59,230157,542069
2,Republican,Leland Hyzer,155956,28.77%,28.77,230157,542069

         Party          Candidate   Votes       % Majority  Turnout
1   Democratic       Vance Hartke  973636  56.47%   242001  1724311
2   Republican  Harold W. Handley  731635  42.43%   242001  1724311
3  Prohibition        John Stelle   19040   1.10%   242001  1724311

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic                   Edmund Muskie  172704  60.76%    61182  284226
2  Republican  Frederick G. Payne (Incumbent)  111522  39.24%    61182  284226

        Party                      Candidate   Votes       % Majority Turnout
1  Republican  James Glenn Beall (Incumbent)  384931  51.18%    17789  752073
2  Democratic             Thomas D'Alesandro  367142  48.82%    17789  752073

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John F. Kennedy (Incumbent),1362926,73.20%,874608,1862041
2,Republican,Vincent J. Celeste,488318,26.22%,874608,1862041
3,Socialist Labor,Lawrence Gilfedder,5457,0.29%,874608,1862041
4,Prohibition,Mark R. Shaw,5335,0.29%,874608,1862041
5,None,Scattering,5,0.00%,874608,1862041

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Philip A. Hart,1216966,53.57%,170003,2271644
2,Republican,Charles E. Potter (Incumbent),1046963,46.09%,170003,2271644
3,Prohibition,Elmer H. Ormiston,3518,0.15%,170003,2271644
4,Socialist Labor,James Sim,3128,0.14%,170003,2271644
5,Socialist Workers,Evelyn Sell,1068,0.05%,170003,2271644
6,None,Scattering,1,0.00%,170003,2271644

,Party,Candidate,Votes,%,Total votes,Majority
1,Democratic (DFL),Eugene J. McCarthy,608847,52.95%,1149883,73218
2,Republican,Edward John Thye (Incumbent),535629,46.58%,1149883,73218
3,Socialist Workers,William M. Curran,5407,0.47%,1149883,73218

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Stuart Symington (Incumbent),780083,66.45%,12.46,386236,1173930
2,Republican,Hazel Palmer,393847,33.55%,12.39,386236,1173930

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Mike Mansfield (Incumbent),174910,76.22%,25.47%,120337,229483
2,Republican,Lou W. Welch,54573,23.78%,24.77%,120337,229483

        Party                 Candidate   Votes       % Majority Turnout
1  Republican  Roman Hruska (Incumbent)  232227  55.64%    47075  417379
2  Democratic         Frank B. Morrison  185152  44.36%    47075  417379

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,"Howard Cannon, City Attorney of Las Vegas",48732,57.65%,7.63%,12972,84492
2,Republican,George W. Malone (Incumbent),35760,42.32%,9.35%,12972,84492

               Party             Candidate   Votes       %      Total votes
1         Democratic  Harrison A. Williams  966832  51.39%  7.77     1881303
2         Republican           Robert Kean  882287  46.90%  8.61     1881303
3  Socialist Workers        Daniel Roberts   11669   0.62%  0.40     1881303
8    Socialist Labor          Albert Ronis    2935   0.16%  0.09     1881303

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Dennis Chavez (Incumbent)  127496  62.71%    51669  203323
2  Republican         Forrest S. Atchley   75827  37.29%    51669  203323

                   Party        Candidate    Votes       % Majority  Turnout
1             Republican  Kenneth Keating  2842942  50.75%   132992  5601979
2             Democratic      Frank Hogan  2709950  48.37%   132992  5601979
3  Independent Socialist   Corliss Lamont    49087   0.88%   132992  5601979
4                   None       Scattering       95   0.00%   132992  5601979

        Party              Candidate   Votes      %
1  Democratic      B. Everett Jordan  431492  70.0%
2  Republican  Richard C. Clarke Jr.  184977  30.0%

         Party                   Candidate   Votes       % Majority Turnout
1   Republican  William Langer (Incumbent)  117070  57.21%    32178  204635
2   Democratic          Raymond G. Vendsel   84892  41.49%    32178  204635
3  Independent           Arthur C. Townley    1700   0.83%    32178  204635
4  Independent                Custer Solem     973   0.48%    32178  204635

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Stephen M. Young,1652211,52.46%,7.04,155012,3149410
2,Republican,John W. Bricker (Incumbent),1497199,47.54%,7.05,155012,3149410

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Hugh Scott,2042586,51.21%,0.37%,112765,3988622
2,Democratic,George M. Leader,1929821,48.38%,0.40%,112765,3988622
3,Socialist Labor,George S. Taylor,10431,0.26%,0.26%,112765,3988622
4,Socialist Workers,Ethel Peterson,5742,0.14%,0.14%,112765,3988622

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  John Pastore (Incumbent)  222166  64.49%    99813  344519
2  Republican              Bayard Ewing  122353  35.51%    99813  344519

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Albert Gore Sr. (Incumbent)  317324  79.00%   240953  401665
2  Republican             Hobart F. Atkins   76371  19.01%   240953  401665
3    Write-In             Chester W. Mason    5324   1.33%   240953  401665
4    Write-In             Thomas Gouge Jr.    2646   0.66%   240953  401665

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Ralph Yarborough (Incumbent)  587030  74.58%   401104  787128
2  Republican               Roy Whittenburg  185926  23.62%   401104  787128
3    Write-In                 Bard W. Logan   14172   1.80%   401104  787128

         Party                      Candidate   Votes       % Majority Turnout
1   Democratic                     Frank Moss  112827  38.73%    11356  291311
2   Republican  Arthur V. Watkins (Incumbent)  101471  34.83%    11356  291311
3  Independent                 J. Bracken Lee   77013  26.44%    11356  291311

        Party             Candidate  Votes       % Majority Total votes
1  Republican     Winston L. Prouty  64900  52.15%     5364      124442
2  Democratic  Frederick J. Fayette  59536  47.84%     5364      124442

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Harry F. Byrd Sr. (Incumbent),317221,69.32%,4.03%,196997,457640
2,Independent,Louise Wensel,120224,26.27%,26.27%,196997,457640
3,Social Democratic,Clarke T. Robb,20154,4.40%,7.98%,196997,457640

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Henry M. Jackson (Incumbent),597040,67.32%,318769,886822
2,Republican,William B. Bantz,278271,31.38%,318769,886822
3,Socialist Labor,Henry Killman,7592,0.86%,318769,886822
4,Constitution,Archie G. Idso,2257,0.25%,318769,886822
5,United Liberals and Socialists,Jay G. Sykes,1662,0.19%,318769,886822

,Party,Candidate,Votes,%,,Total votes
1,Democratic,Robert Byrd,381745,64.4%,+18.39%,644917
2,Republican,William Revercomb (Incumbent),263172,40.81%,-18.39%,644917

        Party               Candidate   Votes       % Total votes
1  Democratic       Jennings Randolph  374167  59.32%      630677
2  Republican  John D. Hoblitzell Jr.  256510  39.77%      630677

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William Proxmire (Incumbent),682440,57.12%,171042,1194678
2,Republican,Roland J. Steinle,510398,42.72%,171042,1194678
3,Socialist Workers,James E. Boulton,1226,0.10%,171042,1194678
4,Socialist Labor,Georgia Cozzini,537,0.04%,171042,1194678
5,None,Scattering,77,0.01%,171042,1194678

        Party                     Candidate  Votes       % Majority Turnout
1  Democratic                    Gale McGee  58035  50.84%     1913  114157
2  Republican  Frank A. Barrett (Incumbent)  56122  49.16%     1913  114157

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  John J. Sparkman (Incumbent)  389196  70.24%   224328  554064
2  Republican               Julian E. Elgin  164868  29.76%   224328  554064

        Party                 Candidate  Votes       % Majority Turnout
1  Democratic  Bob Bartlett (Incumbent)  38041  63.42%    16104   59978
2  Republican           Lee L. McKinley  21937  36.58%    16104   59978

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John Little McClellan (Incumbent),377036,99.88%,376587,377485
2,None,Marvin Fuchs (write-in),449,0.12%,376587,377485

         Party                     Candidate   Votes       % Majority Turnout
1   Republican  Gordon L. Allott (Incumbent)  389428  53.75%    57676  724531
2   Democratic               Robert L. Knous  331752  45.79%    57676  724531
3  Independent              William R. Casey    3351   0.46%    57676  724531

        Party                   Candidate  Votes       % Majority Turnout
1  Republican              J. Caleb Boggs  98874  50.71%     2784  194964
2  Democratic  J. Allen Frear (Incumbent)  96090  49.29%     2784  194964

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Richard B. Russell Jr. (Incumbent),576140,99.94%,575785,576495
2,None,Scattering,355,0.06%,575785,576495

        Party          Candidate   Votes       % Majority Turnout
1  Democratic      Daniel Inouye  136294  69.41%    76227  196361
2  Republican  Ben F. Dillingham   60067  30.59%    76227  196361

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Henry Dworshak (Incumbent)  152648  52.26%    13200  292096
2  Democratic      R. F. Bob McLaughlin  139448  47.74%    13200  292096

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Paul H. Douglas (Incumbent),2530943,54.63%,437097,4632796
2,Republican,Samuel W. Witwer,2093846,45.20%,437097,4632796
3,Socialist Labor,Louis Fisher,8007,0.17%,437097,4632796

        Party             Candidate   Votes       % Majority  Turnout
1  Republican           Jack Miller  642463  51.91%    47344  1237582
2  Democratic  Herschel C. Loveless  595119  48.09%    47344  1237582

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Andrew F. Schoeppel (Incumbent),485499,54.64%,96604,888592
2,Democratic,Frank Theis,388895,43.77%,96604,888592
3,Prohibition,C. E. Cowen,14198,1.60%,96604,888592

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John Sherman Cooper (Incumbent),644087,59.15%,199257,1088917
2,Democratic,Keen Johnson,444830,40.85%,199257,1088917

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Allen J. Ellender (Incumbent)  432228  79.76%   322530  541928
2  Republican            George W. Reese Jr.  109698  20.24%   322530  541928
3        None                      Write-Ins       2   0.00%   322530  541928

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Margaret Chase Smith (Incumbent),256890,61.65%,97081,416699
2,Democratic,Lucia M. Cormier,159809,38.35%,97081,416699

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Leverett Saltonstall (Incumbent),1358556,56.19%,307831,2417813
2,Democratic,Thomas J. OConnor Jr.,1050725,43.46%,307831,2417813
3,Socialist Labor,Lawrence Gilfedder,5735,0.24%,307831,2417813
4,Prohibition,Mark R. Shaw,2794,0.12%,307831,2417813
5,None,Others,3,0.00%,307831,2417813

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Patrick V. McNamara (Incumbent),1669179,51.73%,120306,3226647
2,Republican,Alvin Bentley,1548873,48.00%,120306,3226647
3,Socialist Workers,Frank Lovell,3282,0.10%,120306,3226647
4,Prohibition,Rollin M. Severance,2273,0.07%,120306,3226647
5,Socialist Labor,James Sim,1565,0.05%,120306,3226647
6,Independent American,Alvin L. Reynolds,1465,0.05%,120306,3226647
7,None,Scattering,10,0.00%,120306,3226647

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Hubert Humphrey (Incumbent),884168,57.53%,117791,1532754
2,Republican,P. Kenneth Peterson,648586,42.20%,117791,1532754
3,None,Write-Ins,4085,0.27%,117791,1532754

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  James O. Eastland (Incumbent)  244341  91.81%   222534  266148
2  Republican                   Joe A. Moore   21807   8.19%   222534  266148

        Party       Candidate   Votes       % Majority  Turnout
1  Democratic  Edward V. Long  999656  53.17%   119080  1880232
2  Republican      Lon Hocker  880576  46.83%   119080  1880232

        Party       Candidate   Votes       % Majority Turnout
1  Democratic     Lee Metcalf  140331  50.73%     4050  276612
2  Republican  Orvin B. Fjare  136281  49.27%     4050  276612

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Carl T. Curtis (Incumbent)  352748  58.93%   106941  598555
2  Democratic            Robert B. Conrad  245807  41.07%   106941  598555

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Styles Bridges (Incumbent)  173521  60.35%    59497  287545
2  Democratic             Herbert W. Hill  114024  39.65%    59497  287545

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Clifford P. Case (Incumbent),1483832,55.69%,332447,2664356
2,Democratic,Thorn Lord,1151385,43.21%,332447,2664356
3,Conservative,Winifred O. Perry,13756,0.52%,332447,2664356
4,Socialist Labor,Albert Ronis,11784,0.44%,332447,2664356
5,Socialist Workers,Gladys Grauer,3599,0.14%,332447,2664356

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clinton Presba Anderson (Incumbent),190654,63.43%,80757,300551
2,Republican,William Colwes,109897,36.57%,80757,300551

        Party                      Candidate   Votes       % Majority  Turnout
1  Democratic  B. Everett Jordan (Incumbent)  793521  61.44%   295557  1291485
2  Republican                     Kyle Hayes  497964  38.56%   295557  1291485

         Party              Candidate   Votes       % Turnout
1   Democratic     Quentin N. Burdick  104593  49.72%  163311
2   Republican          John E. Davis  103475  49.19%  163311
3  Independent  Eugene Van Der Hoeven    1337   0.64%  163311
4  Independent       Clarence Haggard     934   0.45%  163311

         Party                   Candidate   Votes       % Majority Turnout
1   Democratic  Robert S. Kerr (Incumbent)  474116  54.84%    88470  864475
2   Republican          B. Hayden Crawford  385646  44.61%    88470  864475
3  Independent              Billy E. Brown    4713   0.55%    88470  864475

        Party             Candidate   Votes       % Majority Turnout
1  Democratic  Maurine B. Neuberger  422024  54.99%    76560  767488
2  Republican            Elmo Smith  345464  45.01%    76560  767488

        Party             Candidate   Votes       % Majority Turnout
1  Democratic  Maurine B. Neuberger  412757  54.61%    76560  755875
2  Republican            Elmo Smith  343009  45.38%    76560  755875

        Party              Candidate   Votes       % Majority Turnout
1  Democratic         Claiborne Pell  275575  68.90%   151167  399983
2  Republican  Raoul Archambault Jr.  124408  31.10%   151167  399983

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Strom Thurmond (Incumbent)  330167  99.97%   330065  330269
2        None                   Write-Ins     102   0.03%   330065  330269

        Party               Candidate   Votes       % Majority Turnout
1  Republican  Karl Mundt (Incumbent)  160181  52.44%    14920  305442
2  Democratic         George McGovern  145261  47.56%    14920  305442

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Estes Kefauver (Incumbent)  594460  71.75%   360407  828519
2  Republican          A. Bradley Frazier  234053  28.25%   360407  828519
3        None                   Write-Ins       6   0.00%   360407  828519

          Party                   Candidate    Votes       % Majority  Turnout
1    Democratic  Lyndon Johnson (Incumbent)  1306625  57.97%   379972  2253784
2    Republican                  John Tower   926653  41.12%   379972  2253784
3  Constitution               Bard W. Logan    20506   0.91%   379972  2253784

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,A. Willis Robertson (Incumbent),506169,81.27%,417451,622820
2,Independent Democratic,Stuart D. Baker,-88718,14.24%,417451,622820
3,Social Democratic,Clarke T. Robbe,26783,4.30%,417451,622820
4,None,Scattering,1150,0.18%,417451,622820

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Jennings Randolph (Incumbent)  458355  55.34%    88420  828292
2  Republican                Cecil Underwood  369935  44.66%    88420  828292
3        None                      Write-Ins       2   0.00%    88420  828292

        Party            Candidate  Votes       % Majority Turnout
1  Republican        Keith Thomson  78103  56.37%    17656  138550
2  Democratic  Raymond B. Whitaker  60447  43.63%    17656  138550

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  Lister Hill (Incumbent)  201937  50.86%     6803  397071
2  Republican          James D. Martin  195134  49.14%     6803  397071

        Party                    Candidate  Votes       % Majority Turnout
1  Democratic  Ernest Gruening (Incumbent)  33827  58.14%     9473   58181
2  Republican                  Ted Stevens  24354  41.86%     9473   58181

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  Carl Hayden (Incumbent)  199217  54.94%    35829  362605
2  Republican              Evan Mecham  163388  45.06%    35829  362605

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,J. William Fulbright (Incumbent),214867,68.67%,116854,312880
2,Republican,Kenneth Jones,98013,31.33%,116854,312880

        Party                     Candidate    Votes       % Majority  Turnout
1  Republican  Thomas H. Kuchel (Incumbent)  3180483  56.31%   727644  5648222
2  Democratic              Richard Richards  2452839  43.43%   727644  5648222
3    Write-In                 Howard Jarvis     9963   0.18%   727644  5648222
4    Write-In                 Linus Pauling     2964   0.05%   727644  5648222
5    Write-In               Edward Brothers     1689   0.03%   727644  5648222
6        None                    Scattering      284   0.01%   727644  5648222

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Peter H. Dominick,328655,53.58%,49069,613444
2,Democratic,John A. Carroll (Incumbent),279586,45.58%,49069,613444
3,Socialist Labor,Charlotte Benson,3546,0.58%,49069,613444
4,Independent,Henry John Olshaw,1217,0.20%,49069,613444
5,Socialist Workers,Thomas Leonard,440,0.07%,49069,613444

        Party               Candidate   Votes       % Majority  Turnout
1  Democratic        Abraham Ribicoff  527522  51.25%    25828  1029301
2  Republican  Horace Seely-Brown Jr.  501694  48.74%    25828  1029301
3        None              Scattering      85   0.00%    25828  1029301

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic  George A. Smathers (Incumbent)  657633  66.62%   328252  987207
2  Republican                  Emerson Rupert  329381  33.36%   328252  987207
3        None                      Scattering     193   0.02%   328252  987207

        Party          Candidate   Votes       % Majority Turnout
1  Democratic   Daniel K. Inouye  136294  69.41%    76227  196361
2  Republican  Ben F. Dillingham   60067  30.59%    76227  196361

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Frank Church (Incumbent)  141657  54.74%    24528  258786
2  Republican               Jack Hawley  117129  45.26%    24528  258786

        Party               Candidate   Votes       % Majority Turnout
1  Republican  Len Jordan (Incumbent)  131279  50.95%     4881  257677
2  Democratic            Gracie Pfost  126398  49.05%     4881  257677

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Everett M. Dirksen (Incumbent),1961202,52.87%,213195,3709209
2,Democratic,Sidney R. Yates,1748007,47.13%,213195,3709209

        Party                      Candidate   Votes       % Majority  Turnout
1  Democratic                     Birch Bayh  905491  50.30%    10944  1800038
2  Republican  Homer E. Capehart (Incumbent)  894547  49.70%    10944  1800038

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Bourke B. Hickenlooper (Incumbent),431364,53.39%,54762,807972
2,Democratic,E. B. Smith,376602,46.61%,54762,807972
3,None,Scattering,6,0.00%,54762,807972

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Frank Carlson (Incumbent)  388500  62.44%   164870  622228
2   Democratic          K. L. (Ken) Smith  223630  35.94%   164870  622228
3  Prohibition            George E. Kline   10098   1.62%   164870  622228

         Party                     Candidate   Votes      % Majority Turnout
1   Republican  James B. Pearson (Incumbent)  344689  56.2%    83933  613249
2   Democratic               Paul L. Aylward  260756  42.5%    83933  613249
3  Prohibition                    C.E. Cowen    7804  0.01%    83933  613249

        Party                       Candidate   Votes       % Majority Turnout
1  Republican  Thruston B. Morton (Incumbent)  432648  52.76%    45208  820088
2  Democratic                 Wilson W. Wyatt  387440  47.24%    45208  820088

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Russell B. Long (Incumbent)  318838  75.57%   215772  421904
2  Republican       Taylor Walters O'Hearn  103066  24.43%   215772  421904

        Party           Candidate   Votes       % Majority Turnout
1  Democratic  Daniel B. Brewster  439723  62.03%   170592  708855
2  Republican    Edward T. Miller  269131  37.97%   170592  708855
3        None          Scattering       1   0.00%   170592  708855

        Party                   Candidate   Votes       % Majority  Turnout
1  Democratic  Edward V. Long (Incumbent)  663301  54.43%   107971  1218631
2  Republican               Crosby Kemper  555330  45.57%   107971  1218631

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Alan Bible (Incumbent)  63443  65.28%    29694   97192
2  Republican       William B. Wright  33749  34.72%    29694   97192

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Norris Cotton (Incumbent)  134035  59.71%    43591  224479
2  Democratic         Alfred Catalfo Jr.   90444  40.29%    43591  224479

        Party           Candidate   Votes       % Majority Turnout
1  Democratic  Thomas J. McIntyre  117612  52.32%    10413  224811
2  Republican        Perkins Bass  107199  47.68%    10413  224811

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Jacob Javits (Incumbent),3272417,57.38%,983094,5703117
2,Democratic,James B. Donovan,2289323,40.14%,983094,5703117
3,Constitution,Kieran ODougherty,116151,2.04%,983094,5703117
4,Socialist Workers,Carl Feingold,17440,0.31%,983094,5703117
5,Socialist Labor,Stephen Emery,7786,0.14%,983094,5703117

        Party              Candidate   Votes       % Majority Turnout
1  Democratic  Sam Ervin (Incumbent)  491520  60.45%   169885  813155
2  Republican   Claude L. Greene Jr.  321635  39.55%   169885  813155

        Party        Candidate   Votes       % Majority Turnout
1  Republican  Milton R. Young  135705  60.65%    47673  223737
2  Democratic   William Lanier   88032  39.35%    47673  223737

        Party                     Candidate    Votes       % Majority  Turnout
1  Democratic  Frank J. Lausche (Incumbent)  1843813  61.56%   692640  2994986
2  Republican          John Marshall Briley  1151173  38.44%   692640  2994986

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,A. S. Mike Monroney (Incumbent),353890,53.24%,45924,664712
2,Republican,B. Hayden Crawford,307966,46.33%,45924,664712
3,Independent,Paul V. Beck,2856,0.43%,45924,664712

        Party                Candidate   Votes       % Majority Total votes
1  Democratic  Wayne Morse (Incumbent)  344716  54.15%    53129      636556
2  Republican              Sig Unander  291587  45.81%    53129      636556
3        None                write-ins     253   0.04%    53129      636556

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Joseph S. Clark (Incumbent),2238383,51.06%,103734,4383419
2,Republican,James E. Van Zandt,2134649,48.70%,103734,4383419
3,Socialist Labor,Arla A. Aubaugh,10387,0.24%,103734,4383419

        Party          Candidate   Votes     %      Majority Turnout
1  Democratic   Olin D. Johnston  178712  57.2 -25.0    44782  312647
2  Republican  W. D. Workman Jr.  133930  42.8  25.0    44782  312647
3    No party          Write-Ins       5   0.0   0.0    44782  312647

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic               George McGovern  127458  50.12%      597  254319
2  Republican  Joseph H. Bottum (Incumbent)  126861  49.88%      597  254319

        Party                       Candidate   Votes       % Majority Turnout
1  Republican  Wallace F. Bennett (Incumbent)  166755  52.37%    15099  318411
2  Democratic                   David S. King  151656  47.63%    15099  318411

        Party                    Candidate  Votes       % Majority Turnout
1  Republican  George D. Aiken (Incumbent)  81242  66.93%    41108  121376
2  Democratic        W. Robert Johnson Sr.  40134  33.07%    41108  121376

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Warren G. Magnuson (Incumbent),491365,52.09%,45161,943229
2,Republican,Richard G. Christensen,446204,47.31%,45161,943229
3,Socialist Labor,Henry Killman,4730,0.50%,45161,943229
4,Constitution,W. Frank Horne,930,0.10%,45161,943229

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Gaylord A. Nelson,662342,52.26%,67496,1260168
2,Republican,Alexander Wiley (Incumbent),594846,47.21%,67496,1260168
3,Independent,William Osborne Hart,1428,0.11%,67496,1260168
4,Socialist Labor,Georgia Cozzini,1096,0.09%,67496,1260168
5,Socialist Workers,Wayne Leverenz,368,0.03%,67496,1260168
6,None,Scattering,88,0.01%,67496,1260168

        Party                   Candidate  Votes       % Majority Turnout
1  Republican          Milward L. Simpson  69043  57.84%    18714  119372
2  Democratic  John J. Hickey (incumbent)  50329  42.16%    18714  119372

        Party    Candidate   Votes       % Majority Turnout
1  Republican  Paul Fannin  241089  51.43%    13377  468801
2  Democratic    Roy Elson  227712  48.57%    13377  468801

        Party                    Candidate    Votes       % Majority  Turnout
1  Republican                George Murphy  3628552  51.54%   216537  7040467
2  Democratic  Pierre Salinger (Incumbent)  3411915  48.46%   216537  7040467

        Party         Candidate   Votes       % Majority  Turnout
1  Democratic    Thomas J. Dodd  781008  64.66%   354069  1207947
2  Republican  John Davis Lodge  426939  35.34%   354069  1207947

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John J. Williams (Incumbent),103782,51.71%,6932,200703
2,Democratic,Elbert N. Carvel,96850,48.26%,6932,200703
3,Socialist Labor,Joseph B. Hollon Sr.,71,0.04%,6932,200703

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Spessard L. Holland (Incumbent),997585,63.93%,435373,1560337
2,Republican,Claude R. Kirk Jr.,562212,36.03%,435373,1560337
3,None,Scattering,540,0.03%,435373,1560337

         Party               Candidate   Votes       % Majority Turnout
1   Republican  Hiram Fong (Incumbent)  110747  53.04%     3958  208814
2   Democratic          Thomas P. Gill   96789  46.35%     3958  208814
3  Independent         Lawrence Domine    1278   0.61%     3958  208814

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Vance Hartke (Incumbent),1128505,54.33%,187986,2076963
2,Republican,D. Russell Bontrager,941519,45.33%,187986,2076963
3,Prohibition,J. Ralston Miller,5708,0.27%,187986,2076963
4,Socialist Labor,Casimer Kanczuzewski,1231,0.06%,187986,2076963

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Edmund S. Muskie (Incumbent)  253511  66.62%   126471  380551
2  Republican             Clifford McIntire  127040  33.38%   126471  380551

        Party                      Candidate   Votes       % Majority  Turnout
1  Democratic              Joseph D. Tydings  678649  62.78%   276256  1081049
2  Republican  James Glenn Beall (Incumbent)  402393  37.22%   276256  1081049
3        None                      Write-Ins       7   0.00%   276256  1081049

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Edward M. Kennedy (Incumbent),1716907,74.26%,21.30,1129244,2312028
2,Republican,Howard J. Whitmore Jr.,587663,25.42%,-19.08,1129244,2312028
3,Socialist Labor,Lawrence Gilfedder,4745,0.21%,-0.03,1129244,2312028
4,Prohibition,Grace F. Luder,2700,0.12%,0.05,1129244,2312028

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Philip A. Hart (Incumbent),1996912,64.38%,90640,3101667
2,Republican,Elly M. Peterson,1096272,35.34%,90640,3101667
3,Freedom Now,Ernest C. Smith,4125,0.13%,90640,3101667
4,Socialist Workers,Evelyn Sell,2754,0.09%,90640,3101667
5,Socialist Labor,James Sim,1598,0.05%,90640,3101667
6,None,Scattering,6,0.00%,90640,3101667

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Eugene J. McCarthy (Incumbent),931363,60.34%,325420,1543590
2,Republican,Wheelock Whitney Jr.,605933,39.26%,325420,1543590
3,Industrial Government,William Braatz,3947,0.26%,325420,1543590
4,Socialist Workers,Everett E. Luoma,2357,0.15%,325420,1543590

        Party                     Candidate    Votes       % Majority  Turnout
1  Democratic  Stuart Symington (Incumbent)  1186666  66.55%   590289  1783043
2  Republican            Jean Paul Bradshaw   596377  33.45%   590289  1783043

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Mike Mansfield (Incumbent),180643,64.51%,-11.71%,81276,280010
2,Republican,Alex Blewett,99367,35.49%,+11.71%,81276,280010

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Roman L. Hruska (Incumbent)  345772  61.37%   128167  563401
2  Democratic             Raymond W. Arndt  217605  38.62%   128167  563401
3        None                   Scattering      24   0.00%   128167  563401

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Howard Cannon(Incumbent),67336,50.02%,-7.66,48,134624
2,Republican,"Paul Laxalt,(Lieutenant Governor of Nevada and...",67288,49.98%,7.66,48,134624

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harrison Williams Jr. (Incumbent),1677515,61.91%,666235,2709575
2,Republican,Bernard M. Shanley,1011280,37.32%,666235,2709575
3,Conservative,Harold P. Poeschel,7582,0.28%,666235,2709575
4,Socialist Workers,Lawrence Stewart,6147,0.23%,666235,2709575
5,America First,John Valgene Mahalchik,4926,0.18%,666235,2709575
6,Socialist Labor,Albert Ronis,2125,0.08%,666235,2709575

,Party,Candidate,Votes,%,Majority,Total votes
1,Democratic,Joseph Montoya,178209,54.70%,30647,325771
2,Republican,Edwin L. Mechem (Incumbent),147562,45.30%,30647,325771

        Party                    Candidate   Votes       % Turnout Majority
1  Democratic  Quentin Burdick (Incumbent)  149264  57.64%  219560    39583
2  Republican             Thomas S. Kleppe  109681  42.36%  219560    39583

        Party                     Candidate    Votes       % Majority  Turnout
1  Democratic  Stephen M. Young (Incumbent)  1923608  50.22%    16827  3830389
2  Republican               Robert Taft Jr.  1906781  49.78%    16827  3830389

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Fred R. Harris (Incumbent)  466782  51.17%    21390  912174
2  Republican               Bud Wilkinson  445392  48.83%    21390  912174

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Hugh Scott (Incumbent),2429858,50.59%,-0.62%,70635,4803752
2,Democratic,"Genevieve Blatt,Pennsylvania Secretary of Inte...",2359223,49.12%,+0.74%,70635,4803752
3,Socialist Workers,Morris Chertov,7317,0.15%,+0.01%,70635,4803752
4,Socialist Labor,George S. Taylor,6881,0.14%,-0.12%,70635,4803752

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  John Pastore (Incumbent)  319607  82.73%   252892  386322
2  Republican            Ronald Legueux   66715  17.27%   252892  386322

        Party        Candidate   Votes       % Majority  Turnout
1  Democratic  Albert Gore Sr.  570542  53.62%    77067  1064017
2  Republican   Dan Kuykendall  493475  46.38%    77067  1064017

         Party              Candidate   Votes       % Majority  Turnout
1   Democratic              Ross Bass  568905  52.14%    51575  1091088
2   Republican           Howard Baker  517330  47.41%    51575  1091088
3  Independent  Melvin Babcock Morgan    4853   0.44%    51575  1091088

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Ralph W. Yarborough (Incumbent),1463958,56.22%,329621,2603837
2,Republican,George H. W. Bush,1134337,43.56%,329621,2603837
3,Constitution,Jack Carswell,5542,0.21%,329621,2603837

        Party               Candidate   Votes       % Majority Turnout
1  Democratic  Frank Moss (Incumbent)  227822  57.33%    58260  397384
2  Republican     Ernest L. Wilkinson  169562  42.67%    58260  397384

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,Winston L. Prouty,83302,50.7%,11422,"'164,350'"
2,Independent,Winston L. Prouty,4516,2.7%,11422,"'164,350'"
4,Total,Winston L. Prouty (Incumbent),87879,53.4%,11422,"'164,350'"
5,Democratic,Frederick J. Fayette,76457,46.5%,11422,"'164,350'"

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Harry F. Byrd (Incumbent),592270,63.80%,-5.52%,415646,928373
2,Republican,Richard A. May,176624,19.03%,+19.03%,415646,928373

        Party                     Candidate   Votes       % Majority  Turnout
1  Democratic  Henry M. Jackson (Incumbent)  875950  72.21%   538812  1213088
2  Republican              Lloyd J. Andrews  337138  27.79%   538812  1213088

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  Robert Byrd (Incumbent)  515015  67.67%   268943  761087
2  Republican       Cooper P. Benedict  246072  32.33%   268943  761087

         Party                     Candidate   Votes       % Majority  Turnout
1   Democratic  William Proxmire (Incumbent)  892013  53.29%   111897  1673776
2   Republican                Wilbur N. Renk  780116  46.61%   111897  1673776
3  Independent           Kenneth F. Klinkerk    1062   0.06%   111897  1673776
4  Independent                Wayne Leverenz     479   0.03%   111897  1673776
5         None                    Scattering     106   0.01%   111897  1673776

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Gale McGee (Incumbent)  76485  53.99%    11300  141670
2  Republican            John S. Wold  65185  46.01%    11300  141670

         Party                     Candidate   Votes       % Majority Turnout
1   Democratic  John J. Sparkman (Incumbent)  482138  60.07%   169120  802608
2   Republican                  John Grenier  313018  39.00%   169120  802608
3  Independent               Julian E. Elgin    7444   0.93%   169120  802608
4         None                    Scattering       8   0.00%   169120  802608

        Party                 Candidate  Votes       % Majority Turnout
1  Democratic  Bob Bartlett (Incumbent)  49289  75.54%    33328   65250
2  Republican           Lee L. McKinley  15961  24.46%    33328   65250

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  Gordon L. Allott (Incumbent)  368307  58.02%   102109  634837
2  Democratic                     Roy Romer  266198  41.93%   102109  634837
3    Write-In                Walter Cranson     332   0.05%   102109  634837

        Party                   Candidate  Votes       % Majority Turnout
1  Republican  J. Caleb Boggs (Incumbent)  97268  59.12%    30005  164531
2  Democratic        James M. Tunnell Jr.  67263  40.88%    30005  164531

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Richard B. Russell Jr. (Incumbent),631002,99.95%,630674,631330
2,None,Scattering,328,0.05%,630674,631330

        Party                      Candidate   Votes       % Majority Turnout
1  Republican  Leonard B. Jordan (Incumbent)  139819  55.38%    27182  252456
2  Democratic               Ralph R. Harding  112637  44.62%    27182  252456

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Charles H. Percy,2100449,54.95%,+9.75%,422302,3822724
2,Democratic,Paul H. Douglas (Incumbent),1678147,43.90%,-10.73%,422302,3822724

               Party                Candidate   Votes       % Majority Turnout
1         Republican  Jack Miller (Incumbent)  522339  60.91%   198225  857496
2         Democratic              E. B. Smith  324114  37.80%   198225  857496
3       Constitution         Robert D. Dilley    3826   0.45%   198225  857496
4  Peace Independent           Charles H. Day    3050   0.36%   198225  857496
5               Iowa        Herbert F. Hoover    2085   0.24%   198225  857496
6        Prohibition             Verne Higens    2081   0.24%   198225  857496
7               None               Scattering       1   0.00%   198225  857496

          Party                     Candidate   Votes       % Majority Turnout
1    Republican  James B. Pearson (Incumbent)  350077  52.15%    46854  671345
2    Democratic          James Floyd Breeding  303223  45.17%    46854  671345
3   Prohibition                 Earl F. Dodge    9364   1.39%    46854  671345
4  Conservative               George W. Snell    7103   1.06%    46854  671345
5          None                    Scattering    1528   0.24%    46854  671345

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John Sherman Cooper (Incumbent),483805,64.52%,217726,749884
2,Democratic,John Young Brown Sr.,266079,35.48%,217726,749884

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Margaret Chase Smith (Incumbent),188291,58.93%,57155,319535
2,Democratic,Elmer H. Violette,131136,41.04%,57155,319535
3,None,Scattering,108,0.03%,57155,319535

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,"Edward Brooke,Chairman of the Boston Finance C...",1213473,60.68%,+4.49%,438712,1999857
2,Democratic,Endicott Peabody,774761,38.74%,-4.72%,438712,1999857
3,Socialist Labor,"Lawrence Gilfedder,Candidate for Lt. Governor ...",6790,0.34%,+0.10%,438712,1999857
4,Prohibition,"Mark R. Shaw,Candidate for U.S. senator from M...",4833,0.24%,+0.12%,438712,1999857

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert P. Griffin (Incumbent),1363808,55.88%,293324,2440643
2,Democratic,G. Mennen Williams,1070484,43.86%,293324,2440643
3,Socialist Labor,Ralph M. Muncy,6166,0.25%,293324,2440643
4,None,Scattering,185,0.01%,293324,2440643

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Walter F. Mondale (Incumbent),685840,53.94%,110972,1271426
2,Republican,Robert A. Forsythe,574868,45.21%,110972,1271426
3,Socialist Workers,Joseph Johnson,5487,0.43%,110972,1271426
4,Industrial Government,William Braatz,5231,0.41%,110972,1271426

         Party                      Candidate   Votes       % Majority Turnout
1   Democratic  James O. Eastland (Incumbent)  258248  65.56%   153098  393900
2   Republican                Prentiss Walker  105150  26.69%   153098  393900
3  Independent             Clifton R. Whitley   30502   7.74%   153098  393900

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Lee Metcalf (Incumbent),138166,53.17%,+2.44%,16469,259863
2,Republican,Tim M. Babcock,121697,46.83%,-2.44%,16469,259863

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Carl T. Curtis (Incumbent)  296116  61.04%   108166  485098
2  Democratic           Frank B. Morrison  187950  38.74%   108166  485098
3        None                  Scattering    1032   0.21%   108166  485098

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic  Thomas J. McIntyre (Incumbent)  123888  54.04%    18647  229237
2  Republican               Harrison R. Thyng  105241  45.91%    18647  229237
3        None                     Helen Bliss     108   0.05%    18647  229237

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Clifford P. Case (Incumbent),1278843,60.02%,490822,2130688
2,Democratic,Warren W. Wilentz,788021,36.98%,490822,2130688
3,Conservative,Robert Lee Schlachter,53606,2.52%,490822,2130688
4,Socialist Labor,Julius Levin,10218,0.48%,490822,2130688

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Clinton Presba Anderson (Incumbent),137205,53.14%,16217,258193
2,Republican,Anderson Carter,120988,46.86%,16217,258193

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  B. Everett Jordan (Incumbent)  501440  55.59%   100938  901978
2  Republican             John S. Shallcross  400502  44.40%   100938  901978
3    Write-In              Donald R. Badgley      36   0.00%   100938  901978

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Fred R. Harris (Incumbent)  343157  53.72%    47572  638742
2  Republican            Pat H. Patterson  295585  46.28%    47572  638742

        Party         Candidate   Votes       % Total votes
1  Republican     Mark Hatfield  354391  51.75%      684765
2  Democratic  Robert B. Duncan  330374  48.25%      684765

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Claiborne Pell (Incumbent)  219331  67.66%   114493  324169
2  Republican              Ruth M. Briggs  104838  32.34%   114493  324169

        Party       Candidate   Votes      %        Majority Turnout
1  Republican  Strom Thurmond  271297  62.2%  +62.2%   106342  436252
2  Democratic  Bradley Morrah  164955  37.8%  -62.2%   106342  436252

        Party        Candidate   Votes      %       Majority Turnout
1  Democratic   Fritz Hollings  223790  51.3%  -5.9%    11758  435822
2  Republican  Marshall Parker  212032  48.7%  +5.9%    11758  435822

        Party               Candidate   Votes       % Majority Turnout
1  Republican  Karl Mundt (Incumbent)  150517  66.28%    73954  227080
2  Democratic          Donn H. Wright   76563  33.72%    73954  227080

        Party         Candidate   Votes       % Majority Turnout
1  Republican      Howard Baker  483063  55.72%    99220  866961
2  Democratic  Frank G. Clement  383843  44.27%    99220  866961
3        None         Write-Ins      55   0.01%    99220  866961

          Party               Candidate   Votes       % Majority  Turnout
1    Republican  John Tower (Incumbent)  841501  56.39%   197646  1492179
2    Democratic           Waggoner Carr  643855  43.15%   197646  1492179
3  Constitution     James Baker Holland    6778   0.45%   197646  1492179
4          None              Scattering      45   0.00%   197646  1492179

        Party             Candidate   Votes       %         Majority Turnout
1  Democratic  William B. Spong Jr.  429855  58.57%  -22.70%   184174  733879
2  Republican     James P. Ould Jr.  245681  33.48%  +33.48%   184174  733879

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Harry F. Byrd Jr. (Incumbent),389028,53.30%,-10.50%,116224,729839
2,Republican,Lawrence M. Traylor,272804,37.38%,+18.35%,116224,729839
4,Independent,J.B. Brayman,10180,1.39%,-1.91%,116224,729839

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Jennings Randolph (Incumbent)  292325  59.51%    93434  491216
2  Republican                Francis J. Love  198891  40.49%    93434  491216

        Party           Candidate  Votes       % Majority Turnout
1  Republican  Clifford P. Hansen  63548  51.80%     4407  122689
2  Democratic       Teno Roncalio  59141  48.20%     4407  122689

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,James Allen,638774,69.71%,437547,916300
2,Republican,Perry O. Hooper Sr.,201227,21.96%,437547,916300
3,National Democratic Party of Alabama,Robert Schwenn,76299,8.33%,437547,916300

         Party                    Candidate  Votes       % Majority Turnout
1   Democratic                  Mike Gravel  36527  45.13%     6241   80931
2   Republican            Elmer E. Rasmuson  30286  37.42%     6241   80931
3  Independent  Ernest Gruening (Incumbent)  14118  17.44%     6241   80931

        Party        Candidate   Votes       % Majority Turnout
1  Republican  Barry Goldwater  274607  57.22%    69269  479945
2  Democratic        Roy Elson  205338  42.78%    69269  479945

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,J. William Fulbright (Incumbent),349965,59.15%,108234,591696
2,Republican,Charles T. Bernard,241731,40.85%,108234,591696

               Party      Candidate    Votes       % Majority  Turnout
1         Democratic  Alan Cranston  3615261  51.78%   339582  6982194
2         Republican   Max Rafferty  3275679  46.91%   339582  6982194
3  Peace and Freedom    Paul Jacobs    91254   1.31%   339582  6982194

        Party                      Candidate   Votes       % Majority Turnout
1  Republican  Peter H. Dominick (Incumbent)  459952  58.55%   134368  785536
2  Democratic        Stephen L. R. McNichols  325584  41.45%   134368  785536

        Party                     Candidate   Votes       % Majority  Turnout
1  Democratic  Abraham Ribicoff (Incumbent)  655043  54.29%   103588  1206537
2  Republican              Edwin H. May Jr.  551455  45.71%   103588  1206537
3        None                    Scattering      39   0.00%   103588  1206537

        Party         Candidate    Votes       % Majority  Turnout
1  Republican  Edward J. Gurney  1131499  55.90%   238862  2024136
2  Democratic     LeRoy Collins   892637  44.10%   238862  2024136

        Party                    Candidate   Votes       % Majority  Turnout
1  Democratic  Herman Talmadge (Incumbent)  885093  77.50%   628297  1141984
2  Republican               E. Earl Patton  256796  22.49%   628297  1141984
3        None                    Write-Ins      95   0.01%   628297  1141984

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Daniel Inouye (Incumbent),189248,83.40%,155240,226927
2,Republican,Wayne C. Thiessen,34008,14.99%,155240,226927
3,Peace and Freedom,Oliver M. Lee,3671,1.62%,155240,226927

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Frank Church (Incumbent)  173482  60.26%    59088  287876
2  Republican          George V. Hansen  114394  39.74%    59088  287876

             Party                    Candidate    Votes      % Total votes
1       Republican  Everett Dirksen (Incumbent)  2358947  53.01     4449757
2       Democratic             William G. Clark  2073242  46.59     4449757
3  Socialist Labor                 Louis Fisher    17542   0.39     4449757
4      Independent          Write-in candidates       26   0.00     4449757

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Birch Bayh (Incumbent),1060456,51.65%,71885,2053118
2,Republican,William Ruckelshaus,988571,48.15%,71885,2053118
3,Prohibition,L. Earl Malcolm,2844,0.14%,71885,2053118
4,Socialist Workers,Ralph Levitt,1247,0.06%,71885,2053118

         Party         Candidate   Votes       % Majority  Turnout
1   Democratic     Harold Hughes  574884  50.25%     6415  1144086
2   Republican  David M. Stanley  568469  49.69%     6415  1144086
3  Prohibition   Uerne M. Higens     727   0.06%     6415  1144086
4         None        Scattering       6   0.00%     6415  1144086

         Party            Candidate   Votes       % Majority Turnout
1   Republican             Bob Dole  490911  60.08%   175000  817096
2   Democratic  William I. Robinson  315911  38.66%   175000  817096
3  Prohibition  Joseph Fred Hyskell   10262   1.26%   175000  817096
4         None           Scattering      12   0.00%   175000  817096

                  Party        Candidate   Votes       % Majority Turnout
1            Republican      Marlow Cook  484260  51.36%    35300  942865
2            Democratic  Katherine Peden  448960  47.62%    35300  942865
3  American Independent   Duane F. Olsen    9645   1.02%    35300  942865

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Charles Mathias,541893,47.78%,8226,1134027
2,Democratic,Daniel B. Brewster (Incumbent),443667,39.12%,8226,1134027
3,American Independent,George P. Mahoney,148467,13.09%,8226,1134027

        Party           Candidate   Votes       % Majority  Turnout
1  Democratic  Thomas F. Eagleton  880113  51.01%    34969  1725257
2  Republican    Thomas B. Curtis  845144  48.99%    34969  1725257

        Party               Candidate  Votes       % Majority Turnout
1  Democratic  Alan Bible (Incumbent)  83622  54.76%    14539  152705
2  Republican                 Ed Fike  69083  45.24%    14539  152705

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Norris Cotton (Incumbent)  170163  59.29%    53347  286979
2  Democratic               John W. King  116816  40.71%    53347  286979

,Party,Candidate,Votes,%,,Majority,Turnout
3,Total,Jacob K. Javits,3269772,49.68%,-7.70%,1119113,6581551
4,Democratic,Paul O'Dwyer,2150695,32.68%,-7.46%,1119113,6581551
5,Conservative,"James L. Buckley,Attorney",1139402,17.31%,+15.27%,1119113,6581551
6,Peace and Freedom,Herman Ferguson,8775,0.13%,+0.13%,1119113,6581551
7,Socialist Labor,John Emanuel,7964,0.12%,-0.02%,1119113,6581551
8,Socialist Workers,Hedda Garza,4979,0.08%,-0.23%,1119113,6581551

        Party              Candidate   Votes       % Majority Turnout
1  Democratic  Sam Ervin (Incumbent)  870406  60.56%   303572  901978
2  Republican          Robert Somers  566834  39.44%   303572  901978

         Party            Candidate   Votes       % Turnout
1   Republican      Milton R. Young  154968  64.79%  239176
2   Democratic  Herschel Lashkowitz   80815  33.79%  239176
3  Independent          Duane Mutch    3393   1.42%  239176

        Party         Candidate    Votes       % Majority  Turnout
1  Republican  William B. Saxbe  1928964  51.53%   114812  3743120
2  Democratic  John J. Gilligan  1814152  48.47%   114812  3743120
3        None         Write-Ins        4   0.00%   114812  3743120

         Party                  Candidate   Votes      % Majority Turnout
1   Republican              Henry Bellmon  470120  51.7%    50462  909119
2   Democratic  Mike Monroney (Incumbent)  419658  46.2%    50462  909119
3  Independent          George Washington   19341   2.1%    50462  909119

        Party                Candidate   Votes       % Total votes
1  Republican             Bob Packwood  408646  50.20%      813999
2  Democratic  Wayne Morse (Incumbent)  405353  49.80%      813999

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Richard Schweiker,2399762,51.90%,282100,4624218
2,Democratic,Joseph Clark (Incumbent),2117662,45.80%,282100,4624218
3,Constitution,Frank W. Gaydosh,96742,2.09%,282100,4624218
4,Socialist Labor,Benson Perry,7198,0.16%,282100,4624218
5,Socialist Workers,Pearl Chertov,2743,0.06%,282100,4624218
6,Other,Other,111,0.00%,282100,4624218

        Party        Candidate   Votes      %        Majority Turnout
1  Democratic   Fritz Hollings  404060  61.9%  -10.6%   155280  652855
2  Republican  Marshall Parker  248780  38.1%  -10.6%   155280  652855
3    No party        Write-Ins      15   0.0%    0.0%   155280  652855

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  George McGovern (Incumbent)  158961  56.79%    38010  279912
2  Republican            Archie M. Gubbrud  120951  43.21%    38010  279912

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Wallace F. Bennett (Incumbent),225075,53.68%,32907,419262
2,Democratic,Milton N. Weilenmann (D),192168,45.83%,32907,419262
3,Independent,Bruce D. Phillips,2019,0.48%,32907,419262

        Party                 Candidate Votes      % Total votes
1    Write-in  George Aiken (Incumbent)  1534  61.8%        2192
2    Write-in            Philip H. Hoff   400  18.2%        2192
3  Democratic                     Other   438  20.0%        2192

        Party                 Candidate   Votes      % Total votes
1  Republican  George Aiken (Incumbent)   94738  60.2%      157375
2  Democratic  George Aiken (Incumbent)   62416  39.7%      157375
3    No party  George Aiken (Incumbent)      43   0.0%      157375
4       Total  George Aiken (Incumbent)  157197  99.9%      157375

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Warren G. Magnuson (Incumbent),796183,64.41%,360289,1236063
2,Republican,Jack Metcalf,435894,35.26%,360289,1236063
3,New Party,Irwin R. Hogenauer,2762,0.22%,360289,1236063
4,Socialist Workers,Debbie Leonard,1224,0.10%,360289,1236063

        Party                   Candidate    Votes       % Majority  Turnout
1  Democratic  Gaylord Nelson (Incumbent)  1020931  61.69%   387021  1654861
2  Republican              Jerris Leonard   633910  38.31%   387021  1654861
3        None                   Write-ins       20   0.00%   387021  1654861

        Party                Candidate  Votes       % Majority Turnout
1  Republican  Ted Stevens (Incumbent)  47908  59.61%    14452   80364
2  Democratic           Wendell P. Kay  32456  40.39%    14452   80364

        Party     Candidate   Votes       % Majority Turnout
1  Republican   Paul Fannin  228284  55.98%    48772  407796
2  Democratic  Sam Grossman  179512  44.02%    48772  407796

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John V. Tunney,3496558,53.86%,618941,6492157
2,Republican,George Murphy (Incumbent),2877617,44.32%,618941,6492157
3,Peace and Freedom,Robert Scheer,61251,0.94%,618941,6492157
4,American Independent,Charles C. Ripley,56731,0.87%,618941,6492157

         Party              Candidate   Votes       % Majority  Turnout
1   Republican  Lowell P. Weicker Jr.  454721  41.74%    86610  1089329
2   Democratic          Joseph Duffey  368111  33.79%    86610  1089329
3  Independent         Thomas J. Dodd  266497  24.46%    86610  1089329

                  Party            Candidate  Votes       % Majority Turnout
1            Republican  William V. Roth Jr.  94979  58.83%    30239  161439
2            Democratic   Jacob W. Zimmerman  64740  40.10%    30239  161439
3  American Independent       Donald G. Gies   1720   1.07%    30239  161439

        Party      Candidate   Votes       %         Majority  Turnout
1  Democratic  Lawton Chiles  902438  53.87%  -10.09%   129621  1675255
2  Republican    Bill Cramer  772817  46.13%  +10.09%   129621  1675255

        Party               Candidate   Votes       % Majority Turnout
1  Republican  Hiram Fong (Incumbent)  124163  51.57%     7566  240760
2  Democratic            Cecil Heftel  116597  48.43%     7566  240760

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Adlai Stevenson III,2065054,57.37%,545336,3599272
2,Republican,Ralph Tyler Smith (Incumbent),1519718,42.22%,545336,3599272
3,Socialist Workers,Lynn Henderson,8859,0.25%,545336,3599272
4,Socialist Labor,Louis Fisher,5564,0.15%,545336,3599272
5,None,Scattering,77,0.00%,545336,3599272

        Party                 Candidate   Votes       % Majority  Turnout
1  Democratic  Vance Hartke (Incumbent)  870990  50.12%     4283  1737697
2  Republican      Richard L. Roudebush  866707  49.88%     4283  1737697

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic  Edmund S. Muskie (Incumbent)  199954  61.74%    76048  323860
2  Republican                Neil S. Bishop  123906  38.26%    76048  323860

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John Glenn Beall Jr.,484960,50.71%,24538,956370
2,Democratic,Joseph D. Tydings (Incumbent),460422,48.14%,24538,956370
3,American Independent,Harvey Wilder,10988,1.15%,24538,956370

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Edward M. Kennedy (Incumbent),1202856,62.16,-12.10,486878,1935607
2,Republican,Josiah Spaulding,715978,37.00,11.58,486878,1935607
3,Socialist Labor,Lawrence Gilfedder,10378,0.54,0.33,486878,1935607
4,Prohibition,Mark R. Shaw,5944,0.31,0.19,486878,1935607
5,None,Scattering,451,0.02,0.02,486878,1935607

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Philip A. Hart (Incumbent),1744672,66.83%,886234,2610763
2,Republican,Lenore Romney,858438,32.88%,886234,2610763
3,Socialist Workers,Paul Ludieu,3861,0.15%,886234,2610763
4,Socialist Labor,James Sim,3254,0.12%,886234,2610763
5,None,Scattering,538,0.02%,886234,2610763

                   Party           Candidate   Votes       % Majority  Turnout
1       Democratic (DFL)  Hubert H. Humphrey  788256  57.75%   220231  1364887
2             Republican     Clark MacGregor  568025  41.62%   220231  1364887
3      Socialist Workers        Nancy Strebe    6122   0.45%   220231  1364887
4  Industrial Government      William Braatz    2484   0.18%   220231  1364887

         Party                    Candidate   Votes       % Majority Turnout
1   Democratic  John C. Stennis (Incumbent)  286622  88.40%   249029  324215
2  Independent     William Richard Thompson   37593  11.60%   249029  324215

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Stuart Symington (Incumbent),654831,51.03%,36928,1283312
2,Republican,John C. Danforth,617903,48.15%,36928,1283312
3,American Independent,Gene Chapman,10065,0.78%,36928,1283312
4,Independent,E. J. DiGirolamo,513,0.04%,36928,1283312

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Mike Mansfield (Incumbent),150060,60.54%,-3.97%,52251,247869
2,Republican,Harold E. Wallace,97809,39.46%,+3.97%,52251,247869

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Roman L. Hruska (Incumbent)  240894  52.49%    23213  458966
2  Democratic            Frank B. Morrison  217681  47.43%    23213  458966
3        None                   Scattering     391   0.09%    23213  458966

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Howard Cannon (Incumbent),85187,57.65%,+7.63%,24349,147768
2,Republican,William Raggio,60838,41.17%,-8.81%,24349,147768

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harrison A. Williams (Incumbent),1157074,56.17%,254048,2060100
2,Republican,Nelson G. Gross,903026,43.83%,254048,2060100

,Party,Candidate,Votes,%,Majority,Total votes
1,Democratic,"Joseph Montoya, Incumbent",151486,52.26,16482,289872
2,Republican,Anderson Carter,135004,46.57,16482,289872
3,People's Constitutional,William Higgs,3382,1.17,16482,289872

,Party,Candidate,Votes,%,Majority,Turnout
1,Conservative,James Buckley,2288190,38.95,116958,5904744
2,Democratic,Richard Lawrence Ottinger,2171232,36.96,116958,5904744
5,total,Charles Goodell,1404472,23.91,116958,5904744
6,Communist,Arnold Johnson,4097,0.07,116958,5904744
7,Socialist Workers,Kipp Dawson,3549,0.06,116958,5904744
8,Socialist Labor,John Emanuel,3204,0.06,116958,5904744

         Party                       Candidate   Votes      % Turnout
1   Democratic  Quentin N. Burdick (Incumbent)  134519  61.27  219560
2   Republican                Thomas S. Kleppe   82996  37.80  219560
3  Independent                  Russell Kleppe    2045   0.93  219560

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert A. Taft Jr.,1565682,49.68%,70420,3151274
2,Democratic,Howard M. Metzenbaum,1495262,47.45%,70420,3151274
3,American Independent,Richard B. Kay,61261,1.94%,70420,3151274
4,Socialist Labor,John O'Neill,29069,0.92%,70420,3151274

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Hugh Scott (Incumbent),1874106,51.43%,+0.84%,220332,3644305
2,Democratic,William Sesler,1653774,45.38%,-3.74%,220332,3644305
3,Constitution,Frank W. Gaydosh,85813,2.36%,+2.36%,220332,3644305
4,American Independent,W. Henry McFarland,18275,0.50%,+0.50%,220332,3644305
5,Socialist Labor,Herman A. Johnson,4375,0.12%,-0.02%,220332,3644305
6,Socialist Workers,Robin Maisel,3970,0.11%,-0.04%,220332,3644305
7,Consumer,William R. Mimms,3932,0.11%,+0.11%,220332,3644305

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John O. Pastore (Incumbent),230469,67.54%,123118,341222
2,Republican,John McLaughlin,107351,31.46%,123118,341222
3,Peace and Freedom,David N. Fenton,2406,0.71%,123118,341222
4,Socialist Workers,Daniel B. Fein,996,0.29%,123118,341222

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Bill Brock,562645,51.29%,42787,1097041
2,Democratic,Albert Gore Sr. (Incumbent),519858,47.39%,42787,1097041
3,American Independent,Cecil Pitard,8691,0.79%,42787,1097041
4,Independent,Dan R. East,5845,0.53%,42787,1097041
5,None,Scattering,2,0.00%,42787,1097041

        Party          Candidate    Votes       % Majority  Turnout
1  Democratic      Lloyd Bentsen  1226568  53.34%   155334  2299610
2  Republican  George H. W. Bush  1071234  46.58%   155334  2299610
3        None         Scattering     1808   0.08%   155334  2299610

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Frank E. Moss (Incumbent),210207,56.16%,51203,374303
2,Republican,Laurence J. Burton,159004,42.48%,51203,374303
3,American Independent,Clyde B. Freeman,5092,1.36%,51203,374303

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Winston L. Prouty (Incumbent),91198,58.88%,28927,154899
2,Democratic,Philip H. Hoff,62271,40.20%,28927,154899
3,Liberty Union,William H. Meyer,1416,0.91%,28927,154899
4,None,Scattering,14,0.01%,28927,154899

,Party,Candidate,Votes,%,,Majority,Turnout
1,Independent,Harry F. Byrd Jr. (Incumbent),506237,53.54%,+53.54%,211655,945614
2,Democratic,George Rawlings,294582,31.15%,-22.15%,211655,945614
3,Republican,Ray L. Garland,144765,15.31%,-22.07%,211655,945614

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Henry M. Jackson (Incumbent),879385,82.43%,708595,1066807
2,Republican,Charles W. Elicker,170790,16.01%,708595,1066807
3,Socialist Workers,Bill Massey,9255,0.87%,708595,1066807
4,Buffalo,Edison S. 'Pinky' Fisk,7377,0.69%,708595,1066807

        Party                   Candidate   Votes       % Majority Turnout
1  Democratic  Robert C. Byrd (Incumbent)  345965  77.64%   246307  445623
2  Republican             Elmer H. Dodson   99658  22.36%   246307  445623

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William Proxmire (Incumbent),948445,70.83%,567148,1338967
2,Republican,John E. Erickson,381297,28.48%,567148,1338967
3,American Independent,Edmond E. Hou-Seye,6137,0.46%,567148,1338967
4,Independent,Elizabeth (Betty) Boardman,2022,0.15%,567148,1338967
5,Socialist Workers,Martha M. Quinn,580,0.04%,567148,1338967
6,Socialist Labor,Adolf Wiggert,428,0.03%,567148,1338967
7,None,Scattering,58,0.00%,567148,1338967

        Party                  Candidate  Votes       % Majority Turnout
1  Democratic  Gale W. McGee (Incumbent)  67207  55.78%    13928  120486
2  Republican               John S. Wold  53279  44.22%    13928  120486

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John Sparkman (Incumbent),654491,62.27%,306968,1051099
2,Republican,Winton M. Blount,347523,33.06%,306968,1051099
3,National Democratic,John L. LeFlore,31421,2.99%,306968,1051099
4,Prohibition,Jerome B. Couch,10826,1.03%,306968,1051099
5,Conservative,Herbert W. Stone,6838,0.65%,306968,1051099

        Party                Candidate  Votes       % Majority Turnout
1  Republican  Ted Stevens (Incumbent)  74216  77.30%    52425   96007
2  Democratic               Gene Guess  21791  22.70%    52425   96007

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,John Little McClellan (Incumbent),386398,60.88%,138160,634636
2,Republican,Wayne H. Babbitt,248238,39.12%,138160,634636

        Party                     Candidate   Votes       % Majority Turnout
1  Democratic              Floyd K. Haskell  457545  49.41%     9588  926083
2  Republican  Gordon L. Allott (Incumbent)  447957  48.37%     9588  926083
3  Raza Unida       Secundion 'Sal' Salazar   13228   1.43%     9588  926083
4    American                  Henry Olshaw    7353   0.79%     9588  926083

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Joe Biden,116006,50.48%,+9.59%,3162,229828
2,Republican,J. Caleb Boggs (Incumbent),112844,49.10%,-10.02%,3162,229828

        Party          Candidate   Votes       % Majority  Turnout
1  Democratic           Sam Nunn  635970  53.95%    93639  1178708
2  Republican  Fletcher Thompson  542331  46.01%    93639  1178708
3        None          Write-Ins     407   0.03%    93639  1178708

        Party         Candidate   Votes       % Majority Turnout
1  Republican  James A. McClure  161804  52.26%    20891  309602
2  Democratic  William E. Davis  140913  45.51%    20891  309602
3    American  Jean L. Stoddard    6885   2.22%    20891  309602

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Charles H. Percy (Incumbent),2867078,61.21%,+7.27%,1146047,3822724
2,Democratic,Roman Pucinski,1721031,37.35%,-6.55%,1146047,3822724

         Party                Candidate   Votes       % Majority  Turnout
1   Democratic               Dick Clark  662637  55.07%   132112  1203333
2   Republican  Jack Miller (Incumbent)  530525  44.09%   132112  1203333
3     American     William A. Rocap Jr.    8954   0.74%   132112  1203333
4  By Petition      Fred Richard Benton    1203   0.10%   132112  1203333
5         None               Scattering      14   0.00%   132112  1203333

          Party                     Candidate   Votes       % Majority Turnout
1    Republican  James B. Pearson (Incumbent)  622591  71.42%   421827  871722
2    Democratic                 Arch Tetzlaff  200764  23.03%   421827  871722
3  Conservative                Gene F. Miller   35510   4.07%   421827  871722
4   Prohibition                  Howard Hadin   12857   1.47%   421827  871722

        Party               Candidate   Votes       % Majority  Turnout
1  Democratic    Walter D. Huddleston  528550  50.93%    34223  1037861
2  Republican           Louie B. Nunn  494337  47.63%    34223  1037861
3    American           Helen Breeden    8707   0.84%    34223  1037861
4    People's  William E. Bartley Jr.    6267   0.60%    34223  1037861

         Party            Candidate   Votes       % Majority  Turnout
1   Democratic  J. Bennett Johnston  598987  55.21%   348826  1084904
2  Independent       John McKeithen  250161  23.06%   348826  1084904
3   Republican      Ben C. Toledano  206846  19.07%   348826  1084904
4     American        Hall M. Lyons   28910   2.66%   348826  1084904

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William Hathaway,224270,53.23%,27230,421310
2,Republican,Margaret Chase Smith (Incumbent),197040,46.77%,27230,421310

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Edward Brooke (Incumbent),1505932,63.53%,782654,2370676
2,Democratic,John J. Droney,823278,34.73%,782654,2370676
3,Socialist Workers,Donald Gurewitz,41369,1.75%,782654,2370676
4,None,Scattering,97,0.00%,782654,2370676

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Robert P. Griffin (Incumbent),1781065,52.28%,203887,3406906
2,Democratic,Frank J. Kelley,1577178,46.29%,203887,3406906
3,American Independent,Patrick Dillinger,23121,0.68%,203887,3406906
4,Human Rights,Barbara Halpert,19118,0.56%,203887,3406906
5,Socialist Workers,Linda Nordquist,2389,0.07%,203887,3406906
6,Socialist Labor,James Sim,2217,0.06%,203887,3406906
7,Communist,Thomas D. Dennis Jr.,1908,0.06%,203887,3406906

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Walter F. Mondale (Incumbent),981320,56.67%,239199,1731633
2,Republican,Phil Hansen,742121,42.86%,239199,1731633
3,Industrial Government Party (United States),Karl H. Heck,8192,0.47%,239199,1731633

         Party                   Candidate   Votes       % Majority Turnout
1   Democratic  James Eastland (Incumbent)  375102  58.09%   126323  645746
2   Republican              Gil Carmichael  249779  38.68%   126323  645746
3  Independent             Prentiss Walker   14662   2.27%   126323  645746
4  Independent              C. L. McKinley    6203   0.96%   126323  645746

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Lee Metcalf (Incumbent),163609,51.95%,-1.22%,12293,314925
2,Republican,Hank Hibbard,151316,48.05%,+1.22%,12293,314925

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Carl Curtis (Incumbent),301841,53.16%,-7.88%,35919,567763
2,Democratic,Terry Carpenter,265922,46.84%,+8.09%,35919,567763

        Party                       Candidate   Votes       % Majority Turnout
1  Democratic  Thomas J. McIntyre (Incumbent)  184495  56.88%    44643  324354
2  Republican                   Wesley Powell  139852  43.12%    44643  324354
3        None                      Scattering       7   0.00%    44643  324354

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Clifford P. Case (Incumbent),1743854,62.46%,780101,2792087
2,Democratic,Paul J. Krebs,963753,34.52%,780101,2792087
3,American,A. Howard Freund,40980,1.47%,780101,2792087
4,Concerned Voter's Voice,Charles W. Wiley,33442,1.20%,780101,2792087
5,Socialist Labor,Julius Levin,10058,0.36%,780101,2792087

        Party      Candidate   Votes       % Majority Turnout
1  Republican  Pete Domenici  204253  54.03%    30438  378068
2  Democratic   Jack Daniels  173815  45.97%    30438  378068

        Party          Candidate   Votes       % Majority  Turnout
1  Republican        Jesse Helms  795248  54.01%   117955  1472541
2  Democratic  Nick Galifianakis  677293  45.99%   117955  1472541

         Party          Candidate   Votes       % Majority  Turnout
1   Republican  Dewey F. Bartlett  516934  51.43%    38722  1005148
2   Democratic       Ed Edmondson  478212  47.58%    38722  1005148
3     American   William G. Roach    5769   0.57%    38722  1005148
4  Independent    Joe C. Phillips    2264   0.23%    38722  1005148
5  Independent      Paul E. Trent    1969   0.20%    38722  1005148

        Party                  Candidate   Votes       % Majority Turnout
1  Republican  Mark Hatfield (Incumbent)  494671  53.72%    69635  920833
2  Democratic                Wayne Morse  425036  41.16%    69635  920833
3        None                  Write-Ins    1126   0.12%    69635  920833

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Claiborne Pell (Incumbent),221942,53.68%,32952,413431
2,Republican,John Chafee,188990,45.71%,32952,413431
3,Independent,John Quattrocchi Jr.,2041,0.49%,32952,413431
4,Socialist Workers,Patrick M. DeTemple,458,0.11%,32952,413431

        Party                   Candidate   Votes       % Majority Turnout
1  Republican  Strom Thurmond (Incumbent)  415806  63.29%   174750  657034
2  Democratic           Eugene N. Zeigler  241056  36.69%   174750  657034
3        None                   Write-Ins     172   0.03%   174750  657034

        Party         Candidate   Votes       % Majority Turnout
1  Democratic    James Abourezk  174773  57.04%    43160  306386
2  Republican  Robert W. Hirsch  131613  42.96%    43160  306386

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Howard Baker (Incumbent),716539,61.55%,+5.85%,275940,1164195
2,Democratic,Ray Blanton,440599,37.85%,+6.46%,275940,1164195

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,John Tower (Incumbent),1822877,53.40%,310892,3413903
2,Democratic,Barefoot Sanders,1511985,44.29%,310892,3413903
3,Raza Unida,Flores N. Amaya,63543,1.86%,310892,3413903
4,Socialist Workers,Tom Leonard,14464,0.42%,310892,3413903
5,None,Write-Ins,1034,0.03%,310892,3413903

           Party                    Candidate  Votes       % Majority Turnout
1     Republican  Robert Stafford (Incumbent)  45888  64.36%    22046   71301
2     Democratic            Randolph T. Major  23842  33.44%    22046   71301
3  Liberty Union               Bernie Sanders   1571   2.20%    22046   71301

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William L. Scott,718337,51.45%,74374,1396268
2,Democratic,William B. Spong Jr. (Incumbent),643963,46.12%,74374,1396268
3,Independent,Horace E. Henderson,33912,2.43%,74374,1396268
4,None,Scattering,56,0.00%,74374,1396268

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Jennings Randolph (Incumbent)  486310  66.45%   240779  731841
2  Republican                 Louise Leonard  245531  33.55%   240779  731841

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Clifford Hansen (Incumbent)  101314  71.31%    60561  142067
2  Democratic                   Mike Vinch   40753  28.69%    60561  142067

         Party                Candidate   Votes       % Majority Turnout
1   Democratic  James Allen (Incumbent)  501541  95.84%   479792  523290
2  Prohibition        Alvin Abercrombie   21749   4.16%   479792  523290

        Party                Candidate  Votes       % Majority Turnout
1  Democratic  Mike Gravel (Incumbent)  54361  58.28%    15447   93275
2  Republican              C. R. Lewis  38914  41.72%    15447   93275

        Party                    Candidate   Votes       % Majority Turnout
1  Republican  Barry Goldwater (Incumbent)  320396  58.26%    90873  549919
2  Democratic            Jonathan Marshall  229523  41.74%    90873  549919

        Party          Candidate   Votes       % Majority Turnout
1  Democratic       Dale Bumpers  461056  84.90%   379030  543082
2  Republican  John Harris Jones   82026  15.10%   379030  543082

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Alan Cranston (Incumbent),3639334,60.54%,1463019,6011154
2,Republican,H. L. Richardson,2176315,36.20%,1463019,6011154
3,American Independent,Jack McCoy,100111,1.67%,1463019,6011154
4,Peace and Freedom,Gayle M. Justice,95394,1.59%,1463019,6011154

         Party                      Candidate   Votes       % Majority Turnout
1   Democratic                      Gary Hart  471688  57.23%   146162  824171
2   Republican  Peter H. Dominick (Incumbent)  325526  39.50%   146162  824171
3  Independent                   John M. King   16131   1.96%   146162  824171
4  Prohibition            Joseph Fred Hyskell    8404   1.02%   146162  824171
5     American              Henry John Olshaw    2394   0.29%   146162  824171
6         None                      Write-Ins      28   0.00%   146162  824171

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Abraham A. Ribicoff (Incumbent),690820,63.67%,318765,1084918
2,Republican,James H. Brannen III,372055,34.29%,318765,1084918
3,George Wallace Party,Arthur F. Capozzi Jr.,19184,1.77%,318765,1084918
4,American,Norman L. Rochon,2682,0.25%,318765,1084918
5,None,Write-Ins,177,0.02%,318765,1084918

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Richard Stone,781031,43.38%,44357,1800539
2,Republican,Jack Eckerd,736674,40.91%,44357,1800539
3,American Independent,John Grady,282659,15.70%,44357,1800539
4,Independent,Jim Fair,117,0.01%,44357,1800539
5,Independent,Henry J. Matthew,35,<0.01%,44357,1800539
6,Independent,Hortense L. Arvan,13,<0.01%,44357,1800539
7,Independent,"Timothy L. ""Tim"" Adams",10,<0.01%,44357,1800539

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  Herman Talmadge (Incumbent)  627376  71.74%   380510  874555
2  Republican                Jerry Johnson  246866  28.23%   380510  874555
3        None                    Write-Ins     313   0.04%   380510  874555

         Party                  Candidate   Votes       % Majority Turnout
1   Democratic  Daniel Inouye (Incumbent)  207454  82.91%   164687  250221
2  Independent            James D. Kimmel   42767  17.09%   164687  250221

        Party                 Candidate   Votes       % Turnout
1  Democratic  Frank Church (Incumbent)  145140  56.07%  258847
2  Republican           Robert L. Smith  109072  42.14%  258847
3    American             Jean Stoddard    4635   1.79%  258847

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Adlai Stevenson III (Incumbent),1811496,62.15%,726612,2914666
2,Republican,George M. Burditt,1084884,37.22%,726612,2914666
3,Socialist Workers,Edward Thomas Heisler,12413,0.43%,726612,2914666
4,Communist,Ishmael Flory,5873,0.20%,726612,2914666

        Party               Candidate   Votes       % Majority  Turnout
1  Democratic  Birch Bayh (Incumbent)  889269  50.73%    75152  1752978
2  Republican           Richard Lugar  814117  46.44%    75152  1752978
3    American              Don L. Lee   49592   2.83%    75152  1752978

        Party         Candidate   Votes       % Majority
1  Democratic       John Culver  426947  50.02%     6401
2  Republican  David M. Stanley  420546  49.27%     6401
3    American    Lorin E. Oxley    6028   0.71%     6401

        Party             Candidate   Votes       % Majority Turnout
1  Republican  Bob Dole (Incumbent)  403983  50.85%    13532  794437
2  Democratic        William R. Roy  390451  49.15%    13532  794437
3        None             Write-Ins       3   0.00%    13532  794437

        Party                Candidate   Votes       % Majority Turnout
1  Democratic             Wendell Ford  398887  53.56%    70627  744698
2  Republican  Marlow Cook (Incumbent)  328260  44.08%    70627  744698
3    American        William E. Parker   17551   2.36%    70627  744698

        Party                    Candidate   Votes     % Total votes Majority
1  Republican  Charles Mathias (Incumbent)  503223  57.3      877886   129560
2  Democratic          Barbara A. Mikulski  374663  42.7      877886   129560

         Party                    Candidate   Votes       % Majority  Turnout
1   Democratic  Thomas Eagleton (Incumbent)  735433  60.07%   254533  1224303
2   Republican             Thomas B. Curtis  480900  39.28%   254533  1224303
3  Independent                Cliff Talmage    7970   0.65%   254533  1224303

        Party    Candidate  Votes       %        Majority Turnout
1  Republican  Paul Laxalt  79605  46.97%  +1.73%      624  169473
2  Democratic   Harry Reid  78981  46.60%  -8.16%      624  169473

,Party,Candidate,Votes,%,Plurality,Turnout
1,Republican,Louis Wyman,110926,49.6618%,2,223363
2,Democratic,John A. Durkin,110924,49.6609%,2,223363
3,American Independent,Carmen C. Chimento,1513,0.68%,2,223363

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Jacob Javits (Incumbent),2340188,45.32%,366407,5163450
2,Democratic,Ramsey Clark,1973781,38.23%,366407,5163450
3,Conservative,Barbara A. Keating,822584,15.93%,366407,5163450
4,Socialist Workers,Rebecca Finch,7727,0.15%,366407,5163450
5,Courage,William F Dowling Jr.,7459,0.14%,366407,5163450
6,Socialist Labor,Robert E. Massi,4037,0.08%,366407,5163450
7,Communist,Mildred Edelman,3876,0.08%,366407,5163450
8,Labor,Elijah C. Boyd Jr.,3798,0.07%,366407,5163450

        Party        Candidate   Votes       %         Turnout Majority
1  Democratic    Robert Morgan  633647  61.56%  +1.00%  1029341   246927
2  Republican  William Stevens  386720  37.57%  -1.87%  1029341   246927

         Party                    Candidate   Votes       % Majority Turnout
1   Republican  Milton R. Young (Incumbent)  114852  48.45%      177  237059
2   Democratic               William L. Guy  114675  48.37%      177  237059
3  Independent            James R. Jungroth    6679   2.82%      177  237059
4  Independent          Kenneth C. Gardiner     853   0.36%      177  237059

         Party            Candidate    Votes      % Majority  Turnout
1   Democratic           John Glenn  1930670  64.6%  1012357  2987606
2   Republican           Ralph Perk   918133  30.7%  1012357  2987606
3  Independent  Kathleen G. Harroff    76882   2.6%  1012357  2987606
4  Independent       Richard B. Kay    61921   2.1%  1012357  2987606
5  Independent         John O'Neill      257   0.0%  1012357  2987606
6  Independent    Ronald E. Girkins       88   0.0%  1012357  2987606

         Party                  Candidate   Votes      % Majority Turnout
1   Republican  Henry Bellmon (Incumbent)  390997  49.4%     3835  791809
2   Democratic               Ed Edmondson  387162  48.9%     3835  791809
3  Independent              Paul E. Trent   13650   1.7%     3835  791809

        Party                 Candidate   Votes       % Total votes
1  Republican  Bob Packwood (Incumbent)  420984  54.93%      766414
2  Democratic             Betty Roberts  338591  44.18%      766414
3    Write-In                 Jason Boe    5072   0.66%      766414
4    Write-In                     Misc.    1767   0.23%      766414

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Richard Schweiker (Incumbent),1843317,53.00%,247196,3477812
2,Democratic,Peter F. Flaherty,1596121,45.89%,247196,3477812
3,Constitution,George W. Shankey,38004,1.09%,247196,3477812

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Fritz Hollings (Incumbent),355107,69.4%,+7.5%,208458,511380
2,Republican,Gwen Bush,146649,28.7%,-9.4%,208458,511380
3,Independent,Harold Hough,9624,1.9%,+1.9%,208458,511380

        Party                    Candidate   Votes       % Majority Turnout
1  Democratic  George McGovern (Incumbent)  147929  53.04%    16974  278884
2  Republican             Leo K. Thorsness  130955  46.96%    16974  278884

        Party           Candidate   Votes       % Majority Turnout
1  Republican           Jake Garn  210299  49.99%    24922  420642
2  Democratic         Wayne Owens  185377  44.07%    24922  420642
3    American  Kenneth Rex Larsen   24966   5.94%    24922  420642

           Party           Candidate  Votes       % Total votes Majority
1     Democratic       Patrick Leahy  70629  49.47%   '142,772'     4406
2     Republican  Richard W. Mallary  66223  46.38%   '142,772'     4406
3  Liberty Union      Bernie Sanders   5901   4.13%   '142,772'     4406

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Warren Magnuson (Incumbent),611811,60.70%,248185,1007847
2,Republican,Jack Metcalf,363626,36.08%,248185,1007847
3,American Independent,Gene Goosman,19871,1.97%,248185,1007847
4,Socialist Workers,Clare Fraenzl,8176,0.81%,248185,1007847
5,Labor,Pat Ruckert,4363,0.43%,248185,1007847

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Gaylord Nelson (Incumbent),740700,61.8%,311373,1199426
2,Republican,Tom Petri,429327,35.8%,311373,1199426
3,American,Gerald L. McFarren,24003,2.0%,311373,1199426
4,Lowering the Property Tax,Roman Blenski,5396,0.6%,311373,1199426
5,None,Write-Ins,69,0.0%,311373,1199426

              Party            Candidate   Votes       % Majority Turnout
1        Democratic     Dennis DeConcini  400334  54.01%    79098  741210
2        Republican          Sam Steiger  321236  43.34%    79098  741210
3  Independent (US)            Bob Field   10765   1.45%    79098  741210
4       Libertarian        Allan Norwitz    7310   0.99%    79098  741210
5  Independent (US)  Wm. Mathews Feighan    1565   0.21%    79098  741210

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,S. I. Hayakawa,3748973,50.12%,246111,7470586
2,Democratic,John V. Tunney (Incumbent),3502862,46.89%,246111,7470586
3,Peace and Freedom,David Wald,104383,1.40%,246111,7470586
4,American Independent,Jack McCoy,82739,1.11%,246111,7470586
5,Independent (US),Omari Musa,31629,0.42%,246111,7470586

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Lowell Weicker (Incumbent),785683,57.70%,224665,1361666
2,Democratic,Gloria Schaffer,561018,41.20%,224665,1361666
3,George Wallace,Robert Barnabei,14407,1.06%,224665,1361666

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William Roth (Incumbent),125454,55.81%,27412,224795
2,Democratic,Thomas Maloney,98042,43.61%,27412,224795
3,American Party (1969),Donald G. Gies,646,0.29%,27412,224795
4,Non-Partisan,Joseph F. McInerney,437,0.19%,27412,224795
5,Prohibition,John A. Massimilla,216,0.0%,27412,224795

        Party                  Candidate    Votes     % Majority  Turnout
1  Democratic  Lawton Chiles (Incumbent)  1799518  63.0   741632  2857534
2  Republican                 John Grady  1057886  37.0   741632  2857534
3    Write-In                     Ed Ice      123   0.0   741632  2857534
4    Write-In                  Tim Adams        7   0.0   741632  2857534

         Party            Candidate   Votes      % Majority Turnout
1   Democratic      Spark Matsunaga  162305  53.7%    39581  302092
2   Republican        William Quinn  122724  40.6%    39581  302092
3     People's       Anthony Hodges   14226   4.7%    39581  302092
4  Nonpartisan         James Kimmel    1433   0.5%    39581  302092
5  Libertarian  Rockne Hart Johnson    1404   0.5%    39581  302092

        Party                 Candidate    Votes       % Majority  Turnout
1  Republican             Richard Lugar  1275833  59.03%   407311  2161187
2  Democratic  Vance Hartke (Incumbent)   868522  40.19%   407311  2161187
4  U.S. Labor        David Lee Hoagland     2511   0.12%   407311  2161187

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Edmund Muskie (Incumbent)  292704  60.20%    99215  486193
2  Republican         Robert A. G. Monks  193489  39.80%    99215  486193

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Paul Sarbanes,772101,56.55%,241662,1365290
2,Republican,John Glenn Beall Jr. (Incumbent),530439,38.85%,241662,1365290
3,Independent,Bruce Bradley,62750,4.60%,241662,1365290

,Party,Candidate,Votes,%,,Total votes,Majority
1,Democratic,Edward M. Kennedy (Incumbent),1726657,69.31,7.15,2491255,1004016
2,Republican,Michael S. Robertson,722641,29.01,-7.99,2491255,1004016
3,Socialist Workers,Carol Henderson Evans,26283,1.06,0.52,2491255,1004016

               Party            Candidate    Votes       % Majority  Turnout
1         Democratic        Donald Riegle  1831031  52.46%   195944  3490412
2         Republican       Marvin L. Esch  1635087  46.85%   195944  3490412
3        Libertarian     Bette Jane Erwin     8842     <1%   195944  3490412
4       Human Rights   Theodore G. Albert     7281     <1%   195944  3490412
5  Socialist Workers     Paula L. Reimers     3399     <1%   195944  3490412
6    Socialist Labor         Frank Girard     2554     <1%   195944  3490412
7         U.S. Labor  Peter A. Signorelli     2218     <1%   195944  3490412

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic (DFL),Hubert H. Humphrey (Incumbent),1290736,67.51%,812134,1912020
2,Independent-Republican,Gerald W. Brekke,478602,25.03%,812134,1912020
3,American,Paul Helm,125612,6.57%,812134,1912020
4,Socialist Workers,Bill Peterson,9380,0.49%,812134,1912020
5,Libertarian,Robin E. Miller,5476,0.29%,812134,1912020
6,Communist,Matt Savola,2214,0.12%,812134,1912020

         Party             Candidate    Votes       % Majority  Turnout
1   Republican         John Danforth  1090067  56.94%   276496  1914460
2   Democratic     Warren E. Hearnes   813571  42.50%   276496  1914460
3  Independent  Lawrence "Red" Petty    10822   0.57%   276496  1914460

        Party          Candidate   Votes       %        Majority Turnout
1  Democratic       John Melcher  206232  64.16%  +3.62%    91019  321445
2  Republican  Stanley C. Burger  115213  35.84%  -3.62%    91019  321445

                Party            Candidate   Votes       % Majority Turnout
1          Democratic      Edward Zorinsky  313805  52.89%    34521  593310
2          Republican  John Y. McCollister  279284  47.07%    34521  593310
3  Write-in candidate      Lenore Etchison      58   0.01%    34521  593310

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Howard Cannon (Incumbent),127214,63.01%,+5.36%,63743,201899
2,Republican,David Towell,63471,31.44%,-9.73%,63743,201899

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Harrison Williams (Incumbent),1681140,60.66%,626632,2771390
2,Republican,"David F. Norcross, Jr.",1054508,38.05%,626632,2771390
3,Libertarian,Hannibal Cundari,19907,0.72%,626632,2771390
4,Socialist Labor,Bernardo S. Doganiero,9185,0.33%,626632,2771390
5,Labor Party,Leif Johnson,6650,0.24%,626632,2771390

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Harrison Schmitt,234681,56.82%,+9.69%,58299,413056
2,Democratic,Joseph Montoya (Incumbent),176382,42.70%,-10.17%,58299,413056

,Party,Candidate,Votes,%,,Majority,Turnout
3,total,Pat Moynihan,3422594,54.17,+ 17.21,675961,6408377
6,total,James Buckley,2836633,44.90,+ 5.95,675961,6408377
7,Communist,Herbert Aptheker,25141,0.40,+ 0.37,675961,6408377
8,Socialist Workers,Marcia Gallo,16350,0.26,+ 0.20,675961,6408377
9,Libertarian,Martin E. Nixon,10943,0.17,+ 0.17,675961,6408377
10,U.S. Labor,Elijah C. Boyd,6716,0.11,+ 0.11,675961,6408377

         Party                    Candidate   Votes      % Turnout
1   Democratic  Quentin Burdick (Incumbent)  175772  62.10  283062
2   Republican                Robert Stroup  103466  36.55  283062
3  Independent             Clarence Haggard    3824   1.35  283062

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Howard Metzenbaum,1941113,49.51%,117339,3920613
2,Republican,Robert Taft Jr.,1823774,46.52%,117339,3920613
3,Independent,John O'Neill,53657,1.37%,117339,3920613
4,American Independent,Donald E. Babcock,36979,0.94%,117339,3920613
5,Independent,Emma Lila Fundaburk,33285,0.85%,117339,3920613
6,Socialist Workers,Melissa Singler,31805,0.81%,117339,3920613

,Party,Candidate,Votes,%,,Turnout,Majority
1,Republican,John Heinz,2381891,52.39%,+0.96%,4546353,254914
2,Democratic,William J. Green III,2126977,46.79%,+1.41%,4546353,254914
3,Constitution,Andrew J. Watson,26028,0.57%,-1.79%,4546353,254914
4,Socialist Workers,Frederick W. Stanton,5484,0.12%,+0.01%,4546353,254914
5,Labor Party,Bernard Salera,3637,0.08%,+0.08%,4546353,254914
6,Communist Party,Frank Kinces,2097,0.05%,+0.05%,4546353,254914

        Party          Candidate   Votes      % Majority Total votes
1  Republican        John Chafee  230329  57.74    62664      398906
2  Democratic  Richard P. Lorber  167665  42.03    62664      398906
3   Communist      Margaret Cann     912   0.23    62664      398906

         Party               Candidate   Votes       % Majority  Turnout
1   Democratic            James Sasser  751180  52.46%    77949  1432046
2   Republican  Bill Brock (Incumbent)  673231  47.01%    77949  1432046
3  Independent        Mark Clark Bates    5137   0.36%    77949  1432046
4  Independent         Willie C. Jacox    1406   0.10%    77949  1432046
5  Independent    Arnold Joseph Zandie    1061   0.07%    77949  1432046
6         None               Write-Ins      31   0.00%    77949  1432046

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Lloyd Bentsen,2199956,56.8%,563586,3874230
2,Republican,Alan Steelman,1636370,42.2%,563586,3874230
3,Socialist Workers Party,Pedro Vasquez,20549,0.5%,563586,3874230
4,American Independent,Marjorie P. Gallion,17355,0.5%,563586,3874230

        Party               Candidate   Votes       %
1  Republican             Orrin Hatch  290221  55.59%
2  Democratic  Frank Moss (incumbent)  223948  42.89%

,Party,Candidate,Votes,%,Total votes,Majority
1,Republican,Robert Stafford (Incumbent),94481,50.0,189060,12307
2,Democratic,Thomas P. Salmon,82174,43.5,189060,12307
3,Independent Vermonters,Thomas P. Salmon,3508,1.9,189060,12307
4,Total,Thomas P. Salmon,85682,45.4,189060,12307
5,Liberty Union,Nancy Kaufman,8801,4.7,189060,12307

,Party,Candidate,Votes,%,,Majority,Turnout
1,Independent,Harry F. Byrd Jr. (Incumbent),890778,57.19%,+3.65%,294769,1557500
2,Democratic,Elmo Zumwalt,596009,38.27%,+7.12%,294769,1557500

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Henry M. Jackson (Incumbent),1071219,71.84%,709673,1491111
2,Republican,George M. Brown,361546,24.25%,709673,1491111
3,American Independent,Dave Smith,28182,1.89%,709673,1491111
4,Libertarian,Richard K. Kenney,19973,1.30%,709673,1491111
5,Socialist Workers,Karl Bermann,7402,0.50%,709673,1491111
6,Labor Party,William F. Wertz Jr.,3389,0.23%,709673,1491111

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William Proxmire (Incumbent),1396970,72.19%,875068,1935183
2,Republican,Stanley York,521902,26.97%,875068,1935183
3,Democratic Socialist,William Osborne Hart,7354,0.38%,875068,1935183
4,Socialist Workers,Robert Schwarz,4876,0.25%,875068,1935183
5,Labor Party,Michael A. MacLaurin,2148,0.11%,875068,1935183
6,Socialist Labor,Robert E. Nordlander,1731,0.09%,875068,1935183
7,None,Write-Ins,202,0.01%,875068,1935183

        Party               Candidate  Votes       % Majority Turnout
1  Republican          Malcolm Wallop  84810  54.59%    14252  155368
2  Democratic  Gale McGee (Incumbent)  70558  45.41%    14252  155368

         Party        Candidate   Votes       % Majority Turnout
1   Democratic    Howell Heflin  547054  93.99%   512103  582005
2  Prohibition  Jerome B. Couch   34951   6.01%   512103  582005

         Party            Candidate   Votes       % Majority Turnout
1   Democratic    Donald W. Stewart  401852  55.06%    85682  729842
2   Republican      James D. Martin  316170  43.32%    85682  729842
3  Libertarian  Michael R. A. Erdey    6006   0.08%    85682  729842
4  Prohibition   A. J. Killinsworth    5814   0.08%    85682  729842

        Party                Candidate  Votes       % Majority Turnout
1  Republican  Ted Stevens (Incumbent)  92783  75.59%    63209  122741
2  Democratic             Donald Hobbs  29574  24.09%    63209  122741
3   Write-ins                Write-ins    384   0.31%    63209  122741

         Party      Candidate   Votes       % Majority Turnout
1   Democratic    David Pryor  395506  76.48%   311198  517138
2   Republican      Tom Kelly   84308  16.30%   311198  517138
3  Independent  John G. Black   37211   7.20%   311198  517138
4         None      Write-ins     113   0.02%   311198  517138

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William L. Armstrong,480801,58.69%,150653,819256
2,Democratic,Floyd Haskell (Incumbent),330148,40.30%,150653,819256
3,United States Party,Vedder V. Dorn,5789,0.71%,150653,819256
4,National Statesman,John Shue,2518,0.31%,150653,819256

        Party              Candidate  Votes       %        Majority Turnout
1  Democratic  Joe Biden (Incumbent)  93930  57.96%  +7.48%    27451  162072
2  Republican    James H. Baxter Jr.  66479  41.02%  -8.08%    27451  162072
3    American         Donald G. Gies   1663   1.02%  +0.68%    27451  162072

        Party             Candidate   Votes       %         Majority Turnout
1  Democratic  Sam Nunn (Incumbent)  536320  83.13%  +29.17%   427512  645128
2  Republican        John W. Stokes  108808  16.87%  -29.14%   427512  645128

        Party                     Candidate   Votes       % Majority Turnout
1  Republican  James A. McClure (Incumbent)  194412  68.44%   104777  284047
2  Democratic                 Dwight Jensen   89635  31.56%   104777  284047

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Charles H. Percy (Incumbent),1698711,53.34%,-8.88%,250524,3184764
2,Democratic,Alex Seith,1448187,45.47%,+8.13%,250524,3184764

         Party               Candidate   Votes       % Majority Turnout
1   Republican            Roger Jepsen  421598  51.13%    26532  824576
2   Democratic  Dick Clark (Incumbent)  395066  47.91%    26532  824576
3  Independent        Gerald Leo Baker    4223   0.51%    26532  824576
4  Libertarian            Ben L. Olson    3689   0.45%    26532  824576

          Party        Candidate   Votes       % Majority Turnout
1    Republican  Nancy Kassebaum  403354  53.86%    85752  748839
2    Democratic   William R. Roy  317602  42.41%    85752  748839
3  Conservative   James R. Maher   22497   3.00%    85752  748839
4   Prohibition   Russell Mikels    5386   0.72%    85752  748839

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Walter Huddleston (Incumbent)  290730  60.98%   114964  476783
2  Republican         Louie R. Guenthner Jr.  175766  36.86%   114964  476783
3    American          Anthony Albert McCord   10244   2.15%   114964  476783
4        None                      Write-Ins      32   0.01%   114964  476783

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,William Cohen,212294,56.59%,+9.83%,84967,375114
2,Democratic,William Hathaway (Incumbent),127327,33.94%,-19.29%,84967,375114

        Party                  Candidate    Votes       % Total votes Majority
1  Democratic            Paul E. Tsongas  1093283  55.06%     1985700   202699
2  Republican  Edward Brooke (Incumbent)   890584  44.85%     1985700   202699

,Party,Candidate,Votes,%,,Majority,Turnout
2,Republican,Robert P. Griffin (Incumbent),1362165,47.8%,-4.29%,122028,2846630
3,Independent,Others,272,0.01%,-52.13%,122028,2846630

,Party,Candidate,Votes,%,Majority,Turnout
1,Independent-Republican,Rudy Boschwitz,894092,56.57%,255717,1580622
2,Democratic (DFL),Wendell Anderson,638375,40.39%,255717,1580622
3,American,Sal Carlone,23261,1.47%,255717,1580622
4,Socialist Workers,William Peterson,9856,0.62%,255717,1580622
5,Independent,Brian J. Coyle,8083,0.51%,255717,1580622
6,Workers League,Jean T. Brust,3891,0.25%,255717,1580622
7,Libertarian,Leonard J. Richards,2992,0.19%,255717,1580622
8,Others,Write-ins,72,0.01%,255717,1580622

                    Party          Candidate   Votes       % Majority  Turnout
1  Independent-Republican  David Durenberger  957908  61.47%   419233  1558376
2        Democratic (DFL)          Bob Short  538675  34.57%   419233  1558376
3                American          Paul Helm   45402   2.91%   419233  1558376
4       Socialist Workers    Christine Frank   11397   0.73%   419233  1558376
5             Libertarian   Frederick Hewitt    4116   0.26%   419233  1558376
6                  Others          Write-ins     878   0.06%   419233  1558376

         Party          Candidate   Votes      % Majority Turnout
1   Republican       Thad Cochran  267302  45.3%    79761  590236
2   Democratic     Maurice Dantin  187541  31.8%    79761  590236
3  Independent      Charles Evers  133646  22.6%    79761  590236
4  Independent  Henry Jay Kirksey    1747   0.3%    79761  590236

        Party          Candidate   Votes       %        Majority Turnout
1  Democratic         Max Baucus  160353  55.69%  +3.74%    32764  287942
2  Republican  Larry R. Williams  127589  44.31%  -3.74%    32764  287942

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,J. James Exon,334096,67.66%,+20.82%,174390,493802
2,Republican,Donald Eugene Shasteen,159708,32.34%,-20.82%,174390,493802

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Gordon J. Humphrey,133745,50.71%,5800,263760
2,Democratic,Thomas J. McIntyre (Incumbent),127945,48.51%,5800,263760
3,Libertarian,Craig Franklin,2070,0.78%,5800,263760

          Party                 Candidate    Votes       % Majority  Turnout
1    Democratic  Bill Bradley (Incumbent)  1082960  55.32%   238760  1957515
2    Republican                 Jeff Bell   844200  43.13%   238760  1957515
3   Independent        Herbert Harry Shaw     4736   0.24%   238760  1957515
4   Independent               Bill Gahres     3817   0.19%   238760  1957515
5   Independent               Jack Moyers     3809   0.19%   238760  1957515
6   Labor Party              Robert Bowen     3656   0.19%   238760  1957515
7   Independent          J. M. Carter Jr.     3618   0.18%   238760  1957515
8   Independent           Jasper C. Gould     2955   0.15%   238760  1957515
9   Independent          William R. Thorn     2776   0.14%   238760  1957515
10  Independent             Paul Ferguson     2604   0.13%   238760  1957515
11  Independent              Alice Conner     2384   0.12%   238760  1957515

        Party                  Candidate   Votes       % Majority Total votes
1  Republican  Pete Domenici (Incumbent)  183442  53.41%    23397      343487
2  Democratic                Toney Anaya  160045  46.59%    23397      343487

        Party    Candidate   Votes       %         Turnout
1  Republican  Jesse Helms  619151  54.51%  +0.50%  1135814
2  Democratic  John Ingram  516663  45.49%  -0.50%  1135814

         Party            Candidate   Votes       % Majority Turnout
1   Democratic          David Boren  493953  65.49%   246096  754264
2   Republican       Robert B. Kamm  247857  32.86%   246096  754264
3  Independent       Glenn E. Hager    3875   0.51%   246096  754264
4  Independent         Riley Donica    3355   0.44%   246096  754264
5  Independent    Paul Edward Trent    3015   0.40%   246096  754264
6  Independent  Richard King Carter    2209   0.29%   246096  754264

         Party                  Candidate   Votes       % Majority Turnout
1   Republican  Mark Hatfield (Incumbent)  550165  61.64%   208549  892518
2   Democratic                Vernon Cook  341616  38.28%   208549  892518
3  Independent                  Write-Ins     737   0.08%   208549  892518

        Party                   Candidate   Votes       % Majority Total votes
1  Democratic  Claiborne Pell (Incumbent)  229557  75.11%   153496      305618
2  Republican           James G. Reynolds   76061  24.89%   153496      305618

        Party           Candidate   Votes      %       Majority Turnout
1  Republican      Strom Thurmond  351733  55.6%  -7.9%    70614  633109
2  Democratic  Charles D. Ravenel  281119  44.4%  +7.9%    70614  633109
3    No party           Write-Ins     257   0.0%   0.0%    70614  633109

        Party       Candidate   Votes       % Majority Turnout
1  Republican  Larry Pressler  170832  66.84%    86065  255599
2  Democratic     Don Barnett   84767  33.16%    86065  255599

         Party                  Candidate   Votes       % Majority  Turnout
1   Republican   Howard Baker (Incumbent)  642644  55.54%   176416  1157094
2   Democratic                Jane Eskind  466228  40.29%   176416  1157094
3  Independent  Thomas Jefferson Anderson   45908   3.97%   176416  1157094
4  Independent            Fern L. Keasler    2243   0.19%   176416  1157094
5         None                  Write-Ins      71   0.01%   176416  1157094

               Party               Candidate    Votes      % Majority  Turnout
1         Republican  John Tower (Incumbent)  1151376  49.8%    12227  2312540
2         Democratic             Bob Krueger  1139149  49.3%    12227  2312540
3         Raza Unida    Luis A. Diaz de Leon    17869   0.8%    12227  2312540
4  Socialist Workers           Miguel Pendas     4018   0.2%    12227  2312540
5               None                  Others      128   0.0%    12227  2312540

        Party         Candidate   Votes       %        Majority  Turnout
1  Republican       John Warner  613232  50.17%  -1.28%     4721  1222256
2  Democratic  Andrew P. Miller  608511  49.79%  +3.67%     4721  1222256

        Party                      Candidate   Votes       % Majority Turnout
1  Democratic  Jennings Randolph (Incumbent)  249034  50.48%     4717  493351
2  Republican              Arch A. Moore Jr.  244317  49.52%     4717  493351

        Party                 Candidate  Votes       % Majority Turnout
1  Republican  Alan Simpson (Incumbent)  82908  62.17%    32452  133364
2  Democratic       Raymond B. Whitaker  50456  37.83%    32452  133364

               Party            Candidate   Votes       % Majority  Turnout
1         Republican      Jeremiah Denton  650362  50.15%    40187  1296757
2         Democratic           Jim Folsom  610175  47.05%    40187  1296757
3       Conservative  Michael R. A. Erdey   15989   1.23%    40187  1296757
4        Libertarian      William A. Crew   13098   1.01%    40187  1296757
5  National Democrat    Sallie M. Hadnott    2973   0.23%    40187  1296757
6    Statesman Party          Jim Partain    2649   0.20%    40187  1296757
7  Socialist Workers      Mohammed Oliver    1511   0.12%    40187  1296757

        Party        Candidate  Votes       %         Majority Turnout
1  Republican  Frank Murkowski  84159  53.69%  +11.97%    12152  156762
2  Democratic   Clark Gruening  72007  45.93%  -12.35%    12152  156762

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Barry Goldwater (Incumbent),432371,49.46%,9399,874225
2,Democratic,Bill Schulz,422972,48.38%,9399,874225
3,Libertarian,Fred R. Esser,12008,1.37%,9399,874225
4,People Over Politics,Lorenzo Torrez,3608,0.41%,9399,874225
5,Socialist Workers,Josefina Otero,3266,0.37%,9399,874225

         Party                 Candidate   Votes      % Majority Turnout
1   Democratic  Dale Bumpers (Incumbent)  477905  57.0%   117329  808812
2   Republican                Bill Clark  360576  43.0%   117329  808812
3  Independent            Walter McCarty     331   0.0%   117329  808812

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Alan Cranston (Incumbent),4705399,56.5%,1612427,8324012
2,Republican,Paul Gann,3093426,37.2%,1612427,8324012
3,Libertarian,David Bergland,202481,2.4%,1612427,8324012
4,Peace and Freedom,David Wald,196354,2.4%,1612427,8324012
5,American Independent,James C. Griffin,129648,1.6%,1612427,8324012

        Party              Candidate   Votes       %        Majority  Turnout
1  Democratic  Gary Hart (Incumbent)  590501  50.33%  6.90%    19206  1173142
2  Republican   Mary Estill Buchanan  571295  48.70%  +9.20%    19206  1173142

                Party        Candidate   Votes      % Majority  Turnout
1          Democratic       Chris Dodd  763969  56.3%   182085  1356075
2          Republican    James Buckley  581884  42.9%   182085  1356075
3         Libertarian    Jerry Brennan    5336   0.4%   182085  1356075
4  Concerned Citizens  Andrew J. Zemel    4772   0.4%   182085  1356075

        Party      Candidate    Votes       %         Majority  Turnout
1  Republican  Paula Hawkins  1822460  51.66%  +10.74%   117051  3528028
2  Democratic    Bill Gunter  1705409  48.34%   +4.96%   117051  3528028

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Mack Mattingly,803686,50.87%,+22.63%,27543,1579829
2,Democratic,Herman Talmadge (Incumbent),776143,49.13%,22.63%,27543,1579829

         Party                  Candidate   Votes       % Majority Turnout
1   Democratic  Daniel Inouye (Incumbent)  224485  77.94%   171417  288006
2   Republican               Cooper Brown   53068  18.43%   171417  288006
3  Libertarian               Bud Shasteen   10453   3.63%   171417  288006

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Steve Symms,218701,49.74%,+7.61%,4262,439647
2,Democratic,Frank Church (Incumbent),214439,48.78%,7.30%,4262,439647

               Party               Candidate    Votes      % Majority  Turnout
1         Democratic  Alan Dixon (Incumbent)  2565302  56.0%   619006  4580030
2         Republican             Dave O'Neal  1946296  42.5%   619006  4580030
3        Libertarian             Bruce Green    29328   0.6%   619006  4580030
4        Independent             Sidney Lens    19213   0.4%   619006  4580030
5          Communist       Charles F. Wilson     5671   0.2%   619006  4580030
6      Workers World         Michael Soriano     5626   0.1%   619006  4580030
7  Socialist Workers          Burton L. Artz     2715   0.1%   619006  4580030

        Party               Candidate    Votes       % Majority  Turnout
1  Republican              Dan Quayle  1182414  53.79%   166492  2198366
2  Democratic  Birch Bayh (Incumbent)  1015922  46.21%   166492  2198366

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Chuck Grassley,683014,53.49%,+4.21%,101469,1772983
2,Democratic,John Culver (Incumbent),581545,45.54%,4.48%,101469,1772983

        Party             Candidate   Votes       % Majority Turnout
1  Republican  Bob Dole (Incumbent)  598686  63.76%   258415  938957
2  Democratic          John Simpson  340271  36.24%   258415  938957

        Party                 Candidate   Votes       % Majority  Turnout
1  Democratic  Wendell Ford (Incumbent)  720891  65.13%   334862  1106920
2  Republican         Mary Louise Foust  386029  34.87%   334862  1106920

        Party                 Candidate   Votes       % Majority Turnout
1  Democratic  Russell Long (Incumbent)  484770  57.64%   158848  841013
2  Democratic             Woody Jenkins  325922  38.76%   158848  841013
3  Republican         Jerry C. Bardwell   13739   1.63%   158848  841013
4  Republican           Robert Max Ross   10208   1.21%   158848  841013
5    No Party              Maomi Bracey    6374   0.76%   158848  841013

        Party                    Candidate   Votes       % Majority  Turnout
1  Republican  Charles Mathias (incumbent)  850970  66.17%   415852  1286088
2  Democratic             Edward T. Conroy  435118  33.83%   415852  1286088

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Thomas Eagleton (Incumbent),1074859,52.00%,89460,2066965
2,Republican,Gene McNary,985399,47.67%,89460,2066965
3,Socialist Workers,Martha Pettis,6707,0.32%,89460,2066965

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Paul Laxalt (Incumbent),144224,58.52%,+11.55%,52095,246436
2,Democratic,Mary Gojack,92129,37.38%,9.22%,52095,246436

        Party                   Candidate   Votes       % Majority Turnout
1  Republican               Warren Rudman  195559  52.15%    16104  375014
2  Democratic  John A. Durkin (Incumbent)  179455  47.85%    16104  375014

,Party,Candidate,Votes,%,Majority,Turnout
4,Total,Alfonse D'Amato,2699652,44.88%,80991,6014914
5,Democratic,Elizabeth Holtzman,2618661,43.54%,80991,6014914
6,Liberal,Jacob K. Javits (Incumbent),664544,11.05%,80991,6014914
7,Libertarian,Richard Savadel,21465,0.36%,80991,6014914
8,Communist,William R. Scott,4161,0.07%,80991,6014914
9,Workers World,Thomas Soto,3643,0.06%,80991,6014914
10,Socialist Workers,Victor A. Nieto,2715,0.05%,80991,6014914

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,John East,898064,49.96%,+12.18%,10411,1797655
2,Democratic,Robert Morgan (incumbent),887653,49.38%,12.39%,10411,1797655

         Party            Candidate   Votes       % Majority Turnout
1   Republican         Mark Andrews  210347  70.29%   123689  299272
2   Democratic      Kent Johanneson   86658  28.96%   123689  299272
3  Independent        Harley McLain    1625   0.54%   123689  299272
4  Independent  Don J. Klingensmith     642   0.22%   123689  299272

         Party               Candidate    Votes      % Majority  Turnout
1   Democratic  John Glenn (Incumbent)  2770786  68.8%  1633091  4027303
2   Republican               Jim Betts  1137695  28.3%  1633091  4027303
3  Independent          John E. Powers    76412   1.9%  1633091  4027303
4  Independent              Rick Nagin    42410   1.1%  1633091  4027303

         Party           Candidate   Votes      % Majority
1   Republican         Don Nickles  587252  53.5%   108969
2   Democratic          Andy Coats  478283  43.6%   108969
3  Independent  Charles R. Nesbitt   21179   1.9%   108969
4  Libertarian    Robert T. Murphy    9757   0.9%   108969
5  Independent       Paul E. Trent    1823   0.2%   108969

         Party                 Candidate   Votes       % Total votes
1   Republican  Bob Packwood (Incumbent)  594290  52.13%     1139939
2   Democratic            Ted Kulongoski  501963  44.03%     1139939
3  Libertarian              Tonie Nathan   43686   3.83%     1139939

               Party          Candidate    Votes       % Majority  Turnout
1         Republican      Arlen Specter  2230404  50.48%   108013  4418042
2         Democratic  Peter F. Flaherty  2122391  48.04%   108013  4418042
3  Socialist Workers   Linda Mohrbacher    27229   0.62%   108013  4418042
4        Libertarian    David K. Walter    18595   0.42%   108013  4418042
5           Consumer       Lee Frissell    16089   0.36%   108013  4418042
6          Communist       Frank Kinces     3334   0.08%   108013  4418042

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Fritz Hollings (Incumbent),612556,70.4%,+1.0%,354610,870596
2,Republican,Marshall Mays,257946,29.6%,+0.9%,354610,870596
3,No party,Write-Ins,94,0.0%,0.0%,354610,870596

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,James Abdnor,190594,58.20%,+11.24%,61576,327478
2,Democratic,George McGovern (Incumbent),129018,39.40%,13.65%,61576,327478

         Party              Candidate   Votes       % Majority Turnout
1   Republican  Jake Garn (Incumbent)  437675  73.65%   286221  594298
2   Democratic             Dan Berman  151454  25.48%   286221  594298
3  Independent        Bruce Bangerter    3186   0.54%   286221  594298
4     American    George M. Batchelor    1983   0.33%   286221  594298

,Party,Candidate,Votes,%,Majority,Total votes
1,Democratic,Patrick Leahy (Incumbent),104089,49.8%,2755,209188
2,Republican,Steward M. Ledbetter,101647,48.6%,2755,209188
3,Independent,Anthony N. Doria,1764,0.8%,2755,209188
4,Liberty Union,Earl S. Gardner,1578,0.8%,2755,209188

        Party                    Candidate   Votes      % Majority Total votes
1  Republican                 Slade Gorton  936317  54.2%   144265     1728369
2  Democratic  Warren Magnuson (Incumbent)  792052  45.8%   144265     1728369

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Bob Kasten,1106311,50.44%,40284,2204135
2,Democratic,Gaylord Nelson (Incumbent),1065487,48.34%,40284,2204135
3,Constitution,James P. Wickstrom,16156,0.73%,40284,2204135
4,Libertarian,Bervin J. Larson,9679,0.44%,40284,2204135
5,Socialist Workers,Susan Hagen,6502,0.30%,40284,2204135

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Dennis DeConcini (Incumbent),411970,56.91,+2.90%,120221,723885
2,Republican,Peter Dunn,291749,40.30,-3.04%,120221,723885
3,Libertarian,Randall Clamons,20100,2.78,+1.79%,120221,723885

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,Pete Wilson,4022565,51.5,527597,7805520
2,Democratic,Jerry Brown,3494968,44.8,527597,7805520
3,Libertarian,Joseph Fuhrig,107720,1.4,527597,7805520
4,Peace and Freedom,David Wald,96388,1.2,527597,7805520
5,American Independent,Theresa Dietrich,83809,1.1,527597,7805520
6,Independent,Thomas Kendall (Write In),36,0.0,527597,7805520
7,Independent,Ben Leonik (Write In),34,0.0,527597,7805520

          Party                   Candidate   Votes     % Majority  Turnout
1    Republican  Lowell Weicker (Incumbent)  545987  50.4    46841  1083508
2    Democratic                Toby Moffett  499146  46.1    46841  1083508
3  Conservative              Lucien DiFazio   30212   2.8    46841  1083508
4   Libertarian                 James Lewis    8163   0.8    46841  1083508

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Bill V. Roth (Incumbent),105357,55.17,-0.64%,20944,190960
2,Democratic,David N. Levinson,84413,44.20,+0.59%,20944,190960
4,American Independent,Charles Baker,537,0.28,-0.01%,20944,190960

        Party      Candidate    Votes      %        Majority Total votes
1  Democratic  Lawton Chiles  1637667  61.72  -1.26%   622337     2653419
2  Republican   Van B. Poole  1015330  38.26  +1.24%   622337     2653419

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Spark Matsunaga (Incumbent),245386,80.1,193315,306410
2,Republican,Clarence Brown,52071,17.0,193315,306410
3,Independent Democrat,E. Bernier-Nachtwey,8953,2.9,193315,306410

        Party                  Candidate   Votes      % Majority  Turnout
1  Republican  Richard Lugar (Incumbent)  978301  53.83   149901  1817287
2  Democratic              Floyd Fithian  828400  45.58   149901  1817287
3    American              Raymond James   10586   0.58   149901  1817287

        Party                       Candidate   Votes      % Majority Turnout
1  Democratic  George J. Mitchell (Incumbent)  279819  60.87    99937  459715
2  Republican                  David F. Emery  179882  39.13    99937  459715
3        None                       Write-Ins      14   0.00    99937  459715

        Party                  Candidate   Votes      % Majority  Turnout
1  Democratic  Paul Sarbanes (Incumbent)  707356  63.46   300022  1114690
2  Republican             Lawrence Hogan  407334  36.54   300022  1114690

,Party,Candidate,Votes,%,,Total votes,Majority
1,Democratic,Ted Kennedy (Incumbent),1247084,60.81,-8.50,2050769,462482
2,Republican,Ray Shamie,784602,38.26,9.25,2050769,462482
3,Libertarian,Howard S. Katz,18878,0.92,0.92,2050769,462482

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Donald Riegle (incumbent),1728793,57.74,505505,2994334
2,Republican,Philip Ruppe,1223288,40.85,505505,2994334
3,Libertarian,Bette Erwin,19131,0.64,505505,2994334
4,American Independent,Daniel Eller,12660,0.42,505505,2994334
5,Workers League,Helen Halyard,6.085,0.20,505505,2994334
6,Socialist Workers,Steve Beumer,4335,0.14,505505,2994334
7,None,Write-Ins,42,0.00,505505,2994334

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,David Durenberger (Incumbent),949207,52.60,108806,1804675
2,Democratic,Mark Dayton,840401,46.57,108806,1804675
3,Socialist Workers,Bill Onasch,5897,0.33,108806,1804675
4,Libertarian,Frederick Hewitt,5870,0.33,108806,1804675
5,New Union Party,Jeffrey M. Miller,3300,0.18,108806,1804675

        Party                 Candidate   Votes     % Majority Turnout
1  Democratic  John Stennis (Incumbent)  414099  64.2   184172  645026
2  Republican             Haley Barbour  230927  35.8   184172  645026

        Party                  Candidate   Votes      %  Turnout
1  Republican  John Danforth (Incumbent)  784876  50.85  1543521
2  Democratic             Harriett Woods  758629  49.15  1543521
3        None                  Write-Ins      16   0.00  1543521

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,John Melcher (Incumbent),174861,54.46,-9.69%,41072,321062
2,Republican,Larry Williams,133789,41.67,+5.83%,41072,321062

         Party        Candidate   Votes      % Majority Turnout
1   Democratic  Edward Zorinsky  363350  66.59   207590  545647
2   Republican         Jim Keck  155760  28.55   207590  545647
3  Independent   Virginia Walsh   26443   4.85   207590  545647
4         None        Write-Ins      94   0.02   207590  545647

        Party                  Candidate   Votes     % Majority Turnout
1  Republican                 Chic Hecht  120377  50.1    15657  240394
2  Democratic  Howard Cannon (Incumbent)  114720  47.7    15657  240394

               Party             Candidate    Votes      % Majority  Turnout
1         Democratic      Frank Lautenberg  1117549  50.94   69.923  2193945
2         Republican     Millicent Fenwick  1047626  47.75   69.923  2193945
3        Libertarian            Henry Koch     9934   0.45   69.923  2193945
4    Socialist Labor          Julius Levin     5580   0.25   69.923  2193945
5        Independent   Martin E. Wendelken     4745   0.22   69.923  2193945
6  Socialist Workers       Claire Moriarty     3726   0.17   69.923  2193945
7         Grassroots     Robert T. Bastien     2955   0.14   69.923  2193945
8      Repeal TF 807  Rose Zeidwerg Monyek     1830   0.08   69.923  2193945

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Jeff Bingaman,217682,53.77,+11.07%,30554,404810
2,Republican,Harrison Schmitt (Incumbent),187128,46.23,-10.59%,30554,404810

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Daniel Patrick Moynihan (Incumbent),3232146,65.1,1535380,4967729
2,Republican,Florence Sullivan,1696766,34.2,1535380,4967729
3,Libertarian,James J. McKeown,23379,0.5,1535380,4967729
4,Socialist Workers,Steven Wattenmaker,15206,0.5,1535380,4967729
5,None,Write-Ins,232,0.0,1535380,4967729

         Party                    Candidate   Votes      % Turnout
1   Democratic  Quentin Burdick (Incumbent)  164873  62.84  262465
2   Republican                   Gene Knorr   89304  34.03  262465
3  Independent             Anna B. Bourgois    8288   3.13  262465

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Howard M. Metzenbaum (Incumbent),1923767,56.66,526977,3395463
2,Republican,Paul Pfeifer,1396790,41.14,526977,3395463
3,Independent,Alicia Merel,38803,1.14,526977,3395463
4,Libertarian,Philip Herzing,36103,1.06,526977,3395463

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,H. John Heinz III (Incumbent),2136418,59.28,+6.89%,723453,3604108
2,Democratic,Cyril Wecht,1412965,39.20,-7.59%,723453,3604108
3,Libertarian,Barbara I. Karkutt,19244,0.53,+0.53%,723453,3604108
4,Socialist Workers,William H. Thomas,18951,0.53,+0.41%,723453,3604108
5,Consumer,Liane Norman,16530,0.46,+0.46%,723453,3604108

        Party                Candidate   Votes     % Majority Total votes
1  Republican  John Chafee (Incumbent)  175495  51.2     8212      342778
2  Democratic     Julius C. Michaelson  167283  48.8     8212      342778

        Party               Candidate   Votes      % Majority Turnout
1  Democratic  Jim Sasser (Incumbent)  780113  61.93  1259755  300471
2  Republican             Robin Beard  479642  38.07  1259755  300471

         Party                  Candidate    Votes      % Majority  Turnout
1   Democratic  Lloyd Bentsen (Incumbent)  1818223  58.59   561464  3103167
2   Republican           James M. Collins  1256759  40.50   561464  3103167
3  Libertarian               John E. Ford    23494   0.76   561464  3103167
4     Citizens     Lineaus Hooper Lorette     4564   0.15   561464  3103167
5         None                  Write-Ins      127   0.00   561464  3103167

         Party                Candidate   Votes      % Majority Turnout
1   Republican  Orrin Hatch (Incumbent)  309332  58.28    89850  530802
2   Democratic               Ted Wilson  219482  41.35    89850  530802
3  Libertarian           George Mercier    1035   0.19    89850  530802
4     American     Lawrence R. Kauffman     953   0.19    89850  530802

         Party                    Candidate  Votes     % Total votes Majority
1   Republican  Robert Stafford (Incumbent)  84450  50.3      168003     5109
2   Democratic               James A. Guest  79340  47.2      168003     5109
3  Independent       Michael Edward Hackett   1463   1.0      168003     5109
4  Independent                 Ion Laskaris    897   0.5      168003     5109
5  Libertarian                 Bo Adlerbert    892   0.5      168003     5109

        Party    Candidate   Votes      %         Majority  Turnout
1  Republican  Paul Trible  724571  51.18  +51.18%    33732  1415622
2  Democratic   Dick Davis  690839  48.80  +10.53%    33732  1415622

         Party                     Candidate   Votes      % Majority  Turnout
1   Democratic  Henry M. Jackson (Incumbent)  943655  68.96   611382  1368476
2   Republican                   Doug Jewett  332273  24.28   611382  1368476
3  Independent                    King Lysen   72297   5.28   611382  1368476
4  Independent                  Jesse Chiang   20251   1.48   611382  1368476

        Party                Candidate   Votes     % Majority Turnout
1  Democratic  Robert Byrd (Incumbent)  387170  68.5   213260  565314
2  Republican           Cleve Benedict  173910  30.8   213260  565314

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,William Proxmire (Incumbent),983311,63.65,455956,1544883
2,Republican,Scott McCallum,527355,34.14,455956,1544883
3,Wis. Labor-Farm,William Osborne Hart,21807,1.41,455956,1544883
4,Libertarian,George Liljenfeldt,7947,0.51,455956,1544883
5,Constitution,Sanford G. Knapp,4463,0.29,455956,1544883

        Party                   Candidate  Votes      % Majority Turnout
1  Republican  Malcolm Wallop (Incumbent)  94725  56.66    22259  167191
2  Democratic             Rodger McDaniel  72466  43.34    22259  167191

         Party                  Candidate   Votes       % Majority Total votes
1   Democratic  Howell Heflin (Incumbent)  860535  62.76%   362027     1371234
2   Republican           Albert Lee Smith  498508  36.35%   362027     1371234
3  Libertarian          S.D. (Yana) Davis   12191   0.89%   362027     1371234

        Party                Candidate  Votes       % Total votes
1  Republican  Ted Stevens (incumbent)  65522  69.22%       94651
2  Democratic            John Havelock  19074  20.15%       94651
3  Democratic             Dave Carlson   4620   4.88%       94651
4  Republican          Michael Beasley   2443   2.58%       94651
5  Democratic             Joe Tracanna   1661   1.75%       94651
6  Democratic            Phil Stoddard   1331   1.41%       94651

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Ted Stevens (Incumbent),146919,71.17%,4.42%,88115,206438
2,Democratic,John E. Havelock,58804,28.49%,+4.39%,88115,206438

        Party                Candidate   Votes       % Majority Turnout
1  Democratic  David Pryor (Incumbent)  502341  57.35%   128726  875956
2  Republican               Ed Bethune  373615  42.65%   128726  875956

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,William L. Armstrong (Incumbent),833821,64.25%,384494,1297809
2,Democratic,Nancy Dick,449327,34.62%,384494,1297809
3,Libertarian,Craig Green,11077,0.85%,384494,1297809
4,Socialist Workers,David Martin,2208,0.17%,384494,1297809
5,Prohibition,Earl Higgerson,1376,0.11%,384494,1297809

        Party              Candidate   Votes       %        Majority Turnout
1  Democratic  Joe Biden (Incumbent)  147831  60.11%  +2.15%    49730  245932
2  Republican         John M. Burris   98101  39.89%  -1.13%    49730  245932

        Party             Candidate    Votes       %        Majority  Turnout
1  Democratic  Sam Nunn (Incumbent)  1344104  79.94%  -3.19%  1006908  1681300
2  Republican            Mike Hicks   337196  20.06%  +3.19%  1006908  1681300

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,James A. McClure (Incumbent),293193,72.19%,187602,406168
2,Democratic,Peter M. Busch,105591,26.00%,187602,406168
3,Libertarian,Donald B. Billings,7384,1.82%,187602,406168

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Paul Simon,2397165,50.07%,+4.60%,89126,4787335
2,Republican,Charles H. Percy (Incumbent),2308039,48.21%,-5.13%,89126,4787335
3,Libertarian,Steve I. Givot,59777,1.25%,+0.74%,89126,4787335
5,Socialist Workers,Nelson Gonzalez,4913,0.10%,-0.40%,89126,4787335

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Tom Harkin,716883,55.46%,+7.54%,152502,1292700
2,Republican,Roger Jepsen (Incumbent),564381,43.66%,-7.47%,152502,1292700

          Party            Candidate   Votes       % Majority Total votes
1    Republican      Nancy Kassebaum  757402  75.99%   545738      996729
2    Democratic       James R. Maher  211664  21.24%   545738      996729
3  Conservative       Lucille Bieger    9380   0.94%   545738      996729
4      American  Marian Ruck Jackson    6918   0.69%   545738      996729
5   Libertarian   Douglas N. Merritt    6755   0.68%   545738      996729
6   Prohibition      Freda H. Steele    4610   0.46%   545738      996729

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Mitch McConnell,644990,49.90%,+13.03%,5269,1292407
2,Democratic,Walter Huddleston (Incumbent),639721,49.50%,-11.48%,5269,1292407

,Party,Candidate,Votes,%,Majority,Turnout
1,Republican,William Cohen (Incumbent),404414,73.34%,261788,551378
2,Democratic,Libby Mitchell,142626,25.87%,261788,551378
3,Constitutionalist,P. Ann Stoddard,4338,0.79%,261788,551378

        Party   Candidate    Votes       %  Turnout Majority
1  Democratic  John Kerry  1393150  55.06%  2530063   256237
2  Republican  Ray Shamie  1136913  44.94%  2530063   256237

            Party               Candidate    Votes      %  Turnout Majority
1      Democratic  Carl Levin (Incumbent)  1915831  51.8%  3700915   170529
2      Republican             Jack Lousma  1745302  47.2%  3700915   170529
3  Tisch Citizens    Arthur Richard Tisch    22882   0.6%  3700915   170529
4     Libertarian           Lynn Johnston     7786   0.2%  3700915   170529
5       Socialist            Helen Meyers     2686   0.1%  3700915   170529
6   Workers World       William Roundtree     2279   0.1%  3700915   170529
7     Independent                Max Dean     2135   0.1%  3700915   170529
8       Communist          Samuel L. Webb     1196   0.0%  3700915   170529
9  Workers League            Fred Mazelis      818   0.0%  3700915   170529

,Party,Candidate,Votes,%,Turnout,Majority
1,Republican,Rudy Boschwitz (Incumbent),1199926,58.08%,2065903,347082
2,Democratic,Joan Growe,852844,41.28%,2065903,347082
3,Socialist Workers,Eleanor Garcia,5351,0.26%,2065903,347082
4,New Union Party,Jeffrey M. Miller,4653,0.23%,2065903,347082
5,Libertarian,Richard Putman,3129,0.15%,2065903,347082

        Party                 Candidate   Votes      % Turnout Majority
1  Republican  Thad Cochran (Incumbent)  580314  60.9%  952240   298388
2  Democratic            William Winter  371926  39.1%  952240   298388

        Party               Candidate   Votes       %        Majority Turnout
1  Democratic  Max Baucus (Incumbent)  215704  56.89%  +1.20%    61396  379155
2  Republican           Chuck Cozzens  154308  40.70%  -3.61%    61396  379155

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,J. James Exon (Incumbent),332217,51.94%,-15.72%,25070,639668
2,Republican,Nancy Hoch,307147,48.02%,+15.67%,25070,639668

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,Gordon J. Humphrey (Incumbent),225828,58.75%,67381,384369
2,Democratic,Norman D'Amours,157447,40.96%,67381,384369
3,Libertarian,Saunder H. Primack,1094,0.28%,67381,384369

,Party,Candidate,Votes,%,Majority,Total votes
1,Democratic,Bill Bradley (Incumbent),1986644,64.16%,906544,3096456
2,Republican,Mary V. Mochary,1080100,34.88%,906544,3096456
3,Independent,James T. Hagen,10409,0.34%,906544,3096456
4,Libertarian,Harold F. Leiendecker,7135,0.23%,906544,3096456
5,Socialist Labor,Julis Levin,6053,0.20%,906544,3096456
6,Socialist Workers,Priscilla Schenk,3224,0.10%,906544,3096456
7,Independent,Jasper C. Gould,2891,0.09%,906544,3096456

        Party                  Candidate   Votes       % Majority Total votes
1  Republican  Pete Domenici (Incumbent)  361371  71.90%   220118      502634
2  Democratic               Judith Pratt  141253  28.10%   220118      502634

,Party,Candidate,Votes,%,Turnout,Majority
1,Republican,Jesse Helms (Incumbent),1156768,51.7%,2239051,86280
2,Democratic,Jim Hunt,1070488,47.8%,2239051,86280
3,Libertarian,Bobby Emory,9302,0.4%,2239051,86280
4,Socialist Workers,Kate Daher,2493,0.1%,2239051,86280

         Party                Candidate   Votes      % Majority    Total votes
1   Democratic  David Boren (Incumbent)  906131  75.6%   625493  1,197,937[24]
2   Republican     Will E. Bill Crozier  280638  23.4%   625493  1,197,937[24]
3  Libertarian         Robert T. Murphy   11168   0.9%   625493  1,197,937[24]

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,Mark Hatfield (Incumbent),808152,66.53%,402030,1214735
2,Democratic,Margie Hendricksen,406122,33.43%,402030,1214735
3,Independent Republican,Ralph H. Preston,461,0.04%,402030,1214735

        Party                   Candidate   Votes       % Majority Total votes
1  Democratic  Claiborne Pell (Incumbent)  285811  72.66%   178266      393356
2  Republican             Barbara Leonard  107545  27.34%   178266      393356

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Strom Thurmond (Incumbent),644814,66.8%,+11.2%,337832,965454
2,Democratic,Melvin Purvis,306982,31.8%,-12.6%,337832,965454
3,Libertarian,Stephen Davis,13323,1.4%,+1.4%,337832,965454
4,No party,Write-Ins,335,0.0%,0.0%,337832,965454

        Party                   Candidate   Votes       % Majority Total votes
1  Republican  Larry Pressler (Incumbent)  235176  74.49%   154639      315713
2  Democratic        George V. Cunningham   80537  25.51%   154639      315713

         Party                 Candidate    Votes       %  Turnout Majority
1   Democratic                   Al Gore  1000607  60.72%  1640836   443591
2   Republican               Victor Ashe   557016  33.80%  1640836   443591
3  Independent                Ed McAteer    87234   5.29%  1640836   443591
4  Independent  Khalil-Ullah Al-Muhaymin     3179   0.19%  1640836   443591

        Party      Candidate    Votes      %  Turnout Majority
1  Republican     Phil Gramm  3111348  58.6%  5313905   908791
2  Democratic  Lloyd Doggett  2202557  41.4%  5313905   908791

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,John Warner (Incumbent),1406194,70.05%,+19.88%,805052,2007487
2,Democratic,Edythe C. Harrison,601142,29.95%,-19.84%,805052,2007487

,Party,Candidate,Votes,%,Majority,Total votes
1,Democratic,Jay Rockefeller,374233,51.82%,29553,722212
2,Republican,John Raese,344680,47.73%,29553,722212
3,Socialist Workers,Mary E. 'Joan' Radin,3299,0.46%,29553,722212

,Party,Candidate,Votes,%,Majority,Total votes
1,Republican,Alan K. Simpson (Incumbent),146373,78.32%,105848,186898
2,Democratic,Victor A. Ryan,40525,21.68%,105848,186898

        Party                    Candidate   Votes       % Majority  Turnout
1  Democratic               Richard Shelby  609360  50.28%     6823  1211897
2  Republican  Jeremiah Denton (Incumbent)  602537  49.72%     6823  1211897

         Party               Candidate  Votes       % Total votes
1   Republican  Frank Murkowski (inc.)  91705  63.11%      145310
2   Democratic              Glenn Olds  36995  25.46%      145310
3   Democratic             Bill Barnes   4871   3.35%      145310
4  Libertarian             Chuck House   4265   2.94%      145310
5   Democratic         Dave J. Carlson   4211   2.90%      145310
6   Democratic       Michael J. Bruner   1809   1.24%      145310
7   Democratic            Karl Francis   1454   1.00%      145310

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Frank Murkowski (Incumbent),97674,54.02%,+0.34%,17947,180801
2,Democratic,Glenn Olds,79727,44.10%,-1.84%,17947,180801

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,John McCain (Incumbent),521850,60.47%,+11.02%,180885,862921
2,Democratic,Richard Kimball,340965,39.51%,-8.87%,180885,862921

         Party                 Candidate   Votes      % Majority Turnout
1   Democratic  Dale Bumpers (Incumbent)  433122  62.3%   170809  695487
2   Republican            Asa Hutchinson  262313  37.7%   170809  695487
3  Independent              Ralph Forbes      52   0.1%   170809  695487

,Party,Candidate,Votes,%,Majority,Turnout
1,Democratic,Alan Cranston (Incumbent),3646672,49.3%,104868,7398522
2,Republican,Ed Zschau,3541804,47.9%,104868,7398522
3,American Independent,Edward B Vallen,109916,1.5%,104868,7398522
4,Libertarian,Breck McKinley,66261,0.9%,104868,7398522
5,Peace and Freedom,Paul Kangas,33869,0.5%,104868,7398522

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Tim Wirth,529449,49.91%,-0.42%,16455,1060765
2,Republican,Ken Kramer,512994,48.36%,-0.34%,16455,1060765
5,Independent American,Henry John Olshaw,1868,0.18%,-0.17%,16455,1060765

         Party                Candidate   Votes      % Majority Turnout
1   Democratic  Christ Dodd (Incumbent)  632695  64.8%   292257  976933
2   Republican               Roger Eddy  340438  34.9%   292257  976933
3  Independent  Edward J. McCallum, Jr.    3800   0.4%   292257  976933

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Bob Graham,1877543,54.74%,+6.40%,325167,3429996
2,Republican,Paula Hawkins (Incumbent),1552376,45.26%,-6.40%,325167,3429996

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Wyche Fowler,623707,50.91%,+1.78%,22466,1225008
2,Republican,Mack Mattingly (Incumbent),601241,49.08%,-1.79%,22466,1225008

        Party                  Candidate   Votes       % Majority Turnout
1  Democratic  Daniel Inouye (Incumbent)  241887  73.57%   154977  328797
2  Republican           Frank Hutchinson   86910  26.43%   154977  328797

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Steve Symms (Incumbent),196958,51.56%,+1.81%,11892,382024
2,Democratic,John V. Evans,185066,48.44%,-0.33%,11892,382024

,Party,Candidate,Votes,%,,Majority,Turnout
1,Democratic,Alan J. Dixon (Incumbent),2033783,65.1%,+9.1%,980049,3122883
2,Republican,Judy Koehler,1053734,33.7%,-8.8%,980049,3122883

         Party               Candidate   Votes       % Majority  Turnout
1   Republican  Dan Quayle (Incumbent)  936143  60.57%   340951  1545563
2   Democratic            Jill L. Long  595192  38.51%   340951  1545563
3  Libertarian         Bradford Warren    8314   0.54%   340951  1545563
4     American         Rockland Snyder    5914   0.38%   340951  1545563

,Party,Candidate,Votes,%,,Majority,Turnout
1,Republican,Chuck Grassley (Incumbent),588880,66.04%,+12.55%,289474,891762
2,Democratic,John P. Roehrick,299406,33.57%,-11.97%,289474,891762

In [23]:
test = table_checker(dict_=yr_st_dict_mapped)
print(type(test))
test

Key to pull:2006
<class 'pandas.core.frame.DataFrame'>

,Party,Candidate,Votes,%,,Majority,Turnout,Invalid or blank votes,Total votes,Plurality,Incumb_Y,State
0,Republican,Jon Kyl (Incumbent),814398,53.34%,-25.98%,150257,1526782,NaN,NaN,NaN,1,Arizona
1,Democratic,Jim Pederson,664141,43.50%,+43.50%,150257,1526782,NaN,NaN,NaN,0,None
2,Libertarian,Richard Mack,48231,3.16%,-1.90%,150257,1526782,NaN,NaN,NaN,0,None
3,Republican,Dick Mountjoy,1560472,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
4,American Independent,Don J. Grundmann,30787,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
5,Libertarian,Michael S. Metti,16742,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
6,Peace and Freedom,Marsha Feinland,4109,100.00%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
7,Democratic,Dianne Feinstein (incumbent),5076289,59.43%,NaN,NaN,NaN,357583,8899059,NaN,0,None
8,Republican,Dick Mountjoy,2990822,35.02%,NaN,NaN,NaN,357583,8899059,NaN,0,None
9,Green,Todd Chretien,147074,1.72%,NaN,NaN,NaN,357583,8899059,NaN,0,None
10,Libertarian,Michael S. Metti,133851,1.57%,NaN,NaN,NaN,357583,8899059,NaN,0,None
11,Peace and Freedom,Marsha Feinland,117764,1.38%,NaN,NaN,NaN,357583,8899059,NaN,0,None
12,American Independent,Don Grundmann,75350,0.88%,NaN,NaN,NaN,357583,8899059,NaN,0,None
13,Green,Kent Mesplay (write-in),160,0.00%,NaN,NaN,NaN,357583,8899059,NaN,0,None
14,Independent,Jeffrey Mackler (write-in),108,0.00%,NaN,NaN,NaN,357583,8899059,NaN,0,None
15,Independent,Lea Sherman (write-in),47,0.00%,NaN,NaN,NaN,357583,8899059,NaN,0,None
16,Independent,Connor Vlakancic (write-in),11,0.00%,NaN,NaN,NaN,357583,8899059,NaN,0,None
17,Connecticut for Lieberman,Joe Lieberman (incumbent),564095,49.7%,NaN,113251,1134777,NaN,NaN,NaN,0,None
18,Democratic,Ned Lamont,450844,39.7%,NaN,113251,1134777,NaN,NaN,NaN,0,None
19,Republican,Alan Schlesinger,109198,9.6%,NaN,113251,1134777,NaN,NaN,NaN,0,None
20,Green,Ralph Ferrucci,5922,0.6%,NaN,113251,1134777,NaN,NaN,NaN,0,None
21,Concerned Citizens,Timothy Knibbs,4638,0.4%,NaN,113251,1134777,NaN,NaN,NaN,0,None
22,Write-in,Carl E. Vassar,80,0.0%,NaN,113251,1134777,NaN,NaN,NaN,0,None
23,Democratic,Thomas Carper (Incumbent),170567,67.13%,+11.60%,100833,254099,NaN,NaN,NaN,1,None
24,Republican,Jan Ting,69734,27.44%,-16.26%,100833,254099,NaN,NaN,NaN,0,None
25,Libertarian,William E. Morris,2671,1.05%,+0.71%,100833,254099,NaN,NaN,NaN,0,None
26,Democratic,Bill Nelson (Incumbent),2890548,60.3%,+9.8%,1064421,4793534,NaN,NaN,NaN,1,Florida
27,Republican,Katherine Harris,1826127,38.1%,-8.1%,1064421,4793534,NaN,NaN,NaN,0,None
28,Democratic,Daniel Akaka (Incumbent),210330,61.4%,-11.5%,84233,342842,NaN,NaN,NaN,1,Hawaii
29,Republican,Cynthia Thielen,126097,36.8%,+12.3%,84233,342842,NaN,NaN,NaN,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...
82,Democratic,Sheldon Whitehouse,206043,53.52%,+12.37%,27093,384993,NaN,NaN,NaN,0,Rhode_Island
83,Republican,Lincoln Chafee (Incumbent),178950,46.48%,-10.40%,27093,384993,NaN,NaN,NaN,1,Rhode_Island
84,Republican,Bob Corker,929911,50.7%,-14.4,49935,1833693,NaN,NaN,NaN,0,Tennessee
85,Democratic,"Harold Ford, Jr.",879976,48.0%,15.8,49935,1833693,NaN,NaN,NaN,0,None
86,Republican,Kay Bailey Hutchison (Incumbent),2661789,61.69%,-4.65%,1106587,4314663,NaN,NaN,NaN,1,Texas
87,Democratic,Barbara Ann Radnofsky,1555202,36.04%,+3.69%,1106587,4314663,NaN,NaN,NaN,0,None
88,Libertarian,Scott Jameson,97672,2.26%,+1.10%,1106587,4314663,NaN,NaN,NaN,0,None
89,Republican,Orrin Hatch (Incumbent),356238,62.36%,-3.22%,178779,571252,NaN,NaN,NaN,1,Utah
90,Democratic,Pete Ashdown,177459,31.06%,-0.45%,178779,571252,NaN,NaN,NaN,0,None
91,Libertarian,Dave Seely,4428,0.78%,-1.35%,178779,571252,NaN,NaN,NaN,0,None
92,Republican,Richard Tarrant,84924,32.3%,-33.2%,86741,262419,NaN,NaN,NaN,0,None
93,Liberty Union,Peter Diamondstone,801,0.31%,-0.2%,86741,262419,NaN,NaN,NaN,0,None
94,Democratic,Jim Webb,1175606,49.59%,+1.91%,NaN,2370445,NaN,NaN,9329,0,Virginia
95,Republican,George Allen (Incumbent),1166277,49.20%,-3.05%,NaN,2370445,NaN,NaN,9329,1,Virginia
96,Independent Greens,Gail Parker,26102,1.10%,+1.10%,NaN,2370445,NaN,NaN,9329,0,None
97,Democratic,Maria Cantwell (Incumbent),1184659,56.85%,+7.75%,343084,2083734,NaN,NaN,NaN,1,Washington
98,Republican,Mike McGavick,832106,39.93%,-9.02%,343084,2083734,NaN,NaN,NaN,0,None
99,Libertarian,Bruce Guthrie,29331,1.41%,+0.20%,343084,2083734,NaN,NaN,NaN,0,None
100,Green,Aaron Dixon,21254,1.02%,-0.02%,343084,2083734,NaN,NaN,NaN,0,None
101,Democratic,Robert Byrd (Incumbent),296276,64.4%,-13.3%,141233,459884,NaN,NaN,NaN,1,West_Virginia
102,Republican,John Raese,155043,33.7%,+13.56%,141233,459884,NaN,NaN,NaN,0,None
103,Democratic,Herb Kohl (Incumbent),308178,85.66%,NaN,NaN,NaN,NaN,NaN,NaN,1,Wisconsin
104,Democratic,Ben Masel,51245,14.24%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
105,Democratic Party,Other,335,0.09%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
106,Republican,Robert Lorge,194633,99.73%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
107,Republican Party,Other,530,0.27%,NaN,NaN,NaN,NaN,NaN,NaN,0,None
108,Democratic,Herb Kohl (Incumbent),1439214,67.31%,+5.8%,808915,2138297,NaN,NaN,NaN,1,Wisconsin
109,Republican,Robert Lorge,630299,29.48%,-7.5%,808915,2138297,NaN,NaN,NaN,0,None
110,Republican,Craig L. Thomas (Incumbent),135174,69.99%,-3.78%,77503,193136,NaN,NaN,NaN,1,Wyoming
111,Democratic,Dale Groutage,57671,29.86%,+7.82%,77503,193136,NaN,NaN,NaN,0,None

In [ ]:
test = list(name_lookup_df['Incumbent'].head(10))


if 'James Paul Clarke' in test:
    tester = name_lookup_df[name_lookup_df['Incumbent'] == 'James Paul Clarke']['State_id']
    print(type(tester))
tester.values

for i in tester:
    if not '(' in i:
        print(i)

In [18]:
test_years = ['1918', '1952', '1980', '2006', '2018']
test_dict = {}

for y in test_years:
    test_dict[y] = yr_st_dict[y]
    
print(test_dict.keys())

dict_keys(['1918', '1952', '1980', '2006', '2018'])

STARTER CODE FOR MAPPING FUNCTION

In [28]:
table_checker(dict_=test_dict_fin)

Key to pull:2006

,%,Candidate,Incumb_Y,Invalid or blank votes,Majority,Party,Plurality,State,Total votes,Turnout,Votes,
0,53.34%,Jon Kyl (Incumbent),1,NaN,150257,Republican,NaN,Arizona,NaN,1526782,814398,-25.98%
1,43.50%,Jim Pederson,0,NaN,150257,Democratic,NaN,Arizona,NaN,1526782,664141,+43.50%
2,3.16%,Richard Mack,0,NaN,150257,Libertarian,NaN,Arizona,NaN,1526782,48231,-1.90%
3,100.00%,Dick Mountjoy,0,NaN,NaN,Republican,NaN,NaN,NaN,NaN,1560472,NaN
4,100.00%,Don J. Grundmann,0,NaN,NaN,American Independent,NaN,NaN,NaN,NaN,30787,NaN
5,100.00%,Michael S. Metti,0,NaN,NaN,Libertarian,NaN,NaN,NaN,NaN,16742,NaN
6,100.00%,Marsha Feinland,0,NaN,NaN,Peace and Freedom,NaN,NaN,NaN,NaN,4109,NaN
7,59.43%,Dianne Feinstein (incumbent),0,357583,NaN,Democratic,NaN,NaN,8899059,NaN,5076289,NaN
8,35.02%,Dick Mountjoy,0,357583,NaN,Republican,NaN,NaN,8899059,NaN,2990822,NaN
9,1.72%,Todd Chretien,0,357583,NaN,Green,NaN,NaN,8899059,NaN,147074,NaN
10,1.57%,Michael S. Metti,0,357583,NaN,Libertarian,NaN,NaN,8899059,NaN,133851,NaN
11,1.38%,Marsha Feinland,0,357583,NaN,Peace and Freedom,NaN,NaN,8899059,NaN,117764,NaN
12,0.88%,Don Grundmann,0,357583,NaN,American Independent,NaN,NaN,8899059,NaN,75350,NaN
13,0.00%,Kent Mesplay (write-in),0,357583,NaN,Green,NaN,NaN,8899059,NaN,160,NaN
14,0.00%,Jeffrey Mackler (write-in),0,357583,NaN,Independent,NaN,NaN,8899059,NaN,108,NaN
15,0.00%,Lea Sherman (write-in),0,357583,NaN,Independent,NaN,NaN,8899059,NaN,47,NaN
16,0.00%,Connor Vlakancic (write-in),0,357583,NaN,Independent,NaN,NaN,8899059,NaN,11,NaN
17,49.7%,Joe Lieberman (incumbent),0,NaN,113251,Connecticut for Lieberman,NaN,NaN,NaN,1134777,564095,NaN
18,39.7%,Ned Lamont,0,NaN,113251,Democratic,NaN,NaN,NaN,1134777,450844,NaN
19,9.6%,Alan Schlesinger,0,NaN,113251,Republican,NaN,NaN,NaN,1134777,109198,NaN
20,0.6%,Ralph Ferrucci,0,NaN,113251,Green,NaN,NaN,NaN,1134777,5922,NaN
21,0.4%,Timothy Knibbs,0,NaN,113251,Concerned Citizens,NaN,NaN,NaN,1134777,4638,NaN
22,0.0%,Carl E. Vassar,0,NaN,113251,Write-in,NaN,NaN,NaN,1134777,80,NaN
23,67.13%,Thomas Carper (Incumbent),1,NaN,100833,Democratic,NaN,NaN,NaN,254099,170567,+11.60%
24,27.44%,Jan Ting,0,NaN,100833,Republican,NaN,NaN,NaN,254099,69734,-16.26%
25,1.05%,William E. Morris,0,NaN,100833,Libertarian,NaN,NaN,NaN,254099,2671,+0.71%
26,60.3%,Bill Nelson (Incumbent),1,NaN,1064421,Democratic,NaN,Florida,NaN,4793534,2890548,+9.8%
27,38.1%,Katherine Harris,0,NaN,1064421,Republican,NaN,Florida,NaN,4793534,1826127,-8.1%
28,61.4%,Daniel Akaka (Incumbent),1,NaN,84233,Democratic,NaN,Hawaii,NaN,342842,210330,-11.5%
29,36.8%,Cynthia Thielen,0,NaN,84233,Republican,NaN,Hawaii,NaN,342842,126097,+12.3%
...,...,...,...,...,...,...,...,...,...,...,...,...
82,53.52%,Sheldon Whitehouse,0,NaN,27093,Democratic,NaN,Rhode_Island,NaN,384993,206043,+12.37%
83,46.48%,Lincoln Chafee (Incumbent),1,NaN,27093,Republican,NaN,Rhode_Island,NaN,384993,178950,-10.40%
84,50.7%,Bob Corker,0,NaN,49935,Republican,NaN,Tennessee,NaN,1833693,929911,-14.4
85,48.0%,"Harold Ford, Jr.",0,NaN,49935,Democratic,NaN,Tennessee,NaN,1833693,879976,15.8
86,61.69%,Kay Bailey Hutchison (Incumbent),1,NaN,1106587,Republican,NaN,Texas,NaN,4314663,2661789,-4.65%
87,36.04%,Barbara Ann Radnofsky,0,NaN,1106587,Democratic,NaN,Texas,NaN,4314663,1555202,+3.69%
88,2.26%,Scott Jameson,0,NaN,1106587,Libertarian,NaN,Texas,NaN,4314663,97672,+1.10%
89,62.36%,Orrin Hatch (Incumbent),1,NaN,178779,Republican,NaN,Utah,NaN,571252,356238,-3.22%
90,31.06%,Pete Ashdown,0,NaN,178779,Democratic,NaN,Utah,NaN,571252,177459,-0.45%
91,0.78%,Dave Seely,0,NaN,178779,Libertarian,NaN,Utah,NaN,571252,4428,-1.35%
92,32.3%,Richard Tarrant,0,NaN,86741,Republican,NaN,NaN,NaN,262419,84924,-33.2%
93,0.31%,Peter Diamondstone,0,NaN,86741,Liberty Union,NaN,NaN,NaN,262419,801,-0.2%
94,49.59%,Jim Webb,0,NaN,NaN,Democratic,9329,Virginia,NaN,2370445,1175606,+1.91%
95,49.20%,George Allen (Incumbent),1,NaN,NaN,Republican,9329,Virginia,NaN,2370445,1166277,-3.05%
96,1.10%,Gail Parker,0,NaN,NaN,Independent Greens,9329,Virginia,NaN,2370445,26102,+1.10%
97,56.85%,Maria Cantwell (Incumbent),1,NaN,343084,Democratic,NaN,Washington,NaN,2083734,1184659,+7.75%
98,39.93%,Mike McGavick,0,NaN,343084,Republican,NaN,Washington,NaN,2083734,832106,-9.02%
99,1.41%,Bruce Guthrie,0,NaN,343084,Libertarian,NaN,Washington,NaN,2083734,29331,+0.20%
100,1.02%,Aaron Dixon,0,NaN,343084,Green,NaN,Washington,NaN,2083734,21254,-0.02%
101,64.4%,Robert Byrd (Incumbent),1,NaN,141233,Democratic,NaN,West_Virginia,NaN,459884,296276,-13.3%
102,33.7%,John Raese,0,NaN,141233,Republican,NaN,West_Virginia,NaN,459884,155043,+13.56%
103,85.66%,Herb Kohl (Incumbent),1,NaN,NaN,Democratic,NaN,Wisconsin,NaN,NaN,308178,NaN
104,14.24%,Ben Masel,0,NaN,NaN,Democratic,NaN,Wisconsin,NaN,NaN,51245,NaN
105,0.09%,Other,0,NaN,NaN,Democratic Party,NaN,Wisconsin,NaN,NaN,335,NaN
106,99.73%,Robert Lorge,0,NaN,NaN,Republican,NaN,NaN,NaN,NaN,194633,NaN
107,0.27%,Other,0,NaN,NaN,Republican Party,NaN,NaN,NaN,NaN,530,NaN
108,67.31%,Herb Kohl (Incumbent),1,NaN,808915,Democratic,NaN,Wisconsin,NaN,2138297,1439214,+5.8%
109,29.48%,Robert Lorge,0,NaN,808915,Republican,NaN,Wisconsin,NaN,2138297,630299,-7.5%
110,69.99%,Craig L. Thomas (Incumbent),1,NaN,77503,Republican,NaN,Wyoming,NaN,193136,135174,-3.78%
111,29.86%,Dale Groutage,0,NaN,77503,Democratic,NaN,Wyoming,NaN,193136,57671,+7.82%

In [21]:
test_dict_fin['1980']

,%,Candidate,Incumb_Y,Majority,Party,State,Total votes,Turnout,Votes,
0,50.15%,Jeremiah Denton,0,40187,Republican,Alabama,NaN,1296757,650362,NaN
1,47.05%,Jim Folsom,0,40187,Democratic,Alabama,NaN,1296757,610175,NaN
2,1.23%,Michael R. A. Erdey,0,40187,Conservative,Alabama,NaN,1296757,15989,NaN
3,1.01%,William A. Crew,0,40187,Libertarian,Alabama,NaN,1296757,13098,NaN
4,0.23%,Sallie M. Hadnott,0,40187,National Democrat,Alabama,NaN,1296757,2973,NaN
5,0.20%,Jim Partain,0,40187,Statesman Party,Alabama,NaN,1296757,2649,NaN
6,0.12%,Mohammed Oliver,0,40187,Socialist Workers,Alabama,NaN,1296757,1511,NaN
7,53.69%,Frank Murkowski,0,12152,Republican,Alaska,NaN,156762,84159,+11.97%
8,45.93%,Clark Gruening,0,12152,Democratic,Alaska,NaN,156762,72007,-12.35%
9,49.46%,Barry Goldwater (Incumbent),1,9399,Republican,Arizona,NaN,874225,432371,NaN
10,48.38%,Bill Schulz,0,9399,Democratic,Arizona,NaN,874225,422972,NaN
11,1.37%,Fred R. Esser,0,9399,Libertarian,Arizona,NaN,874225,12008,NaN
12,0.41%,Lorenzo Torrez,0,9399,People Over Politics,Arizona,NaN,874225,3608,NaN
13,0.37%,Josefina Otero,0,9399,Socialist Workers,Arizona,NaN,874225,3266,NaN
14,57.0%,Dale Bumpers (Incumbent),1,117329,Democratic,Arkansas,NaN,808812,477905,NaN
15,43.0%,Bill Clark,0,117329,Republican,Arkansas,NaN,808812,360576,NaN
16,0.0%,Walter McCarty,0,117329,Independent,Arkansas,NaN,808812,331,NaN
17,56.5%,Alan Cranston (Incumbent),1,1612427,Democratic,California,NaN,8324012,4705399,NaN
18,37.2%,Paul Gann,0,1612427,Republican,California,NaN,8324012,3093426,NaN
19,2.4%,David Bergland,0,1612427,Libertarian,California,NaN,8324012,202481,NaN
20,2.4%,David Wald,0,1612427,Peace and Freedom,California,NaN,8324012,196354,NaN
21,1.6%,James C. Griffin,0,1612427,American Independent,California,NaN,8324012,129648,NaN
22,50.33%,Gary Hart (Incumbent),1,19206,Democratic,Colorado,NaN,1173142,590501,6.90%
23,48.70%,Mary Estill Buchanan,0,19206,Republican,Colorado,NaN,1173142,571295,+9.20%
24,56.3%,Chris Dodd,0,182085,Democratic,Connecticut,NaN,1356075,763969,NaN
25,42.9%,James Buckley,0,182085,Republican,Connecticut,NaN,1356075,581884,NaN
26,0.4%,Jerry Brennan,0,182085,Libertarian,Connecticut,NaN,1356075,5336,NaN
27,0.4%,Andrew J. Zemel,0,182085,Concerned Citizens,Connecticut,NaN,1356075,4772,NaN
28,51.66%,Paula Hawkins,0,117051,Republican,Florida,NaN,3528028,1822460,+10.74%
29,48.34%,Bill Gunter,0,117051,Democratic,Florida,NaN,3528028,1705409,+4.96%
...,...,...,...,...,...,...,...,...,...,...
87,0.2%,Paul E. Trent,0,108969,Independent,Oklahoma,NaN,NaN,1823,NaN
88,52.13%,Bob Packwood (Incumbent),1,NaN,Republican,Oregon,1139939,NaN,594290,NaN
89,44.03%,Ted Kulongoski,0,NaN,Democratic,Oregon,1139939,NaN,501963,NaN
90,3.83%,Tonie Nathan,0,NaN,Libertarian,Oregon,1139939,NaN,43686,NaN
91,50.48%,Arlen Specter,0,108013,Republican,Pennsylvania,NaN,4418042,2230404,NaN
92,48.04%,Peter F. Flaherty,0,108013,Democratic,Pennsylvania,NaN,4418042,2122391,NaN
93,0.62%,Linda Mohrbacher,0,108013,Socialist Workers,Pennsylvania,NaN,4418042,27229,NaN
94,0.42%,David K. Walter,0,108013,Libertarian,Pennsylvania,NaN,4418042,18595,NaN
95,0.36%,Lee Frissell,0,108013,Consumer,Pennsylvania,NaN,4418042,16089,NaN
96,0.08%,Frank Kinces,0,108013,Communist,Pennsylvania,NaN,4418042,3334,NaN
97,70.4%,Fritz Hollings (Incumbent),1,354610,Democratic,South_Carolina,NaN,870596,612556,+1.0%
98,29.6%,Marshall Mays,0,354610,Republican,South_Carolina,NaN,870596,257946,+0.9%
99,0.0%,Write-Ins,0,354610,No party,South_Carolina,NaN,870596,94,0.0%
100,58.20%,James Abdnor,0,61576,Republican,South_Dakota,NaN,327478,190594,+11.24%
101,39.40%,George McGovern (Incumbent),1,61576,Democratic,South_Dakota,NaN,327478,129018,13.65%
102,73.65%,Jake Garn (Incumbent),1,286221,Republican,Utah,NaN,594298,437675,NaN
103,25.48%,Dan Berman,0,286221,Democratic,Utah,NaN,594298,151454,NaN
104,0.54%,Bruce Bangerter,0,286221,Independent,Utah,NaN,594298,3186,NaN
105,0.33%,George M. Batchelor,0,286221,American,Utah,NaN,594298,1983,NaN
106,49.8%,Patrick Leahy (Incumbent),1,2755,Democratic,Vermont,209188,NaN,104089,NaN
107,48.6%,Steward M. Ledbetter,0,2755,Republican,Vermont,209188,NaN,101647,NaN
108,0.8%,Anthony N. Doria,0,2755,Independent,Vermont,209188,NaN,1764,NaN
109,0.8%,Earl S. Gardner,0,2755,Liberty Union,Vermont,209188,NaN,1578,NaN
110,54.2%,Slade Gorton,0,144265,Republican,Washington,1728369,NaN,936317,NaN
111,45.8%,Warren Magnuson (Incumbent),1,144265,Democratic,Washington,1728369,NaN,792052,NaN
112,50.44%,Bob Kasten,0,40284,Republican,Wisconsin,NaN,2204135,1106311,NaN
113,48.34%,Gaylord Nelson (Incumbent),1,40284,Democratic,Wisconsin,NaN,2204135,1065487,NaN
114,0.73%,James P. Wickstrom,0,40284,Constitution,Wisconsin,NaN,2204135,16156,NaN
115,0.44%,Bervin J. Larson,0,40284,Libertarian,Wisconsin,NaN,2204135,9679,NaN
116,0.30%,Susan Hagen,0,40284,Socialist Workers,Wisconsin,NaN,2204135,6502,NaN

Check why some tables are not getting matched to states

In [71]:
name_lookup_df[name_lookup_df['State_id'] == 'North_Dakota']

          State_id           Incumbent  Year
21    North_Dakota         Asle Gronna  1914
54    North_Dakota  Porter J. McCumber  1916
132   North_Dakota      Asle J. Gronna  1920
164   North_Dakota  Porter J. McCumber  1922
239   North_Dakota       Gerald P. Nye  1926
275   North_Dakota     Lynn J. Frazier  1928
353   North_Dakota       Gerald P. Nye  1932
387   North_Dakota        Lynn Frazier  1934
465   North_Dakota          Gerald Nye  1938
502   North_Dakota        Lynn Frazier  1940
577   North_Dakota          Gerald Nye  1944
611   North_Dakota      William Langer  1946
687   North_Dakota        Milton Young  1950
724   North_Dakota      William Langer  1952
805   North_Dakota        Milton Young  1956
838   North_Dakota      William Langer  1958
914   North_Dakota        Milton Young  1962
950   North_Dakota     Quentin Burdick  1964
1024  North_Dakota        Milton Young  1968
1055  North_Dakota     Quentin Burdick  1970
1128  North_Dakota        Milton Young  1974
1159  North_Dakota     Quentin Burdick  1976
1230  North_Dakota        Milton Young  1980
1261  North_Dakota     Quentin Burdick  1982
1330  North_Dakota        Mark Andrews  1986
1362  North_Dakota     Quentin Burdick  1988
1433  North_Dakota         Kent Conrad  1992
1466  North_Dakota         Kent Conrad  1994
1539  North_Dakota        Byron Dorgan  1998
1570  North_Dakota         Kent Conrad  2000
1642  North_Dakota        Byron Dorgan  2004
1673  North_Dakota         Kent Conrad  2006
1744  North_Dakota        Byron Dorgan  2010
1780  North_Dakota         Kent Conrad  2012
1853  North_Dakota         John Hoeven  2016
1884  North_Dakota      Heidi Heitkamp  2018

## Break

In [ ]:
for year in yr_sum_dict:
    coll = yr_sum_dict[year]
    for tab in coll:
        display(tab)

In [ ]:
count = 0
test_list = []
for table in election_collection_raw[year][2]:
    try:
        res = gen_election_cleaner(table, verbose=0)
        test_list.append(res)
        count += 1
    except:
        continue
        
    if count == 3:
        break

In [ ]:
for t in test_list:
    display(t)

**To format the tables I need to:**
* For each table in the dictionary, set the columns to `'State', 'Senator', 'Party', 'Electoral_History', 'Results', 'Candidates'`.
* If any of the rows look like row 0 & 1, remove them.
* Store the formatted tables back into container

In [ ]:
# test_df['Incumbent'].duplicated(keep=False)
test_df.groupby('Incumbent').indices

* Create a table with names as index and state as values .loc name of candidates to get state value
* Use table of each year's general summary to then pull the general elections out of whole list (index 2 in colleciton) based upon names in table + non-uniform party column
    * Need to merge (if special election) tables in collection index 1

In [ ]:
test = {'1918': ['fire'], '1920': 'jet', '1976': 'hello'}
test['1918'].append('bromine')
for i in test:
    print(i)
print(test['1918'])

* 1924 = 10
* 1926 = 12
* 1928 = 10
* Pull only tables with `shape[1]` of 5 or 6.
* Table 2 is always summary of senate leaders

Why after the 17th amendment?? [Link](https://en.wikipedia.org/wiki/Seventeenth_Amendment_to_the_United_States_Constitution)

For 1920 forward, proceed like 1976. Prior to this, will need to use first table with general info.

* **Clean up NaN value table from top of pages** -- Use index 2 to grab  nested table from `'infobox vevent'`.
* **Take list of states of top tables** and map to dfs
* Get demographic info wikidata
* eda time series of state party (heatmap)
* NLP on names, etc.
* [link for slider viz](https://medium.com/@sjacks/the-journey-to-an-attractive-visualization-bac019506a49)